<!-- Begin Afterpay Liquid Snippet for Shopify v2.3.0 -->
{% assign afterpay_logo_theme = 'colour' %}
{% assign afterpay_count_eligible_variants = 0 %}
{% assign afterpay_supported_currencies = 'AUD, NZD, USD' | split: ', ' %}
{% assign afterpay_maximum_value_in_cents = 100000 %}
{% if shop.currency == 'USD' %}
  {% assign afterpay_minimum_value_in_cents = 3500 %}
{% else %}
  {% assign afterpay_minimum_value_in_cents = 4 %}
{% endif %}
{% if afterpay_supported_currencies contains shop.currency %}
  {% for afterpay_variant in product.variants %}
    {% if afterpay_variant.available and afterpay_variant.price >= afterpay_minimum_value_in_cents and afterpay_variant.price <= afterpay_maximum_value_in_cents %}
      {% assign afterpay_count_eligible_variants = afterpay_count_eligible_variants | plus: 1 %}
    {% endif %}
  {% endfor %}
{% endif %}
<script type="text/javascript">
(
  function(i,s,o,g,r,a,m){
    i['GoogleAnalyticsObject']=r;
    i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments);
    },i[r].l=1*new Date();
    a=s.createElement(o),m=s.getElementsByTagName(o)[0];
    a.async=1;
    a.src=g;
    m.parentNode.insertBefore(a,m);
  }
)(window,document,'script','https://www.google-analytics.com/analytics.js','afterpay_ga');
afterpay_ga('create', 'UA-108913162-1', 'auto');
afterpay_ga('send', 'event', 'Liquid Snippet', 'Report Version', '2.3.0');
afterpay_ga('send', 'event', 'Theme', 'Report Name', {{ theme.name | json }});
afterpay_ga('send', 'event', 'Shop', 'Report Currency', {{ shop.currency | json }});
</script>
{% if afterpay_count_eligible_variants > 0 %}
{% comment %} This part of the snippet has been customised {% endcomment %}
<div class="afterpay">
    <div class="afterpay-content">
        <p class="afterpay-paragraph" style="display:{% if product.selected_or_first_available_variant.available and product.selected_or_first_available_variant.price >= afterpay_minimum_value_in_cents and product.selected_or_first_available_variant.price <= afterpay_maximum_value_in_cents %}block{% else %}none{% endif %};" data-product-id="{{ product.id }}">
            4 interest free payments <span> of </span>
        </p>
        <p>
            <span class="afterpay-instalments"></span>
            <a class="afterpay-info" href="https://www.afterpay.com/terms" target="_blank">
                FIND OUT MORE
            </a>
        </p>
    </div>
    <div class="afterpay-logo">
        <img style="vertical-align:middle;" src="https://static.afterpay.com/integration/product-page/logo-afterpay-{{ afterpay_logo_theme }}.png" srcset="https://static.afterpay.com/integration/product-page/logo-afterpay-{{ afterpay_logo_theme }}.png 1x, https://static.afterpay.com/integration/product-page/logo-afterpay-{{ afterpay_logo_theme }}@2x.png 2x, https://static.afterpay.com/integration/product-page/logo-afterpay-{{ afterpay_logo_theme }}@3x.png 3x" width="100" height="21" alt="Afterpay" />
    </div>
</div>
  {% if product.price_varies or afterpay_count_eligible_variants < product.variants.size %}
    <script type="text/javascript">
        if (typeof Afterpay === 'undefined') {
            var Afterpay = {products:[]};
            Afterpay.loadScript = function(url, callback) {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            if (script.readyState) { // I.E.
                script.onreadystatechange = function() {
                if (script.readyState == 'loaded' || script.readyState == 'complete') {
                    script.onreadystatechange = null;
                    callback();
                }
                };
            } else { // Others
                script.onload = function() {
                callback();
                };
            }
            script.src = url;
            document.getElementsByTagName('head')[0].appendChild(script);
            };
            Afterpay.init = function($) {
            $('body').on('change', $('form[action^="/cart/add"]'), function(event) {
                var $form = $(event.target).closest('form');
                var $afterpay_paragraph = null;
                var should_show_instalments = false;
                var selected_variant_id = parseInt($('input[name=id]:checked, select[name=id], input[name=id], hidden[name=id]', $form).val(), 10);
                if (isNaN(selected_variant_id)) {
                var $variant_options = $form.find('input[name=id][value], select[name=id] option[value], hidden[name=id][value]').filter(function(index, element) {
                    return $(element).attr('value').match(/^[1-9][0-9]*$/);
                });
                $variant_options.each(function(index, element) {
                    $.each(Afterpay.products, function(product_index, product) {
                    $.each(product.variants, function(variant_index, variant) {
                        if (variant.id == $(element).val()) {
                        $afterpay_paragraph = $('.afterpay-paragraph[data-product-id=' + product.id + ']');
                        return false;
                        }
                    });
                    if ($afterpay_paragraph !== null) {
                        return false;
                    }
                    });
                    if ($afterpay_paragraph !== null) {
                    return false;
                    }
                });
                } else if (selected_variant_id > 0) {
                $.each(Afterpay.products, function(product_index, product) {
                    $.each(product.variants, function(variant_index, variant) {
                    if (variant.id == selected_variant_id) {
                        $afterpay_paragraph = $('.afterpay-paragraph[data-product-id=' + product.id + ']');
                        if (variant.available && variant.price >= {{ afterpay_minimum_value_in_cents }} && variant.price <= {{ afterpay_maximum_value_in_cents }}) {
                        should_show_instalments = true;
                        $afterpay_paragraph.find('.afterpay-instalments').html('$' + (Math.round(variant.price / 4) / 100).toFixed(2) + '&nbsp;{{ shop.currency }}');
                        }
                    }
                    });
                });
                }
                if ($afterpay_paragraph !== null) {
                if (should_show_instalments) {
                    $afterpay_paragraph.show();
                } else {
                    $afterpay_paragraph.hide();
                }
                }
            });
            };
            if (typeof jQuery === 'undefined' || parseFloat(jQuery.fn.jquery) < 1.7) {
            Afterpay.loadScript('https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js', function() {
                var jQuery_1_12_4 = jQuery.noConflict(true);
                Afterpay.init(jQuery_1_12_4);
            });
            } else {
            Afterpay.init(jQuery);
            }
        }
        Afterpay.products.push({{ product | json }});

        //custom js
        var $selectProduct = $('select[name="id"]'),
            $afterpaySpan = $('.afterpay-paragraph span'),
            $bulkOption = $('.bulk-option'),
            $installment = $('.afterpay-instalments'),
            price,
            installmentValue ;

        var calculateInstallment = function(price){

            return (price / 4.0 ).toFixed(2);
        };

        var displayInstallment = function(installmentValue){

            if(installmentValue > 0){
                $installment.text('$' +  installmentValue + ' AUD');
                $afterpaySpan.text('of'); 
            }
            else{
                $installment.text('available');
                $afterpaySpan.text(''); 
            }
        };

        var displaySelectInstallment = function($select){

            var $afterpay = $select.closest('.addtocart').siblings('.afterpay').find('.afterpay-instalments');

            price = $select.find('option:selected').data('price');

            installmentValue = calculateInstallment(Number(price));

            if(installmentValue > 0)
                $afterpay.text('$' +  installmentValue + ' AUD'); 
        }

        //render text on page load
        //- bulk dropdown
        if($selectProduct.length)
            displaySelectInstallment($selectProduct);
        else if( $bulkOption.length){
            $afterpaySpan.text('');
            $installment.text('available');
        }

        $selectProduct.on('change', function(){
            displaySelectInstallment($(this));
        });

        //- bulk list
        $bulkOption.on('mouseover click', function(e){
            if (Foundation.MediaQuery.current == 'small')
                return;

            e.stopPropagation();

            price = $(this).find('.bulk-option-total').text();
            price = price.replace('$', '')
            installmentValue = calculateInstallment(Number(price));

            displayInstallment(installmentValue);
        })
        .on('mouseout focusout', function(){
            displayInstallment('');
        });

    </script>
  {% endif %}
{% endif %}
<!-- End Afterpay Liquid Snippet for Shopify v2.3.0 -->