<!-- /snippets/ajax-cart-template.liquid -->
{% comment %}
This snippet provides the default handlebars.js templates for
the ajax cart plugin. Use the raw liquid tags to keep the
handlebar.js template tags as available hooks.
{% endcomment %}

<script id="CartTemplate" type="text/template">
    {% raw %}
    <form action="/cart" method="post" novalidate class="cart ajaxcart">

        <div class="ajaxcart__inner">
        {{#items}}
        <div class="ajaxcart__product">
            <div class="ajaxcart__row" data-line="{{line}}">

                <a href="{{url}}" class="grid-x align-middle grid-padding-x">
                    <div class="cell small-4">
                        <img src="{{img}}" alt="">
                    </div>
                    <div class="cell auto">
                        <div class="ajaxcart__product-name">{{name}}</div>
                        {{#if variation}}<span class="ajaxcart__product-meta">{{variation}}</span>{{/if}}
                    </div>
                </a>

                {{#properties}}
                {{#each this}}
                {{#if this}}
                <span class="ajaxcart__product-meta">{{@key}}: {{this}}</span>
                {{/if}}
                {{/each}}
                {{/properties}}
                {% endraw %}

                {% raw %}


                <div class="grid-x align-middle grid-padding-x collapse align-justify ajaxcart__itemtotal">

                    <!-- Quantity -->
                    <div class="cell small-6">
                        <div class="ajaxcart__qty">
                            <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text" data-id="{{key}}" data-qty="{{itemMinus}}" data-line="{{line}}">
                                <span class="icon icon-minus" aria-hidden="true"></span>
                                <span class="fallback-text" aria-hidden="true">&minus;</span>
                                <span class="visually-hidden">{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}</span>
                            </button>
                            <input type="text" name="updates[]" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{key}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
                            <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}">
                                <span class="icon icon-plus" aria-hidden="true"></span>
                                <span class="fallback-text" aria-hidden="true">+</span>
                                <span class="visually-hidden">{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}</span>
                            </button>
                        </div>
                    </div>

                    <!-- Total -->
                    <div class="cell small-6 text-right">
                        {{#if discountsApplied}}
                        <small class="ajaxcart-item__price-strikethrough"><s>{{{originalLinePrice}}}</s></small>
                        <br><span>{{{linePrice}}}</span>
                        {{else}}
                        <span class="ajaxcart-item__price">{{{linePrice}}}</span>
                        {{/if}}
                    </div>
                </div>
                {{#if discountsApplied}}
                <div class="grid-x grid-padding-x">
                    <div class="cell text-right">
                        {{#each discounts}}
                        <small class="ajaxcart-item__discount">{{ this.title }}</small><br>
                        {{/each}}
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
        {{/items}}

        {% endraw %}
        {% raw %}
        </div>

               {% endraw %}
        {% if settings.cart_notes_enable %}
        {% raw %}
        <div class="ajaxcart__instructions">
            <textarea name="note" class="input-full" id="CartSpecialInstructions" placeholder="{% endraw %}{{ 'cart.general.note' | t }}{% raw %}">{{ note }}</textarea>
        </div>
        {% endraw %}

        {% endif %}
        {% raw %}

        <div class="ajaxcart__footer">

            <!-- Subtotal -->
            <div class="grid-x collapse">
                <div class="cell small-8">
                    <p>{% endraw %}{{ 'cart.general.subtotal' | t }}{% raw %}</p>
                </div>
                <div class="cell small-4 text-right">
                    <p>{{{totalPrice}}}</p>
                </div>
                {{#if totalCartDiscount}}
                <p class="ajaxcart__savings text-center"><em>{{{totalCartDiscount}}}</em></p>
                {{/if}}
            </div>

            <!-- Shipping -->
            <div class="grid-x collapse">
                <div class="cell small-8">
                    <p>{% endraw %}Australian Shipping{% raw %}</p>
                </div>
                <div class="cell small-4 text-right">
                    <p>Free</p>
                </div>
            </div>

            <p class="text-center">{% endraw %}{% raw %}</p>

            <button type="submit" class="btn--secondary btn--full cart__checkout" name="checkout">
                {% endraw %}{{ 'cart.general.checkout' | t }}{% raw %} &rarr;
            </button>
            {% endraw %}

            <!-- {% if additional_checkout_buttons %}
                <div class="additional_checkout_buttons">{{ content_for_additional_checkout_buttons }}</div>
                {% endif %} -->

            {% raw %}
        </div>
    </form>
    {% endraw %}
</script>

<script id="AjaxQty" type="text/template">
    {% raw %}
    <div class="ajaxcart__qty">
    <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text" data-id="{{key}}" data-qty="{{itemMinus}}">
        <span class="icon icon-minus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">&minus;</span>
        <span class="visually-hidden">{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}</span>
    </button>
    <input type="text" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*">
    <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text" data-id="{{key}}" data-qty="{{itemAdd}}">
        <span class="icon icon-plus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">+</span>
        <span class="visually-hidden">{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}</span>
    </button>
    </div>
{% endraw %}
</script>
<script id="JsQty" type="text/template">
    {% raw %}
    <div class="js-qty">
      <button type="button" class="js-qty__adjust js-qty__adjust--minus icon-fallback-text" data-id="{{key}}" data-qty="{{itemMinus}}">
        <span class="icon icon-minus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">&minus;</span>
        <span class="visually-hidden">{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}</span>
      </button>
      <input type="text" class="js-qty__num" value="{{itemQty}}" min="1" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
      <button type="button" class="js-qty__adjust js-qty__adjust--plus icon-fallback-text" data-id="{{key}}" data-qty="{{itemAdd}}">
        <span class="icon icon-plus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">+</span>
        <span class="visually-hidden">{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}</span>
      </button>
    </div>
  {% endraw %}
  </script>
