
{% comment %}
  Breadcrumbs used on the collection page within the filter section
{% endcomment %}

<nav class="breadcrumb filter-breadcrumbs" role="navigation" aria-label="breadcrumbs">
  <a href="/collections/all">All</a>
  
  {% if collection.url != '/collections/all' %}
    <span aria-hidden="true">&rsaquo;</span>
    <span class="collection-title">{{ collection.title }}</span>
  {% endif %}
</nav>

