{% if optionType == 'toggle'%}
    <div class="bulk-option is-toggle-options js-show-others">
        <div class="bulk-option-wrap">
            <div class="bulk-option-details">
                <span class="green"> Needing more? </span>
                <span class="blue"> See other bulk options</span>
            </div>
            <button class="button bulk-option-media"> <i class="fa fa-chevron-down"></i></button>
        </div>
    </div>
{% else %}
    {% assign bulkPrice = bulk.price | money_without_currency %}
    {% assign bulkSize = bulk.title | truncatewords: 2, "" %}
    {% assign totalSavings = singleItemPrice | times: bulkSize | minus: bulkPrice %}
    <div class="bulk-option {% if numberOfVariants > 5 %} hidden {% endif %} {% if hasSelectQuantity == true %} has-select-qty {% endif %}">
        <div class="bulk-option-wrap">
            <div class="bulk-option-details">
                <span class="quantity green uppercase"> {{ bulkSize }}</span>

                {% if totalSavings > 0 %}
                    {% comment %} make sure there is trailing zero {% endcomment %}
                    {% assign price_split = totalSavings | round: 2 | split: "." %}
                    {% assign integral = price_split[0] %}
                    {% assign fractional = price_split[1] | append: "00" | truncate: 2, "" %}
                    <span class="savings blue uppercase"> SAVE ${{ integral }}.{{ fractional }}</span>
                {% endif %}
            </div>
            <div class="bulk-option-total"> ${{ bulkPrice }} </div>
        </div>
        <div class="bulk-option-hover">
            <div class="bulk-option-details">
                <span> {{ bulkSize }} </span>
                <span> ${{ bulkPrice }} </span>
            </div>
            <button class="button button-cart js-trigger-add" type="button" data-radio-id="radio_{{{bulk.id}}"> 
                {% include 'bulk-btn-add-inner'%}
            </button>
        </div>
        {% if hasSelectQuantity == true %} 
            {% if inStock > 1 %}
                <button class="button bulk-option-cta-mobile is-select-quantity" data-open="bulk-list-mobile"> Change Quantity </button> 
            {% endif %}
           <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
                <input class="bulk-option-field" type="radio" name="id" data-sku="{{ bulk.sku }}" value="{{ bulk.id }}" id="radio_{{bulk.id}}" checked/>
                <input type="hidden" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
                <button type="submit" name="add" id="AddToCart" class="hide"> </button>
                <div class="bulk-list">
                    <button class="button button-cart bulk-option-cta-mobile js-trigger-add" type="button" data-radio-id="radio_{{{bulk.id}}">
                        {% include 'bulk-btn-add-inner'%}
                    </button> 
                </div>
            </form>
        {% else %}
            <button class="button button-cart bulk-option-cta-mobile js-trigger-add" type="button" data-radio-id="radio_{{{bulk.id}}">
                {% include 'bulk-btn-add-inner'%}
            </button>
            <input class="bulk-option-field" type="radio" name="id" data-sku="{{ bulk.sku }}" value="{{ bulk.id }}" id="radio_{{bulk.id}}" />
        {% endif %}
    </div>
{% endif %}