<div class="addtocart" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="priceCurrency" content="{{ shop.currency }}">

    <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">
        {% if product.type == 'Plants' %}
            <div class="bulk-list {% if hasReveal != true %} hide-for-small-only {% endif %}">
                
                {% assign inStock = 0 %} {% comment %} counter needed to define when to hide bulk options {% endcomment %}
                {% assign variants = product.variants | sort: 'price' %}

                {% comment %} singleItemPrice is needed to calculate savings of each bulk option {% endcomment %}
                {% for variant in product.variants limit:1 %}
                    {% assign basePackPrice= variant.price | money_without_currency %}
                    {% assign basePackSize = variant.title | truncate: 2, "" %}
                    {% assign singleItemPrice = basePackPrice | divided_by: basePackSize %}
                {% endfor %}

                {% for variant in variants %}

                    {% if variant.available == false %}
                        {% continue%}
                    {% endif %}

                    {% assign inStock = inStock | plus:1 %}

                    {% if inStock > 5 %}
                        {% assign numberOfVariants = inStock %}
                    {% endif %}
                    {% assign bulk = variant %}
                    {% include "bulk-option" %}
                {% endfor %}
                <!-- end: bulk-option -->

                {% if inStock > 6 %}
                    {% assign optionType = 'toggle' %}
                    {% include "bulk-option" %}
                {% endif %}
                <!-- end: toggle -->
            </div>
            <!--end: bulk-list -->
        {% else %}
            {% comment %} Normal options for all others {% endcomment %}
            <div class="bulk-dropdown">

                <select name="id" id="productSelect">
                    {% for variant in product.variants %}
                    {% if variant.available %}
                        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}" data-price="{{ variant.price | money_without_currency }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                    {% else %}
                        <option disabled="disabled">
                        {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                        </option>
                    {% endif %}
                    {% endfor %}
                </select>

                <button type="button" class="button button-cart js-trigger-add">
                    {% include 'bulk-btn-add-inner'%}
                </button>
            </div>
        {% endif %}
        <input type="hidden" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
        <button type="submit" name="add" id="AddToCart" class="hide"> </button>
    </form>
</div>
<!--end addtocart -->