<div class="bulk-card bulk-out-stock">
    <div class="bulk-card-toggle">
        <h4>
            <div class="bulk-card-toggle-link">
                We just ran out :( 
                <a href="#" class=" BIS_trigger"> Email me when it’s back in stock! </a>
            </div>
        </h4>
    </div>
</div>