{% comment %} inner content of button with class 'button-cart' {% endcomment %}
<span class="button-cart-add"> ADD TO CART </span>
<div class="button-cart-adding">
    Adding
    {% include 'loading-dots' %}
</div>