{% capture product_ids %}

{% comment %}
Exclude Cart Items
{% endcomment %}

{% for item in cart.items %}
{{ item.product.id }}
{% endfor %}

{% comment %}
Also exclude the current Product
{% endcomment %}

{% if template contains 'product' %}
{{ product.id }}
{% endif %}

{% endcapture %}

{% comment %}
Layout
{% endcomment %}

{% assign collection = collections.recommendations %}
<section class="cart-suggestions template-product show-for-medium">

    <div class="suggestions-inner">
        <div class="grid-container">
            <h3>A few recommendations</h3>
            <div class="grid-x grid-margin-x medium-up-2 large-up-3">
                <div class="cell product">
                    <a href="/collections/sus-tee-watering-checker" class="main__product product__hover">
                        <img src="https://cdn.shopify.com/s/files/1/0248/6983/products/blushingvines_sustee1_360x360_crop_center.jpg?v=1552368507" alt="">
                        <div class="body">
                            <p class="title">Sustee Watering Sticks</p>
                            <p class="cost">From $12.95</p>
                        </div>
                    </a>
                </div>
                <div class="cell product">
                    <a href="/collections/flower-pots" class="main__product product__hover">
                        <img src="https://cdn.shopify.com/s/files/1/0248/6983/products/ELHOROUNDW02_RS_58e1a630-aa1b-40a7-b6e2-d976288fc1c6_360x360_crop_center.jpg?v=1551933461" alt="">
                        <div class="body">
                            <p class="title">Indoor & Outdoor pots</p>
                            <p class="cost">From $19.95</p>
                        </div>
                    </a>
                </div>
                <div class="cell product">
                    <a href="/collections/accessories" class="main__product product__hover">
                        <img src="https://cdn.shopify.com/s/files/1/0248/6983/products/SYUSilver02_RS_360x360_crop_center.jpg?v=1552348622" alt="">
                        
                        <div class="body">
                            <p class="title">Gardening Accessories</p>
                            <p class="cost">From $29.95</p>
                        </div>
                    </a>
                </div>

                {% comment %} {% for product in collection.products %}
                {% if product_ids contains product.id %}
                <!-- You've got {{ product.title }} -->
                {% else %}
                {% include 'product-grid-item' %}
                {% endif %}
                {% endfor %} {% endcomment %}
            </div>

            <div class="gift-wrapping">
                <div class="grid-x grid-margin-x align-middle">
                    <div class="cell shrink show-for-large">
                        <img src="https://cdn.shopify.com/s/files/1/0248/6983/products/IMG_0381_158x120.JPG?v=1543983425" alt="Gift Wrapping">
                    </div>
                    <div class="cell auto">
                        <p>Gift wrapping availabe. Say it better with plants.</p>
                    </div>
                    <div class="cell shrink"><a class="button success" href="/collections/gift-wrapping/products/gift-wrapping">View</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
