<div class="bulk-card custom-quote {% if inStock > 6 %}hide{% endif %} {% if isHiddenOnMObile == true %} hide-quote-link-mobile {% endif %}">
    <div class="bulk-card-toggle">
        <h4>
            <div class="bulk-card-toggle-link">
                Still not enough?
                <a href="#" data-open="custom-quote" class=" js-close-bulk-list-reveal"> Contact us for a custom quote </a>
            </div>
        </h4>
    </div>
</div>

{% comment %} unset variable, snipper is used also on .bulk-list-reveal {% endcomment %}
{% assign isHiddenOnMObile = '' %}