<div class="form-container">
  <div class="grid-x align-center">
    <div class="form-vertical column small-12">
      {% form 'contact' %}
        <div class="form">
            {% assign name_attr = 'contact.form.subject' | t | handle %}
            <input type="hidden" id="ContactFormSubject" class="input-full" name="contact[{{ name_attr }}]" value="Custom quote for {{product.title}}">

            <h2>Get a custom quote</h2>

            <div class="contact-form-fields">
              <div class="grid-x grid-margin-x">

                <div class="cell large-6 medium-6 small-12">
                  {% assign name_attr = 'contact.form.name' | t | handle %}
                  <label for="ContactFormName" class="hidden-label"> Full Name </label>
                  <input type="text" id="ContactFormName" class="input-full" name="contact[{{ name_attr }}]" placeholder="Full Name" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">
                </div>
                <!-- end: Full Name -->

                <div class="cell large-6 medium-6 small-12">
                  <label for="ContactFormEmail" class="hidden-label"> Email Address </label>
                  <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" placeholder="Email Address" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
                </div>
                <!-- end: Email -->
                <!-- end: first row -->
                <div class="cell large-6 medium-6 small-12">
                  <label for="ContactFormPhone" class="hidden-label"> Phone Number </label>
                  <input type="text" id="ContactFormPhone" class="input-full" name="contact[phone]" placeholder="Phone Number" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">
                </div>
                <!-- end: Phone Number -->

                <div class="cell large-6 medium-6 small-12">
                  <label for="ContactFormPostcode" class="hidden-label">Postcode</label>
                  <input type="text" id="ContactFormPostcode" class="input-full" name="contact[postcode]" placeholder="Postcode" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
                </div>
                <!-- end: Postcode -->
              </div>
              <!-- end: second row -->

              <div class="grid-x">
                <div class="cell large-12 medium-12 small-12">
                  <h3> Plants & Quantities </h3>
                  <label for="ContactFormMessage" class="hidden-label"> Messages, notes or other requests? </label>
                  <textarea rows="10" id="ContactFormMessage" class="input-full" name="contact[body]" placeholder="Messages, notes or other requests?">{% if form.body %}{{ form.body }}{% endif %}</textarea>
                </div>
              </div>
              <!-- end: third row -->
            </div>
            <!-- end: fields -->

            <div class="grid-x align-center form-footer">
              <button class="button alert contact-form-btn"> SEND QUESTION <i class='fa fa-arrow-right' aria-hidden='true'></i></button>
            </div>
            <!-- end: submit btn -->
            <div class="grid-x align-center form-status">
              <p></p>
            </div>
            <!-- end: errors -->
        </div>
    {% endform %}
    </div>
  </div>
</div>
    
