
<div class="feature">
  <div class="feature-background">
    <style media="screen">
      .feature {
      	background: url("{{ settings.feature__image--01 | img_url: 'master' }}") top center no-repeat;
      }
      
    </style>
  </div>{% include "navigation" %}
  <div class="feature__item">
    <div class="feature__inner grid-container">
      <div class="grid-x align-middle align-justify">
        <div class="cell small-offset-2 small-8 medium-offset-2 medium-8 medium-centered large-offset-0 large-6">
          <div class="feature__content">
            <h1>{{settings.feature__title--01}}</h1>
            <p class="show-for-large">{{settings.feature__content--01}}</p>
          </div>
        </div>
        <div class="cell large-3"><img class="feefo-gold" src="{{ 'feefo_gold_trusted_service_2018_reverse.png' | asset_url}}" alt="Feefo Gold Trusted Service"/></div>
      </div>
    </div>
  </div>
</div>
<nav class="menu__content--menu hide-for-large">
  <div class="grid-container">
    <h3>Popular Categories</h3>
    <ul class="accordion popular" data-accordion="" data-multi-expand="true" data-allow-all-closed="true">
      <li class="accordion-item" data-accordion-item=""><a class="accordion-title">{{ linklists.indoor.title }}</a>
        <div class="accordion-content" data-tab-content="">{% for link in linklists.indoor.links %}
          <div class="site-nav__link">{{ link.title | link_to: link.url }}</div>{% endfor %}
        </div>
      </li>
      <li class="accordion-item" data-accordion-item=""><a class="accordion-title">{{ linklists.outdoor.title }}</a>
        <div class="accordion-content" data-tab-content="">{% for link in linklists.outdoor.links %}
          <div class="site-nav__link">{{ link.title | link_to: link.url }}</div>{% endfor %}
        </div>
      </li>
      <li class="accordion-item" data-accordion-item=""><a class="accordion-title">{{ linklists.gifts.title }}</a>
        <div class="accordion-content" data-tab-content="">{% for link in linklists.gifts.links %}
          <div class="site-nav__link">{{ link.title | link_to: link.url }}</div>{% endfor %}
        </div>
      </li>
      <li class="accordion-item" data-accordion-item=""><a class="accordion-title">{{ linklists.grasses.title }}</a>
        <div class="accordion-content" data-tab-content="">{% for link in linklists.grasses.links %}
          <div class="site-nav__link">{{ link.title | link_to: link.url }}</div>{% endfor %}
        </div>
      </li>
      <li class="accordion-item" data-accordion-item=""><a class="accordion-title">{{ linklists.hedges.title }}</a>
        <div class="accordion-content" data-tab-content="">{% for link in linklists.hedges.links %}
          <div class="site-nav__link">{{ link.title | link_to: link.url }}</div>{% endfor %}
        </div>
      </li>
      <li class="accordion-item" data-accordion-item=""><a class="accordion-title">{{ linklists.shrubs.title }}</a>
        <div class="accordion-content" data-tab-content="">{% for link in linklists.shrubs.links %}
          <div class="site-nav__link">{{ link.title | link_to: link.url }}</div>{% endfor %}
        </div>
      </li>
    </ul>
  </div>
</nav>