
{% if settings.display-featured-collections %}

  {% assign positionClass = '' %}
  {% if settings.display-welcome-message == false %}
    {% assign positionClass = 'first' %}
  {% endif %}

<!-- Featured collections -->
  <section class="featured-collections no-padding {{ positionClass }}">

	  <div class="title__home hide-for-small-only">
		 <img src="{{ 'growing-trends.svg' | asset_url }}" />
	  </div>
      <div class="grid-container">
    <main class="main-content" role="main">

    <div class="grid-x grid-padding-x">

      {% assign: stuff = settings['featured-collection-1'] %}
      {% assign: col = collections[stuff] %}

      {% if collections[settings['featured-collection-1']].title.size > 0 || collections[settings.featured-collection-2].title.size > 0 || collections[settings.featured-collection-3].title.size > 0 || collections[settings.featured-collection-4].title.size > 0 || collections[settings.featured-collection-5].title.size > 0 %}
          {% for i in (1..5) %}

            {% capture: featured_coll_name_setting %}featured-collection-{{ i }}{% endcapture %}
            {% assign: featured_coll_name = settings[featured_coll_name_setting] %}
            {% assign: featured_coll = collections[featured_coll_name] %}

            {% if featured_coll.title.size > 0 %}
              {% if featured_coll.image %}
                {% assign imgSrc = featured_coll.image.src | collection_img_url: 'large' %}
              {% else %}
                {% assign imgSrc = featured_coll.products.first.featured_image | product_img_url: 'large' %}
              {% endif %}

              <div class="cell{% if i == 1 %} small-12 large-5{% endif %}{% if i == 2 %} small-6 medium-6 large-7 {% endif %}{% if i >= 4 %} small-12 large-4{% endif %}{% if i == 3 %} small-6 medium-6 large-4{% endif %}">
                <div class="collection-wrap collection-wrap-{{ i }}">
                  <div class="collection" style="background-image:url({{ imgSrc }});">
                    <a href="{{ featured_coll.url }}">
                      <h2 class="label">{{featured_coll.title}}</h2>
                      <h2 class="browse">Browse</h2>
                      <div class="background-color"></div>
                    </a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}

    {% else %}

      <div class="load-up adonis">
        You haven't set this up yet! Go to the <a href="{{ shop.url }}/admin/themes/">theme settings</a> to choose your collections.
      </div>
    {% endif %}

    </div>
    </div>
    </div>
  </section>
{% endif %}
