{% assign footerModules = 1 %}

{% unless settings.twitter-url.size == 0 and facebook.twitter-url.size == 0 and settings.pinterest-url.size == 0 and settings.instagram-url.size == 0 %}
{% assign footerModules = footerModules | plus: 1 %}
{% endunless %}

{% if settings.show-mailing-list %}
{% assign footerModules = footerModules | plus: 1 %}
{% endif %}

<footer class="main-footer grid-container" id="main-footer">
    <div class="grid-x grid-margin-x align-middle align-justify">

        <div class="cell shrink">
            <img src="{{ 'plantsinabox.jpg' | asset_url }}" alt="Plants in a Box promo">
        </div>

        <div class="cell medium-shrink show-for-medium">
            <p>
                Plants in a box is<br>
                made in the beautiful<br>
                Currumbin Valley.
            </p>
        </div>

        <div class="cell small-2 medium-4 large-2 footer-menu">
            <nav class="footer-nav-links">
                {% for link in linklists[settings.footer-menu].links %}
                <a href="{{ link.url }}">{{ link.title }}</a>
                {% endfor %}
            </nav>
        </div>

        <div class="cell shrink">
            <img src="{{ 'footer-ngiq.png' | asset_url }}" alt="" class="main-footer__ngiq">
        </div>

        <div class="cell show-for-large medium-shrink footer-contact-menu">
            {% assign enabled_payment_types = 'visa,master,paypal' | remove: ' ' | split: ',' %}
            {% for type in enabled_payment_types %}
            <img src="{{ type | payment_type_img_url }}" width="48px" />
            {% endfor %}
        </div>

        <div class="cell small-5 medium-4 large-2 footer-social-buttons">
            <div class="footer-social-title">Follow us:</div>
            <div class="footer-social-links">
                <a href="{{ settings.facebook-url }}" target="_blank"><img src="{{ 'facebook-footer.png' | asset_url }}" alt="facebook"></a>
                <a href="{{ settings.instagram-url }}" target="_blank"><img src="{{ 'instagram-footer.png' | asset_url }}" alt="instagram"></a>
            </div>
        </div>


        {% comment %} <div class="cell small-12 medium-shrink">
            <a href="https://madewithply.com/" target="_blank" class="ply">
                <img src="https://madewithply.com/assets/img/ply.svg" alt="">
            </a>
        </div> {% endcomment %}

        {% comment %} <div class="cell shrink">
            <div class="cell">
                <link rel="stylesheet" href="https://cdn.ply.studio/badge/css/madewithply.css"/>
                <a href="https://ply.studio" class="madewithply light" target="_blank"></a>
            </div>
        </div> {% endcomment %}
    </div>
</footer>
