
<div class="say-hello green">
    <img src="{{'icon-contact-green.svg' | asset_url }}" alt="Contact">
    <p>Say Hello</p>
    <p>
        <strong>1300 330 488</strong>
    </p>
</div>

<div class="popup-section freshness-side">
    <div class="popup-title">
        <div class="grid-x">
            <div class="cell">
                <h2>Freshness, Gauaranteed!</h2>
                <p>Here’s 4 quick reasons people love our plants.</p>
            </div>
        </div>
    </div>
    <!-- end: popup-title -->
    
    <div class="popup-content">
        <div class="grid-x small-up-1 large-up-2 align-stretch">
            <div class="cell">
                <h4>The best value, hands down.</h4>
                <p>We sell plants by the pack, because when you buy 10 plants of one variety it’s quicker to pick and pack - saving us time and you money. When you buy from us, you’re effectively cutting out the wholesale and retail margin, allowing us to sell a
                    premium plant for a fraction of the retail cost.</p>
            </div>

            <div class="cell">
                <h4>We’ve got stars in our eyes</h4>
                <p>With best customer service team in the plant game, we have earned a 5 star reputation from independent feedback platform Feefo. We are realistic - sometimes things go wrong but we work hard to resolve it, even when it is not our fault.</p>
            </div>

            <div class="cell">
                <h4>Young ones adapt better</h4>
                <p>Younger plants have a tendency to adjust in a new environment more rapidly than larger plants.</p>
            </div>

            <div class="cell">
                <h4>Save the elbow grease</h4>
                <p>Digging holes is not that much fun! The good news is our plants require far less effort to plant for one simple reason - the holes are smaller.</p>
            </div>
        </div>
    </div>
    <!-- end: popup-content -->
    <div class="popup-footer">
        <div class="grid-x">
        <div class="cell">
            <a class="button red" data-close>I'm Ready, Let's shop <img src="{{ 'addtocart.svg' | asset_url }}" alt=""/></a>
        </div>
        </div>
    </div>
    <!-- end: popup-footer -->
</div>
<div class="popup-section coach-side">
    <div class="coach-content">
        <div class="coach-title">
            <h2> Garden Coach</h2>
        </div>
        <div class="coach-description">
            <p>This is like having a garden coach in your pocket. Our plants nerds have setup a 30 day program to keep you on track and help you and your new plants survive the first month. </p>
            <p> With tips and reminders for watering schedules, fertilisers and positioning this is the easiest way to grow plants confidently. </p>
            <p> Just make a purchase and your garden coach fires up automatically! </p>
        </div>
    </div>
    
    <div class="coach-mobile">
        <div class="coach-mobile-logo">
            <img src="{{ 'logo-piab.svg' | asset_url }}" alt="{{ shop.name }}" itemprop="logo"/>
        </div>
        <div class="coach-mobile-intro">
            <h3 class="coach-mobile-title"> Garden Coach: Week 1 </h3>
            <div class="coach-mobile-description">
                Keeping your plants alive the first 30 days is critical. Don't worry, I’ll guide you through
            </div>
        </div>
        <div class="coach-mobile-inner">
            <h4>Let me kick off with watering.</h4>

            <p>Succulents don’t like a lot of water and long periods of drought won’t hurt yours one bit, they’re the best type of plant for forgetful folk, or those that are away from home a fair bit, so don’t feel bad if you haven’t given him a drink yet. One of the most common mistakes people make is watering them too much!
            The best potting mix for succulents is a well draining one. Using a good potting mix of porous soil for succulents is super important to prevent overwatering.
            Water your succulent when the soil is dry. Soak it thoroughly rather than giving it regular sips and always empty excess water from the saucer as it will rot the roots. If you’re struggling try one of our self-watering pots they make a plant killer look like a pro!
            In winter succulents need even less water. You can touch the soil each week and if it’s even a bit damp then leave it alone and try again the following week. 
            Succulents need little moisture and although it seems cruel, a sure-fire way to kill your beauty is by watering it frequently. This will turn it to mush.
            </p>

            <p>If in doubt, leave it without. </p>
        </div>
    </div>
</div>
