{% comment %} 
	note: .full provided by Foundation is replaced by 'is-full-screen'. 
	Foundation was buggy, 'display: block' was kept also when closing the reveal  
{% endcomment %}
<div class="is-full-screen reveal popup is-home-popup" id="homePopup" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
	<button class="popup--close close-button" data-close aria-label="Close reveal">
		<img src="{{'cross.svg' | asset_url }}" alt="Close">
	</button>

  <div class="popup-container">

	 <div class="popup-title">
		<div class="grid-x">
		  <div class="cell">
			 <h2>Why buy delivered plants?</h2>
			 <p>Here’s 6 quick reasons from the top of our head.</p>
		  </div>
		</div>
	 </div>

	 <div class="grid-x align-center">
		<div class="cell small-12 medium-11 large-11">

		  <div class="popup-content">
			 <div class="grid-x small-up-1 medium-up-2 large-up-3 align-stretch">
				<div class="cell">
				  <h4>1. The best value, hands down.</h4>
				  <p>We sell plants by the pack, because when you buy 10 plants of one variety it’s quicker to pick and pack - saving us time and you money. When you buy from us, you’re effectively cutting out the wholesale and retail margin, allowing us to sell a
					 premium plant for a fraction of the retail cost.</p>
				</div>

				<div class="cell">
				  <h4>2. We’ve got stars in our eyes</h4>
				  <p>With best customer service team in the plant game, we have earned a 5 star reputation from independent feedback platform Feefo. We are realistic - sometimes things go wrong but we work hard to resolve it, even when it is not our fault.</p>
				</div>

				<div class="cell">
				  <h4>3. Call us, we love a chat.</h4>
				  <p>Growing plants can be a bit daunting but with a bit of expert help you can grow a green thumb. Our phone number is front and centre because we are here to help!</p>
				</div>

				<div class="cell">
				  <h4>4. Young ones adapt better</h4>
				  <p>Younger plants have a tendency to adjust in a new environment more rapidly than larger plants.</p>
				</div>

				<div class="cell">
				  <h4>5. Save the elbow grease</h4>
				  <p>Digging holes is not that much fun! The good news is our plants require far less effort to plant for one simple reason - the holes are smaller.</p>
				</div>

				<div class="cell">
				  <h4>6. Premium plants, happy customers</h4>
				  <p>Quality is important to us - if we wouldn’t buy it ourselves, we won’t send it to you.</p>
				</div>

			 </div>
		  </div>
		</div>
	 </div>

	 <div class="popup-footer">
		<div class="grid-x">
		  <div class="cell">
			 <a href="/collections/all" class="button">I'm Ready, Let's shop!</a>
		  </div>
		</div>
	 </div>
  </div>

  <div class="say-hello">
	 <img src="{{'icon-contact.png' | asset_url }}" alt="Contact">
	 <p>Say Hello</p>
	 <p>
		<strong>1300 330 488</strong>
	 </p>
  </div>
</div>
