
<ul class="mobile-nav">
  <li class="mobile-nav__item mobile-nav__search"><a class="button secondary large expanded" href="/search">Search Plants</a></li>
  <li class="mobile-nav__item">
    <div class="mobile-nav__has-sublist"><a class="mobile-nav__link">{{ linklists.indoor.title }}</a>
      <div class="mobile-nav__toggle">
        <button class="icon-fallback-text mobile-nav__toggle-open" type="button"><span class="icon icon-plus" aria-hidden="true"></span><span class="fallback-text">See More</span></button>
        <button class="icon-fallback-text mobile-nav__toggle-close" type="button"><span class="icon icon-minus" aria-hidden="true"></span><span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span></button>
      </div>
    </div>
    <ul class="mobile-nav__sublist">{% for link in linklists.indoor.links %}
      <li class="mobile-nav__item">{{ link.title | link_to: link.url }}</li>{% endfor %}
    </ul>
  </li>
  <li class="mobile-nav__item">
    <div class="mobile-nav__has-sublist"><a class="mobile-nav__link">{{ linklists.outdoor.title }}</a>
      <div class="mobile-nav__toggle">
        <button class="icon-fallback-text mobile-nav__toggle-open" type="button"><span class="icon icon-plus" aria-hidden="true"></span><span class="fallback-text">See More</span></button>
        <button class="icon-fallback-text mobile-nav__toggle-close" type="button"><span class="icon icon-minus" aria-hidden="true"></span><span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span></button>
      </div>
    </div>
    <ul class="mobile-nav__sublist">{% for link in linklists.outdoor.links %}
      <li class="mobile-nav__item">{{ link.title | link_to: link.url }}</li>{% endfor %}
    </ul>
  </li>
  <li class="mobile-nav__item">
    <div class="mobile-nav__has-sublist"><a class="mobile-nav__link">{{ linklists.gifts.title }}</a>
      <div class="mobile-nav__toggle">
        <button class="icon-fallback-text mobile-nav__toggle-open" type="button"><span class="icon icon-plus" aria-hidden="true"></span><span class="fallback-text">See More</span></button>
        <button class="icon-fallback-text mobile-nav__toggle-close" type="button"><span class="icon icon-minus" aria-hidden="true"></span><span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span></button>
      </div>
    </div>
    <ul class="mobile-nav__sublist">{% for link in linklists.gifts.links %}
      <li class="mobile-nav__item">{{ link.title | link_to: link.url }}</li>{% endfor %}
    </ul>
  </li>
  <li class="mobile-nav__item">
    <div class="mobile-nav__has-sublist"><a class="mobile-nav__link">{{ linklists.grasses.title }}</a>
      <div class="mobile-nav__toggle">
        <button class="icon-fallback-text mobile-nav__toggle-open" type="button"><span class="icon icon-plus" aria-hidden="true"></span><span class="fallback-text">See More</span></button>
        <button class="icon-fallback-text mobile-nav__toggle-close" type="button"><span class="icon icon-minus" aria-hidden="true"></span><span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span></button>
      </div>
    </div>
    <ul class="mobile-nav__sublist">{% for link in linklists.grasses.links %}
      <li class="mobile-nav__item">{{ link.title | link_to: link.url }}</li>{% endfor %}
    </ul>
  </li>
  <li class="mobile-nav__item">
    <div class="mobile-nav__has-sublist"><a class="mobile-nav__link">{{ linklists.hedges.title }}</a>
      <div class="mobile-nav__toggle">
        <button class="icon-fallback-text mobile-nav__toggle-open" type="button"><span class="icon icon-plus" aria-hidden="true"></span><span class="fallback-text">See More</span></button>
        <button class="icon-fallback-text mobile-nav__toggle-close" type="button"><span class="icon icon-minus" aria-hidden="true"></span><span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span></button>
      </div>
    </div>
    <ul class="mobile-nav__sublist">{% for link in linklists.hedges.links %}
      <li class="mobile-nav__item">{{ link.title | link_to: link.url }}</li>{% endfor %}
    </ul>
  </li>
  <li class="mobile-nav__item">
    <div class="mobile-nav__has-sublist"><a class="mobile-nav__link">{{ linklists.shrubs.title }}</a>
      <div class="mobile-nav__toggle">
        <button class="icon-fallback-text mobile-nav__toggle-open" type="button"><span class="icon icon-plus" aria-hidden="true"></span><span class="fallback-text">See More</span></button>
        <button class="icon-fallback-text mobile-nav__toggle-close" type="button"><span class="icon icon-minus" aria-hidden="true"></span><span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span></button>
      </div>
    </div>
    <ul class="mobile-nav__sublist">{% for link in linklists.shrubs.links %}
      <li class="mobile-nav__item">{{ link.title | link_to: link.url }}</li>{% endfor %}
    </ul>
  </li>
  <li class="mobile-nav__item">
    <div class="mobile-nav__has-sublist"><a class="mobile-nav__link">{{ linklists.ground-cover.title }}</a>
      <div class="mobile-nav__toggle">
        <button class="icon-fallback-text mobile-nav__toggle-open" type="button"><span class="icon icon-plus" aria-hidden="true"></span><span class="fallback-text">See More</span></button>
        <button class="icon-fallback-text mobile-nav__toggle-close" type="button"><span class="icon icon-minus" aria-hidden="true"></span><span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span></button>
      </div>
    </div>
    <ul class="mobile-nav__sublist">{% for link in linklists.ground-cover.links %}
      <li class="mobile-nav__item">{{ link.title | link_to: link.url }}</li>{% endfor %}
    </ul>
  </li>
  <li class="mobile-nav__item">
    <div class="mobile-nav__has-sublist"><a class="mobile-nav__link">{{ linklists.climbers.title }}</a>
      <div class="mobile-nav__toggle">
        <button class="icon-fallback-text mobile-nav__toggle-open" type="button"><span class="icon icon-plus" aria-hidden="true"></span><span class="fallback-text">See More</span></button>
        <button class="icon-fallback-text mobile-nav__toggle-close" type="button"><span class="icon icon-minus" aria-hidden="true"></span><span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span></button>
      </div>
    </div>
    <ul class="mobile-nav__sublist">{% for link in linklists.climbers.links %}
      <li class="mobile-nav__item">{{ link.title | link_to: link.url }}</li>{% endfor %}
    </ul>
  </li>
  <li class="mobile-nav__item">
    <div class="mobile-nav__has-sublist"><a class="mobile-nav__link">{{ linklists.bougainvillea.title }}</a>
      <div class="mobile-nav__toggle">
        <button class="icon-fallback-text mobile-nav__toggle-open" type="button"><span class="icon icon-plus" aria-hidden="true"></span><span class="fallback-text">See More</span></button>
        <button class="icon-fallback-text mobile-nav__toggle-close" type="button"><span class="icon icon-minus" aria-hidden="true"></span><span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span></button>
      </div>
    </div>
    <ul class="mobile-nav__sublist">{% for link in linklists.bougainvillea.links %}
      <li class="mobile-nav__item">{{ link.title | link_to: link.url }}</li>{% endfor %}
    </ul>
  </li>
  <li class="mobile-nav__item">
    <div class="mobile-nav__has-sublist"><a class="mobile-nav__link">{{ linklists.succulents.title }}</a>
      <div class="mobile-nav__toggle">
        <button class="icon-fallback-text mobile-nav__toggle-open" type="button"><span class="icon icon-plus" aria-hidden="true"></span><span class="fallback-text">See More</span></button>
        <button class="icon-fallback-text mobile-nav__toggle-close" type="button"><span class="icon icon-minus" aria-hidden="true"></span><span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span></button>
      </div>
    </div>
    <ul class="mobile-nav__sublist">{% for link in linklists.succulents.links %}
      <li class="mobile-nav__item">{{ link.title | link_to: link.url }}</li>{% endfor %}
    </ul>
  </li>
  <li class="mobile-nav__item">
    <div class="mobile-nav__has-sublist"><a class="mobile-nav__link">{{ linklists.accessories.title }}</a>
      <div class="mobile-nav__toggle">
        <button class="icon-fallback-text mobile-nav__toggle-open" type="button"><span class="icon icon-plus" aria-hidden="true"></span><span class="fallback-text">See More</span></button>
        <button class="icon-fallback-text mobile-nav__toggle-close" type="button"><span class="icon icon-minus" aria-hidden="true"></span><span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span></button>
      </div>
    </div>
    <ul class="mobile-nav__sublist">{% for link in linklists.accessories.links %}
      <li class="mobile-nav__item">{{ link.title | link_to: link.url }}</li>{% endfor %}
    </ul>
  </li>
</ul>