<header class="top-header {% if template == 'page.garden-assistant'%} is-transparent {% endif %}">
    <div class="grid-container">
        <div class="grid-x align-justify">
            <div class="cell shrink"><a class="logo" href="/"><img src="{{ 'logo-piab.svg' | asset_url }}" alt="{{ shop.name }}" itemprop="logo" /></a></div>
            <div class="cell auto hide-for-medium text-centered">
                <div class="phone-number">
                    <div class="grid-x align-middle align-center">
                        <div class="cell shrink"><img src="{{ 'icon-contact.png' | asset_url }}" /></div>
                        <div class="cell shrink"><a href="tel:1300330488">1300 330 488</a></div>
                    </div>
                </div>
            </div>
            <div class="cell shrink hide-for-medium relative">
                <div class="grid-x align-middle">
                    <div class="cell shrink">
                        <a class="js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false"><img src="{{ 'icon-hamburger.svg' | asset_url }}" /></a>
                    </div>
                    <div class="cell shrink">
                        <a href="/cart" aria-controls="CartDrawer" aria-expanded="false" class="nav-cart js-drawer-open-right">
                            <img src="{{ 'icon-cart.svg' | asset_url }}" />
                            {% if cart.item_count &gt; 0 %}
                            <div class="cart-count">
                                <span class="number cartCount">
                                    {{ cart.item_count }}
                                </span>
                                <span class="text">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
                            </div>
                            {% endif %}
                        </a>

                    </div>
                </div>
            </div>
            <div class="cell auto show-for-medium">
                <div class="grid-y">
                    <div class="cell shrink">
                        <div class="menu-top">
                            <div class="grid-x align-middle align-justify">
                                <div class="cell shrink">
                                    <ul class="menu dropdown-categories">
                                        <li class="dropdown-category">
                                            <div class="grid-x align-middle align-justify">
                                                <div class="cell shrink"><img class="category-icon" src="{{'icon-indoor.svg'| asset_url }}" /></div>
                                                <div class="cell shrink">
                                                    <div class="category-title">{{ linklists.indoor.title }}</div>
                                                </div>
                                            </div>
                                            <div class="dropdown-container">
                                                <div class="grid-x align-stretch">
                                                    <div class="cell auto show-for-large">
                                                        <div class="dropdown-intro">
                                                            <h3>{{ linklists.indoor.title }}</h3>
                                                            <p>Indoor plants are so darn good for us they enhance the spaces we live, breath and work in. Come greenify your Indoor space.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cell large-8">
                                                        <ul class="menu dropdown-subcategories">{% for link in linklists.indoor.links %}
                                                            <li>{{ link.title | link_to: link.url }}</li>{% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="dropdown-category">
                                            <div class="grid-x align-middle align-justify">
                                                <div class="cell shrink"><img class="category-icon" src="{{'icon-outdoor.svg'| asset_url }}" /></div>
                                                <div class="cell shrink">
                                                    <div class="category-title">{{ linklists.outdoor.title }}</div>
                                                </div>
                                            </div>
                                            <div class="dropdown-container">
                                                <div class="grid-x align-stretch">
                                                    <div class="cell auto show-for-large">
                                                        <div class="dropdown-intro">
                                                            <h3>{{ linklists.outdoor.title }}</h3>
                                                            <p>Welcome to the plant nursery. With over 400+ outdoor plant varieties, bundled up in packs we deliver cheerful baby plants straight to your backyard with free shipping</p>
                                                        </div>
                                                    </div>
                                                    <div class="cell large-8">
                                                        <ul class="menu dropdown-subcategories">{% for link in linklists.outdoor.links %}
                                                            <li>{{ link.title | link_to: link.url }}</li>{% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="dropdown-category">
                                            <div class="grid-x align-middle align-justify">
                                                <div class="cell shrink"><img class="category-icon" src="{{'icon-gifts.svg'| asset_url }}" /></div>
                                                <div class="cell shrink">
                                                    <div class="category-title">{{ linklists.gifts.title }}</div>
                                                </div>
                                            </div>
                                            <div class="dropdown-container">
                                                <div class="grid-x align-stretch">
                                                    <div class="cell auto show-for-large">
                                                        <div class="dropdown-intro">
                                                            <h3>{{ linklists.gifts.title }}</h3>
                                                            <p>Cheery little plants make great gifts to give at Christsmas, birthdays, weddings & as simple gestures. Bouquets are out, plants are in! It seems every weekend calls for a new bouquet!</p><a href="/collections/gift-products">View all &rarr;</a>
                                                        </div>
                                                    </div>
                                                    <div class="cell large-8">
                                                        <ul class="menu dropdown-subcategories">{% for link in linklists.gifts.links %}
                                                            <li>{{ link.title | link_to: link.url }}</li>{% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="cell shrink">
                                    <a class="menu-contact" href="/pages/contact">
                                        <div class="grid-x align-middle">
                                            <div class="cell shrink"><img class="phone" src="{{ 'icon-contact.png' | asset_url }}" alt="Contact" /></div>
                                            <div class="cell shrink"><span>Say hello</span>
                                                <div class="number">1300 330 488</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="cell shrink show-for-medium hide-for-xlarge contact-icon">
                                    <a href="/contact"><img class="phone" src="{{ 'icon-contact.png' | asset_url }}" alt="Contact" /></a>
                                </div>
                                <div class="cell auto show-for-medium">
                                    <div class="menu-search">
                                        <form action="/search" method="get" role="search">
                                            <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="Plant Search" aria-label="{{ 'general.search.placeholder' | t }}" />
                                        </form>
                                    </div>
                                </div>
                                <div class="cell shrink show-for-medium hide-for-large">
                                    <div class="grid-x align-middle relative">
                                        <div class="cell shrink"><a class="js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false"><img src="{{ 'icon-hamburger.svg' | asset_url }}" /></a></div>
                                        <div class="cell shrink">
                                            <a class="js-drawer-open-right nav-cart" href="/cart" aria-controls="CartDrawer" aria-expanded="false">
                                                <img src="{{ 'icon-cart.svg' | asset_url }}" />
                                                {% if cart.item_count &gt; 0 %}
                                                <div class="cart-count">
                                                    <span class="number cartCount">{{ cart.item_count }}</span>
                                                    <span class="text">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
                                                </div>
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell shrink">
                        <div class="grid-x">
                            <div class="cell auto show-for-large">
                                <div class="menu-bottom">
                                    <ul class="menu dropdown-categories expanded">
                                        <li class="dropdown-category">
                                            <div class="category-title">{{ linklists.grasses.title }}</div>
                                            <div class="dropdown-container">
                                                <div class="grid-x align-stretch">
                                                    <div class="cell auto">
                                                        <div class="dropdown-intro">
                                                            <h3>{{ linklists.grasses.title }}</h3>
                                                            <p>Grasses make great foils for other plant groupings, highlighting a feature plant. They fill that space under tree canopies and provide colour at flowering time. Fine leafed grasses wave in the breeze, create elements of soft movement.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cell large-7">
                                                        <ul class="menu dropdown-subcategories">{% for link in linklists.grasses.links %}
                                                            <li>{{ link.title | link_to: link.url }}</li>{% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="dropdown-category">
                                            <div class="category-title">{{ linklists.hedges.title }}</div>
                                            <div class="dropdown-container">
                                                <div class="grid-x align-stretch">
                                                    <div class="cell auto">
                                                        <div class="dropdown-intro">
                                                            <h3>{{ linklists.hedges.title }}</h3>
                                                            <p>Low hedges can flank a path to guide pedestrians to the destination, mid-size hedges are often seen as privacy screens and tall hedges are used as windbreaks. Hedges can be just 300mm wide!</p><a href="/collections/hedges">View all &rarr;</a>
                                                        </div>
                                                    </div>
                                                    <div class="cell large-7">
                                                        <ul class="menu dropdown-subcategories">{% for link in linklists.hedges.links %}
                                                            <li>{{ link.title | link_to: link.url }}</li>{% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="dropdown-category">
                                            <div class="category-title">{{ linklists.shrubs.title }}</div>
                                            <div class="dropdown-container">
                                                <div class="grid-x align-stretch">
                                                    <div class="cell auto">
                                                        <div class="dropdown-intro">
                                                            <h3>{{ linklists.shrubs.title }}</h3>
                                                            <p>A shrub is a mini to medium-sized woody plant. With their persistent woody stems above the ground, they are notable from trees by their number of stems and smaller heights.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cell large-7">
                                                        <ul class="menu dropdown-subcategories">{% for link in linklists.shrubs.links %}
                                                            <li>{{ link.title | link_to: link.url }}</li>{% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="dropdown-category">
                                            <div class="category-title">{{ linklists.ground-cover.title }}</div>
                                            <div class="dropdown-container">
                                                <div class="grid-x align-middle grid-margin-x">
                                                    <div class="cell auto">
                                                        <div class="dropdown-intro">
                                                            <h3>{{ linklists.ground-cover.title }}</h3>
                                                            <p>Ground covers are the plants that form the lowest layer, an accompaniment to shrubs and trees. Ground covers fill that niche where the other forms do not.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cell shrink">{% for link in linklists.ground-cover.links %}
                                                        <div class="single-category">
                                                            {{ "Shop Now &rarr;" | link_to: link.url }}

                                                        </div>{% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="dropdown-category">
                                            <div class="category-title">{{ linklists.climbers.title }}</div>
                                            <div class="dropdown-container">
                                                <div class="grid-x align-middle grid-margin-x">
                                                    <div class="cell auto">
                                                        <div class="dropdown-intro">
                                                            <h3>{{ linklists.climbers.title }}</h3>
                                                            <p>Plants are classified as 'climbers' if they have a vertical orientation and do not have a trunk, instead relying on other plants to provide a scaffold. Come take a peek in the plant nursery.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cell shrink">{% for link in linklists.climbers.links %}
                                                        <div class="single-category">
                                                            {{ "Shop Now &rarr;" | link_to: link.url }}

                                                        </div>{% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="dropdown-category">
                                            <div class="category-title">{{ linklists.bougainvillea.title }}</div>
                                            <div class="dropdown-container">
                                                <div class="grid-x align-middle grid-margin-x">
                                                    <div class="cell auto">
                                                        <div class="dropdown-intro">
                                                            <h3>{{ linklists.bougainvillea.title }}</h3>
                                                            <p>The riotously lurid Bougainvillea in all it’s colour forms says, no, yells extravagance! Think tropical gardens, think Bougainvillea. Think colour, Bougies are your answer.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cell shrink">{% for link in linklists.bougainvillea.links %}
                                                        <div class="single-category">
                                                            {{ "Shop Now &rarr;" | link_to: link.url }}

                                                        </div>{% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="dropdown-category">
                                            <div class="category-title">{{ linklists.succulents.title }}</div>
                                            <div class="dropdown-container">
                                                <div class="grid-x align-middle grid-margin-x">
                                                    <div class="cell auto">
                                                        <div class="dropdown-intro">
                                                            <h3>{{ linklists.succulents.title }}</h3>
                                                            <p>Named via their succulent leaves that are chunky, fleshy, full of stored water. They originate from hot climates where water is in short supply & exist in many different sizes, colours & textures.</p>
                                                        </div>
                                                    </div>
                                                    <div class="cell shrink">{% for link in linklists.succulents.links %}
                                                        <div class="single-category">
                                                            {{ "Shop Now &rarr;" | link_to: link.url }}

                                                        </div>{% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="dropdown-category">
                                            <div class="category-title">{{ linklists.accessories.title }}</div>
                                            <div class="dropdown-container">
                                                <div class="grid-x align-stretch">
                                                    <div class="cell auto">
                                                        <div class="dropdown-intro">
                                                            <h3>{{ linklists.accessories.title }}</h3>
                                                            <p>Every green thumb loves accessories to go with! Here you’ll find our pots + planters & care products. Now to keep that new green space in mint condition!</p>
                                                        </div>
                                                    </div>
                                                    <div class="cell large-7">
                                                        <ul class="menu dropdown-subcategories">{% for link in linklists.accessories.links %}
                                                            <li>{{ link.title | link_to: link.url }}</li>{% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell shrink show-for-large"><a class="menu-cart site-header__cart-toggle js-drawer-open-right" href="/cart" aria-controls="CartDrawer" aria-expanded="false">
                    <div class="cart-title">FREE SHIPPING!</div>
                    <div class="cart-button"><img src="{{ 'icon-cart.svg' | asset_url }}" alt="Cart" /><span class="cartCount">{{ cart.item_count }}</span><span>{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span></div>
                </a></div>
        </div>
    </div>
</header>
