{% if paginate.pages > 1 %}
    <div class="pagination" role="navigation" aria-label="Pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', 'Prev' | replace: 'Next &raquo;', 'Next' }}
    </div>
{% endif %}
