<section class="plant-care show-for-medium">
  <h3>Our growing philosophy</h3>
  <div class="grid-x align-center">
    <div class="cell small-12 medium-6 large-2">
      <div class="image-container" data-equalizer-watch="image">
        <img src="{{ 'shovel.png' | asset_url }}" alt=""/>
      </div>
      <h5>Ready to Roll</h5>
      <p>Dig a hole, drop them in. Our plants can be inserted straight into the ground without any fuss.</p>
    </div>

    <div class="cell small-12 medium-6 large-2">
      <div class="image-container" data-equalizer-watch="image">
        <img src="{{ 'watering-can.png' | asset_url }}" alt=""/>
      </div>
      <h5>Held longer</h5>
      <p>We hold our plants back from sale until they are big and strong. Out of the box, your plants will thrive.</p>
    </div>

    <div class="cell small-12 medium-6 large-2">
      <div class="image-container" data-equalizer-watch="image">
        <img src="{{ 'plants-group.png' | asset_url }}" alt=""/>
      </div>
      <h5>Hand Picked</h5>
      <p>We hand select all our plants prior to shipping. That means premium stock and no duds.</p>
    </div>

    <div class="cell small-12 medium-6 large-2">
      <div class="image-container" data-equalizer-watch="image">
        <img src="{{ 'plant-single.png' | asset_url }}" alt=""/>
      </div>
      <h5>Maturity</h5>
      <p>We use a deeper tube to promote a mature root system. This helps get your plants off to a punchy start when they hit the ground.</p>
    </div>
  </div>
</section>
