{% comment %} 
	note: .full provided by Foundation is replaced by 'is-full-screen'. 
	Foundation was buggy, 'display: block' was kept also when closing the reveal  
{% endcomment %}
<div class="reveal popup {{revealClass}}" id="{{revealId}}" data-reveal data-animation-in="fade-in" data-animation-out="fade-out" >
  <button class="popup--close close-button" data-close aria-label="Close reveal">
    {% if revealBtnIcon == 'green' %}
		<img src="{{'cross-green.svg' | asset_url }}" alt="Close">
    {% else %}
		<img src="{{'cross.svg' | asset_url }}" alt="Close">
    {% endif %}
	</button>
  <div class="popup-container">
    <div class="popup-container-inner">
        {% include revealContent %}
    </div>
 </div>
</div>