{% assign on_sale = false %}

{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}

{% if product.available %}
{% assign sold_out = false %}
{% endif %}

<div class="cell main__product--column {% if sold_out %} is-sold-out {% endif %}">

    <div class="main__product product__hover">

        <!-- Gallery -->
        <div class="product__hover--image owl-carousel{% if sold_out %} sold-out{% endif %}">
            {% for image in product.images %}
            <a href="{{ product.url | within: collection }}"><img data-src="{{ image.src | img_url: '480x360', crop: 'center' }}" alt="{{ product.featured_image.alt | escape }}" class="owl-lazy"></a>
            {% endfor %}
        </div>

        <!-- Title -->
        <a href="{{ product.url | within: collection }}" class="product__link">
            <p class="product__title">
                {{ product.title }}
            </p>

            <p class="product__cost">
                Packs

                {% if on_sale %}
                {% if product.price_varies %}
                {% assign sale_price = product.price | money %}
                {{ 'products.product.on_sale_from_html' | t: price: sale_price | downcase}}

                {% else %}
                <strong>{{ 'products.product.on_sale' | t }}</strong>
                {{ product.price | money }}
                {% endif %}

                {% else %}

                {% if product.price_varies %}
                {% assign price = product.price | money %}
                {{ 'products.general.from_text_html' | t: price: price | downcase }}

                {% else %}
                {{ product.price | money }}
                {% endif %}

                {% endif %}

                {% if on_sale %}
                <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                <br><s>{{ product.compare_at_price | money | downcase }}</s>
                {% endif %}
            </p>
        </a>
    </div>
</div>
