<!-- Desktop Bulk options -->
{% include "bulk-list" %}

{% comment%} first bulk-option displayed on mobile {% endcomment %}
{% if product.type == 'Plants' %}
    {% assign mobileVariants = product.variants | sort: 'price' %}
    {% for mv in mobileVariants %}
        {% if mv.available == true %}

            {% comment %} snippet is used several time within the product page. Unset all the variables {% endcomment %}
            {% assign optionType = '' %}
            {% assign numberOfVariants = 0 %}

            {% assign hasSelectQuantity = true %}
            {% assign bulk = mv %}
            {% include "bulk-option" %}
            {% break %}
        {% endif %}
    {% endfor %}
{% endif %}


<!-- Contact for a quote -->
{% comment%} If type=='Plants' Mobile options are displayed within a reveal. To avoid duplicates, the reveal code is in the product page {% endcomment %}
{% if product.available %}
    {% if product.type == 'Plants' and inStock > 1  %}
        {% assign isHiddenOnMObile = true%}
    {% endif %}
    {% include "custom-quote" %}
{% else %}
    {% include "bulk-out-stock" %}
{% endif %}

<!-- Aftepay -->
{% include "afterpay" %}


<!-- Service Details -->
{% include "service-details" %}

{% comment %} snippet is used several time within the product page. Unset all the variables {% endcomment %}
{% assign optionType = '' %}
{% assign numberOfVariants = 0 %}
{% assign hasSelectQuantity = '' %}
