<div class="promos show-for-medium">
  <div class="grid-x collapse expanded grid-padding-x">

    <!-- First -->
    <div class="cell small-12 medium-12 large-4">
      <a href="/collections/{{settings.promo__link--01 }}" class="promos__item promos__item--01" style="background-image: url({{settings.promo__image--01 | img_url: 'large'}});">
        <span class="promos__content">
          <h3>{{settings.promo__title--01}}</h3>
          <p class="hide-for-small-only">{{settings.promo__content--01}}</p>
          <button class="button show-for-medium">
            {{settings.promo__linktext--01}}
          </button>
        </span>
        <span class="color-wash"></span>
      </a>
    </div>

    <!-- Second (Modal) -->
    <div class="cell small-6 medium-6 large-4">
      {% comment %} NOTE: If need to put it back, also uncomment out snippet back in theme.liquid tile <a data-open="homePopup" class="promos__item promos__item--02" style="background:url({{settings.promo__image--02 | img_url: 'large'}}) 50% no-repeat;"> {% endcomment %}
        <a href="/pages/{{settings.promo__link--02 | within: pages}}" class="promos__item promos__item--02" style="background:url({{settings.promo__image--02 | img_url: 'large'}}) 50% no-repeat;">
        <span class="promos__content">
          <h3>{{settings.promo__title--02}}</h3>
          <p class="show-for-medium">{{settings.promo__content--02}}</p>
          <button class="button show-for-medium">
            {{settings.promo__linktext--02}}
          </button>
        </span>
        <span class="color-wash"></span>
      </a>

    </div>

    <!-- Third -->
    <div class="cell small-6 medium-6 large-4">
      <a href="/products/{{settings.promo__link--03 | within: products}}" class="promos__item promos__item--03" style="background:url({{settings.promo__image--03 | img_url: 'large'}}) 50% no-repeat;">
        <span class="promos__content">
          <h3>{{settings.promo__title--03}}</h3>
          <p class="show-for-medium">{{settings.promo__content--03}}</p>
          <button class="button show-for-medium">
            {{settings.promo__linktext--03}}
          </button>
        </span>
        <span class="color-wash"></span>
      </a>
    </div>

  </div>
</div>
