{% assign number_of_related_products_to_show = 4 %}
{% assign number_of_related_products_to_fetch = number_of_related_products_to_show | plus: 1 %}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
{% assign found_a_collection = false %}
{% for c in product.collections %}
	{% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
		{% assign found_a_collection = true %}
		{% assign collection = c %}
	{% endif %}
{% endfor %}
{% endif %}

{% if collection and collection.products_count > 1 %}
	<div class="grid--border owl-carousel">
	{% assign current_product = product %}
	{% assign current_product_found = false %}
		{% for product in collection.products limit: number_of_related_products_to_fetch %}
			{% if product.handle == current_product.handle %}
				{% assign current_product_found = true %}
			{% else %}
			{% unless current_product_found == false and forloop.last %}
				<div class="main__product">

					<div class="product__hover--image owl-carousel">
						{% for image in product.images %}
						<a href="{{ product.url | within: collection }}"><img data-src="{{ image.src | img_url: '480x360' }}" alt="{{ product.featured_image.alt | escape }}" class="owl-lazy"></a>
					{% endfor %}
					</div>

				  <a href="{{ product.url | within: collection }}" class="product__link match--height">


						<p class="product__title">{{ product.title | truncate: 30 }}</p>
						<p class="product__cost">
							{% comment %}
								You can show a leading 'from' or 'up to' by checking 'product.price_varies'
								if your variants have different prices.
							{% endcomment %}
							Packs
							{% if on_sale %}
								{% if product.price_varies %}
									{% assign sale_price = product.price | money %}
									{{ 'products.product.on_sale_from_html' | t: price: sale_price | downcase}}
								{% else %}
									<strong>{{ 'products.product.on_sale' | t }}</strong>
									{{ product.price | money }}
								{% endif %}
							{% else %}
								{% if product.price_varies %}
									{% assign price = product.price | money %}
									{{ 'products.general.from_text_html' | t: price: price | downcase }}
								{% else %}
									{{ product.price | money }}
								{% endif %}
							{% endif %}
							{% if sold_out %}
								<br><strong>{{ 'products.product.sold_out' | t | downcase }}</strong>
							{% endif %}
							{% if on_sale %}
								<span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
								<br><s>{{ product.compare_at_price | money | downcase }}</s>
							{% endif %}
						</p>

				</a>

				</div>
			{% endunless %}
			{% endif %}
		{% endfor %}
	</div>
{% endif %}
