<div class="service-list">
    <div class="service">
        <img src="{{ 'delivery-fast.svg' | asset_url }}" alt="">
        <h4> Free Australian Shipping</h4>
    </div>
    <div class="service">
        <img src="{{ 'flower-06.svg' | asset_url }}" alt="">
        <h4> Delivered <a data-open="freshnessCoachPopup" data-display-section="freshness-side">Fresh Guarantee </a> </h4>
    </div>
    <div class="service">
        <img src="{{ 'whistle.svg' | asset_url }}" alt="">
        <h4> <a data-open="freshnessCoachPopup" data-display-section="coach-side"> 30 day Garden Coach </a></h4>
    </div>
    <div class="service">
        <img src="{{ 'meeting.svg' | asset_url }}" alt="">
        <h4> <a href="/blogs/news"> Green insights? Read the blog </a> </h4>
    </div>
</div>
