</main>
<section class="social-feed" style="background-image: url({{ 'back_social-media.jpg' | asset_url }});">
<main class="wrapper main-content" role="main">
  <div class="wrap">
    <div class="grid" id="instafeed">
      <div class="grid-item grid-item--width2">
        <div class="social-feed-title social-feed-title-left">
          Social<br>life
        </div>
        <div class="social-feed-title social-feed-title-right">
          <div class="title-top">
            Follow us!
          </div>
          <div class="title-bottom">
            <div class="title-follow-box title-facebook">
              <a href="{{ settings.facebook-url }}" target="_blank">
                <div class="title-follow-img-wrap">
                  <img src="{{ 'facebook-footer.png' | asset_url }}" alt="facebook">
                </div>
                facebook
              </a>
            </div>
            <div class="title-follow-box title-instagram">
              <a href="{{ settings.instagram-url }}" target="_blank">
                <div class="title-follow-img-wrap">
                  <img src="{{ 'instagram-footer.png' | asset_url }}" alt="instagram">
                </div>
                instagram
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="cell-sizer"></div>
    </div>
  </main>
</section>

<script>
  $(function() {
    var feed = new Instafeed({
      clientId: '52b9ece35c794cc982b2822de81b9775',
      accessToken: '507254315.1677ed0.e07c509575f547219f30d4458b8dd541',
      get: 'user',
      userId: '507254315',
      target: "instafeed",
      limit: 16,
      resolution: "low_resolution",
      template: '<div class="grid-item"><a href="{% raw %}{{link}}{% endraw %}"><div class="image" style="background-size:cover !important; height:100%; width:100%;"><img style="opacity:0;" src="{% raw %}{{image}}{% endraw %}" /></div></a></div>',
      after: function() {
        $($('.social-feed .grid .grid-item')[5]).addClass("grid-item--width2 grid-item--height2");
        $($('.social-feed .grid .grid-item')[12]).addClass("grid-item--width2 grid-item--height2");
        var $grid = $('.social-feed .grid').masonry({itemSelector: '.grid-item', columnWidth: '.column-sizer'});

        $(window).on("resize", function() {
          $grid.masonry('layout');
        });
        $(".image").css('background', function() {
          return 'url(' + $(this).find('img').attr('src') + ') 50% no-repeat'
        });
      }
    });
    feed.run();

  });
</script>

<main class="wrapper main-content" role="main">
