<section class="homepage-testimonials show-for-medium">

  <div class="grid-x grid-margin-x grid-padding-x align-center align-middle">
    <div class="cell small-12 medium-6 large-3">
      <article class="testimonial">
        <div class="testimonial-header">
          <div class="testimonial-image testimonial-left"></div>
          <div class="testimonial-title">
            <div class="testimonial-name">{{ settings.testimonial-1-name }}</div>
            <div class="testimonial-company">{{ settings.testimonial-1-company }}</div>
          </div>
        </div>
        <div class="testimonial-text">
          {{ settings.testimonial-1-text }}
        </div>
      </article>
    </div>
    <div class="cell small-12 medium-6 large-3">
      <article class="testimonial">
        <div class="testimonial-header">
          <div class="testimonial-image testimonial-right"></div>
          <div class="testimonial-title">
            <div class="testimonial-name">{{ settings.testimonial-2-name }}</div>
            <div class="testimonial-company">{{ settings.testimonial-2-company }}</div>
          </div>
        </div>
        <div class="testimonial-text">
          {{ settings.testimonial-2-text }}
        </div>
      </article>
    </div>
    <div class="cell small-12 medium-12 large-3">
      <div class="testimonial-signup">
        <div class="pencil-border pencil-border-red">
          Love gardens?
        </div>
        <p class="signup-text">
          Stay in the loop with special offer, sale events and exclusive deals for garden folks.
        </p>
        <div class="signup-wrap">

          <form action="//plantsinabox.us7.list-manage.com/subscribe/post?u=4904bb71f21a2b2f39a25350a&id=321b9dd36f" class="signup-form" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input type="email" name="EMAIL" placeholder="Drop your email right here.">
            <input type="submit" value="Subscribe!" id="mc-embedded-subscribe">
          </form>

        </div>
      </div>
    </div>

  </div>

</section>
