<div class="upload">
    <div class="upload-area-loading">
        <div class="loading-message">
            Uploading
            {% include 'loading-dots' %}
        </div>
        <div class="upload-errors">
            Image couldn't be uploaded.
            <ul class="upload-errors-list">
            </ul>
            <button class="button js-continue-uploading"> Continue uploading </button>
        </div>
    </div>
    <!-- end: upload area loading-->
    <div class="upload-area js-upload-image" data-fields="{{snippet_variable}}">
        <img class="upload-area-media" src="{{ 'cloud-upload.svg' | asset_url }}" alt="">
        <p class="upload-area-label"> Upload Images (MAX 6 files)</p>
        <div class="upload-preview">
            {% for counter in (1..6) %}
                <div class="upload-preview-wrap">
                    <div class="upload-preview-overlay"></div>
                    <img id="{{snippet_variable}}-{{counter}}"/>
                </div>
            {% endfor %}
        </div>
        <!-- end: upload preview -->
    </div>
    <!-- end: upload area -->
    <div id="{{snippet_variable}}" class="upload-fields-wrap">
        {% for counter in (1..6) %}
            <input class="upload-field empty" name="{{snippet_variable}}-{{counter}}" type="file" accept=".jpg, .jpeg, .png"> 
        {% endfor %}
    </div>
    <!-- end: upload fields -->
</div>