html
  body
    .title__home.hide-for-small-only
      img(src="{{ 'growing-trends.svg' | asset_url }}")

  //- Featured Collections
  +include("featured_collections")

  nav.menu__content--menu.hide-for-large
    h3 Shop by category
    ul.accordion(data-accordion="", data-multi-expand="true", data-allow-all-closed="true")
      +for("link in linklists.second-nav.links")
        +assign("child_list_handle = link.title | handleize")
        +if("linklists[child_list_handle].links != blank")
          li.accordion-item(data-accordion-item="")
            a.accordion-title {{ link.title }}
              .accordion-content(data-tab-content="")

                +for("childlink in linklists[child_list_handle].links")
                  a.site-nav__link(href="{{ childlink.url }}") {{ childlink.title | escape }}

      //- 
      //- +for("link in linklists.second-nav.links")
      //- 
      //- |         {% assign child_list_handle = link.title | handleize)
      //- |         {% if linklists[child_list_handle].links != blank)
      //- |         {% else)
      //- li.accordion-item.no-dropdown
      //-   a.accordion-title(href="{{ link.url }}") {{ link.title }}
      //- |         {% endif)
      //- |     {% endfor)

  //- Plants Care

    +include('plant-care')

  .abouthome.clearfix
    .row.align-center
      .column.large-8
        h3 Why us?
        textarea.abouthome__content(disabled="") {{settings.about-content}}

  //- Social Feed
  //- +include "social-feed")

    +include("testimonials")
