.template-blog {
	.articles {
		.blog-header {
			margin-bottom: 5rem;
			text-align: center;

			img {
				display: inline-block;
			}

			.content {
				display: inline-block;
				padding-left: 1rem;
				text-align: left;
				position: relative;
				top: 30px;

				h1 {
					font-family: Georgia, serif;
					margin-bottom: 0;
				}

				p {
					color: #888;
				}
			}
		}

		.cell {
			&:nth-child(1) {
				.article {
					background-color: #404853;

					&:hover {
						background-color: darken(#404853, 2%);
					}
				}
			}

			&:nth-child(2) {
				.article {
					background-color: #d7ccd4;

					&:hover {
						background-color: darken(#d7ccd4, 2%);
					}
				}
			}

			&:nth-child(3) {
				.article {
					background-color: #d4aa48;

					&:hover {
						background-color: darken(#d4aa48, 2%);
					}
				}
			}

			&:nth-child(4) {
				.article {
					background-color: #c46b4f;

					&:hover {
						background-color: darken(#c46b4f, 2%);
					}
				}
			}

			&:nth-child(5) {
				.article {
					background-color: #bf9d81;

					&:hover {
						background-color: darken(#bf9d81, 2%);
					}
				}
			}

			&:nth-child(6) {
				.article {
					background-color: #845e54;

					&:hover {
						background-color: darken(#845e54, 2%);
					}
				}
			}
		}

		.article {
			border-radius: 3px;
			overflow: hidden;
			margin-bottom: 2rem;
			transition: 100ms;
			position: relative;
			top: 0;

			a {
				display: block;
			}

			&:hover {
				top: -4px;
			}

			.image {
				height: 250px;
				width: 100%;
				background-size: cover !important;
				display: block;
			}

			.content {
				padding: 2rem;
				color: #fff;
				overflow: hidden;
				display: block;
				border-top: 5px solid rgba(0, 0, 0, 0.1);

				* {
					color: white;
				}

				.title {
					font-size: 28px;
					font-weight: 400;
					line-height: 1.3em;
					font-family: Georgia, serif;
				}

				.snippet {
					font-size: 18px;
					line-height: 1.6em;
					margin: 1.5rem 0;
				}

				.read-more {
					color: rgba(255, 255, 255, 0.8);
					margin-bottom: 0;
					font-size: 18px;
					font-weight: 500;
				}
			}
		}
	}
}

// Single Aritcle
.template-article {
	.title {
		.button {
			margin: 0 auto;
			display: table;
			text-align: center;
		}

		h1 {
			margin-top: 2rem;
			margin-bottom: 1rem;
			font-family: Georgia, serif;
		}

		ul {
			display: block;
			margin: 0;

			li {
				display: inline-block;
				margin-right: 1rem;
				list-style: none;
				position: relative;

				&.twitter {
					position: relative;
					top: 3px;
				}

				&.google {
					position: relative;
					top: 3px;
				}

				&.facebook {
					position: relative;
					top: -5px;
				}
			}
		}

		.featured-image {
			width: 100%;
			padding: 3rem 0;
		}
	}

	.single-article {
		a,
		li,
		ol,
		p,
		ul {
			font-size: 18px;
			line-height: 1.8em;
		}

		a {
			border-bottom: 1px solid #bbb;
		}

		.image-wrap {
			width: 100%;
			margin: 2rem auto 3rem;
			max-height: 450px;
			display: block;
			overflow: hidden;
			transition: all 800ms linear;

			img {
				width: 100%;
			}

			&:hover {
				max-height: 1000px;
			}
		}
	}

	.mailchimp {
		border-radius: 3px;
		background-color: $primary-color;
		padding: 3rem;
		margin-bottom: 3rem;

		* {
			color: white;
			font-size: 18px !important;
		}

		#mc_embed_signup {
			background: transparent;

			label {
				font-size: 28px !important;
				line-height: 1.2em;
				font-family: Georgia, serif;
				font-weight: 300;
			}

			input.email {
				border-width: 0;
			}

			#mc-embedded-subscribe {
				background-color: white;
				color: $primary-color;
			}
		}
	}
}
