section.cart-container {
    .title {
        margin-top: 1rem;

        h1 {
            font-size: 32px;
            line-height: 1.38;
        }

        a {
            font-size: 20px;
        }
    }

    .cart-item,
    .checkout {
        background: #ffffff;
        border: 1px solid #50e3c2;
        box-shadow: 0 10px 20px 0 rgba(222, 222, 222, 0.1);
        border-radius: 2px;
        margin-top: $global-margin;
    }

    form {
        @include breakpoint(medium) {
            margin-top: 1rem;
        }

        .cart-item {
            padding: 1.5rem;

            .right {
                margin-top: 1.5rem;
                padding-top: 1.5rem;
                border-top: 1px solid #eee;

                @include breakpoint(medium) {
                    margin-top: 0;
                    padding-top: 0;
                    border-top-width: 0px;
                }
            }

            .item-title {
                font-family: LibreBaskerville;
                font-size: 16px;
                font-style: italic;
                line-height: 1.5;
                color: #484848;
            }

            .item-variant {
                font-size: 16px;
                color: #496159;
                font-weight: bold;
            }

            .item-quantity,
            .js-qty {
                margin-bottom: 0;
            }

            .item-total {
                font-weight: bold;
                font-size: 20px;
                min-width: 5rem;
                text-align: center;

                @include breakpoint(medium) {
                    text-align: right;
                }
            }

            .item-remove {
                opacity: 0.2;

                &:hover {
                    opacity: 1;
                }
            }

            &:hover {
                box-shadow: 0 20px 40px 0 rgba(222, 222, 222, 0.2);
                border: 1px solid $red;

                .item-remove {
                    opacity: 0.8;
                }
            }
        }
    }

    .checkout {
        padding: 0 1.5rem 1.5rem;

        .row {
            padding: 1.5rem 0;
            border-bottom: 1px solid #d9d9d9;
            font-size: 20px;
            color: #496159;
            font-weight: bold;

            &.shipping {
                color: $red;
            }

            &.gift-wrapping {
                color: $dark-gray;

                a {
                    color: inherit;

                    &:hover {
                        color: $red;
                    }
                }
            }
        }

        label {
            margin-top: 2rem;
            font-family: FuturaRound-Demi;
            font-size: 16px;
            color: #496159;
            display: block;
            margin-bottom: 1rem;
        }

        textarea {
            height: 100px;
            min-width: 100%;
        }

        .button-group {
            margin-top: 2rem;
            margin-bottom: 0;

            button {
                padding: $global-padding;
                display: block;
                width: 100%;
                border-radius: $global-radius;
                font-weight: bold;
                font-size: 16px;
                text-transform: uppercase;
                margin-top: 0.5rem;
            }
        }
    }
}

section.suggestion-page {
    padding: 3rem 0;
    margin-top: 3rem;
    border-top: 1px solid #eee;
}
