body#contact-us-indoor-amp-outdoor-plants-for-sale-online {
	background-color: white;
}

.contact-page-container {

	background-image: url(//cdn.shopify.com/s/files/1/0248/6983/t/12/assets/flower-bg2-720-cropped.jpg?14076333914611807902),
		url("//cdn.shopify.com/s/files/1/0248/6983/t/12/assets/flower-bg1-720-rotated-cropped.jpg?14076333914611807902"),
		url("./../assets/piab-flower-3.jpg");
	background-position: left 150px, right 120px, left calc(100% - 145px);
	background-size: 100px auto, 180px auto, 350px auto;
	background-repeat: no-repeat;
	z-index: 3;

	.first-section {
		color: $singlegreen;

		.rte {
			>div {
				font-size: rem-calc(20);
				font-weight: 500;
				padding: 0 1rem !important;
				text-align: left !important;
			}
		}
	}
}

.contact-form {

	&-btn {
		&.success {
			background-color: $flurogreen;

			&[disabled] {
				background-color: $flurogreen;

				&:hover,
				&:focus {
					background-color: $flurogreen;
				}
			}
		}
	}

	&-fields {
		position: relative;

		&.hide {
			display: none;
		}

		&:after {
			content: '';
			display: block;
			height: 270px;
			width: 120px;
			position: absolute;
			bottom: -50px;
			right: -120px;

			@supports(background-blend-mode: multiply) {
				background: {
					image: url("./../assets/piab-flower-2.jpg");
					repeat: no-repeat;
					size: cover;
				}

				;
				background-color: rgba(0, 0, 0, 0.03);
				background-blend-mode: multiply;
			}
		}
	}
}

.content-container {
	margin-top: -50px;
	padding: 60px 0 80px;
	background: rgba(0, 0, 0, 0.03);
}

.form-container {
	background: rgba(0, 0, 0, 0.03);
	padding: 85px 0;
}

.contact-page {
	&.first-section {
		padding: 20px 0;
	}

	&.categoires-container {
		margin: 0;
		position: relative;
		z-index: 1;

		.grid-x {
			justify-content: center;
			align-items: center;

			.search-container {
				height: 55px;
				width: 366px;
				border-radius: 100px;
				background-color: #FFFFFF;
				box-shadow: 0 22px 40px 0 rgba(0, 0, 0, 0.1);
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				bottom: 30px;

				i.fa {
					color: #a9a9a9;
					font-size: 17px;
				}

				input {
					width: 300px;
					border: none;
					font-size: 16px;
					font-weight: bold;

					&:active,
					&:focus {
						outline: none;
					}
				}
			}
		}

		.categories {
			min-height: 100px;
			padding: 30px 0 85px;

			.category {
				padding: 14px 16px;
				cursor: pointer;

				>div {
					height: 200px;
					width: 304px;
					border-radius: 4px;
					background-color: #FFFFFF;
					box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);

					&:hover {
						background-color: #DE3F3A;
						color: white;

						.icon-image {
							border-color: white;
						}
					}

					.icon-image {
						display: inline-block;
						border-radius: 50%;
						border: 2px solid #496159;
						padding: 20px;
						background: white;
						margin-bottom: 30px;
						margin-top: 30px;

						img {
							width: 32px;
							height: 32px;
						}
					}
				}
			}
		}
	}

	.articles-diag {
		width: 100vw;
		height: 100vh;
		z-index: 1000;
		background-color: rgba($singlegreen, 0.2);
		position: fixed;
		overflow: hidden;
		top: 0 !important;
		left: 0;

		#articles {
			position: fixed;
			left: 5vw;
			top: 15vh;
			width: 90vw;
			height: 70vh;
			padding: 20px;
			background-color: white;
			box-shadow: 0 0 10px #eee;
			color: $singlegreen;
			overflow: auto;
			transition: 1s;
			opacity: 1;

			@include breakpoint (medium up) {
				left: 20vw;
				width: 60vw;
			}

			&.hidden {
				left: -40vw;
				opacity: 0;
				transition: 1s;
			}

			.article {
				cursor: pointer;

				h5 {
					margin: 5px;
					border-bottom: 1px solid #aaa;
					padding: 5px;
				}
			}
		}

		#article-content {
			position: fixed;
			left: 5vw;
			width: 90vw;
			height: 70vh;
			top: 15vh;
			padding: 20px;
			background-color: white;
			box-shadow: 0 0 10px #eee;
			color: $singlegreen;
			overflow: auto;
			opacity: 1;
			transition: 1s;

			@include breakpoint (medium up) {
				left: 20vw;
				width: 60vw;
			}

			&.hidden {
				opacity: 0;
			}
		}

		.btn-close,
		.btn-back {
			font: {
				size: rem-calc(18);
				weight: 700;
			}

			;
			text-transform: uppercase;
		}

		.btn-back {
			color: $grey;

			i {
				margin-right: 1rem;
			}
		}

		.btn-close,
		.btn-back {
			border-radius: 0;
		}

		.btn-wrap {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&.hidden {
			display: none;
		}

		h4.title {
			padding-bottom: 40px;
		}
	}

	form {

		h2 {
			color: #496159;
			font-family: "PT Serif";
			font-size: 40px;
			font-style: italic;
			font-weight: bold;
			line-height: 60px;
			text-align: center;
			margin-bottom: 35px;
		}
	}
}
