$radio-padding: 7px;
$radio-raidus: 5px;

.garden-assistant{

	&-hero{
		color: white;
		margin-top: -152px; //.banner height + .main-content margin-top
		padding: 200px 0;
		position: relative;
		text-align: center;
		width: 100%;

		@include breakpoint(large){
			margin-top: -182px; //.banner height + .main-content margin-top
		}

		&.full-height{
			min-height: 100vh;
			display: flex;
			align-items: center;
		}

		&-background{
			background: {
				image: url("./../assets/garden-background.jpg");
				position: top center;
				repeat: no-repeat;
				size: cover;
			};
			height: 100%;
			position: absolute;
			top: 0;
			width: 100%;
		}

		&-foreground{
			width: 100%;
    		height: 100%;

			&:after,
			&:before{
				content: '';
				display: block;
				width: 100%;
    			height: 100%;
    			position: absolute;
    			top: 0;
			}
			&:after {
				background-image: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)), 
				linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), 
				linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
			}
		}

		&-content{
			z-index: 2;

			.button{
				font-size: rem-calc(18px) !important; //same as button on homepage
				text-decoration: none
			}

			//same as .feature-background
			h1{
				font: {
					family: "PT Serif", serif;
					style: italic;
				};

				@include breakpoint(large){
					font-size: rem-calc(54);
				}
			}

			p{

				color: inherit;
				font: {
					weight: 500;
				};
				line-height: 1.3;

				@include breakpoint(large){
					font-size: rem-calc(24);
				}
			}
		}
	}

	&-form{
		background-color: #F6F6F6; //same as contact page, consider reviewing the overall style and make variables

		@supports(background-blend-mode: multiply){
			background: {
				image: url("./../assets/piab-flower-2.jpg"),
					url("//cdn.shopify.com/s/files/1/0248/6983/t/12/assets/flower-bg1-720-rotated-cropped.jpg?14076333914611807902");
				position: 30px top,right 120px;
				repeat: no-repeat;
				size: 130px auto, 350px auto;
			};
    		background-blend-mode: multiply;
		}

		@include breakpoint(small only){
			background-image: none;
		}

		&.hide{
			display: none;
		}

		button{
			.loading-text, .loading-dot{
				display: none;
			}

			&[disabled]{
				display: flex;

				.loading-text, .loading-dot{
					display: flex;
				}

				.pristine{
					display: none;
				}
			}
		}
	}

	&-step{
		margin-bottom: 60px;

		&:first-child{

			margin-top: -140px;

			@include breakpoint(medium up){
				margin-top: -90px;
			}
		}

		&-header{
			@include breakpoint(large){
				display: flex;
				justify-content: space-between;

				h2{
					min-width: 40%;
				}

				p{
					text-align: right;
				}
			}
		}

		p{
			color: $grey;
		}
	}

	.grid{
		padding: 0 1rem;
	}

	.h4{
		font-weight: 700;
		margin-bottom: 30px;

		&.red{
			color: $red;
		}

		&.white{
			color: white;
		}
	}

	.radio{
		&-group{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		&-btn{
			border-radius: $radio-raidus;
			box-shadow: 0 22px 40px 0 rgba(0,0,0,0.15);
			height: 10rem;
			padding: $radio-padding;
			position: relative;
			transition: all .2s ease-in-out;
			width: 100%;

			@include breakpoint(large){
				width: 23%;
			}

			@include breakpoint(medium down){
				margin: 1rem 0;
				width: 48%;
			}

			&:hover{
		    	img{
		    		transform: scale(1.1);
		    	}
		    }

		    input[type="radio"] {
			    appearance: none;
			    background: transparent;
			    border-width: 0;
			    box-sizing: content-box;
			    cursor: pointer;
			    position: relative;
			    width: 100%;
			    height: 100%;
			    transition: all .3s linear;

			    &:checked{

			    	+ label{
			    		&:after{
				    		content: '\2713 \00a0 Selected';
				    		background: {
				    			color: white;
							};
				    		border-radius: rem-calc(25);
				    		color: $red;
				    		font: {
				    			family: "futura-pt",Helvetica,Roboto,Arial,sans-serif;
				    			size: 1rem;
				    			weight: 700;
				    		};
				    		padding: rem-calc(4) rem-calc(40);
						    position: absolute;
						    bottom: -18px;
						    left: calc(50% - 78.5px);
				    	}
			    	}
			    }

			    + label {
			    	color: white;
			    	display: flex;
			    	align-items: center;
			    	font: {
			    		family: PTSerif;
			    		size: rem-calc(22);
			    	};
			    	justify-content: center;
				    height: 100%;
				    position: relative;
				    left: -8px;
				    top: -21px;
				    transition: all .3s linear;
				    width: 100%;
				    z-index: 3;

				    @include breakpoint(small only){
				    	font-size: 1rem;
				    }
				}
			}

			&-media{
				border-radius: $radio-raidus;
				height: calc(100% - 14px);
				width: calc(100% - 14px); //TODO: variable
				position: absolute;
				top: $radio-padding;
				transition: all .5s;
				z-index: 2;
			}
		}
	}
}



