body.template-product {
    max-width: 100%;

    h1,
    .h1 {
        color: $singlegreen;
        margin-top: 2rem;
        margin-bottom: 0.25rem;
        font-size: 1.75rem;

        @include serif;

        font-weight: bold;
        font-style: italic;

        @include breakpoint(large) {
            margin-bottom: 0.5rem;
            margin-top: 0;
            font-size: 2.5rem;
        }
    }

    p.sub-heading {
        margin-bottom: 2rem;
        font-size: 1.5rem;

        @include breakpoint(large) {
            margin-bottom: 3rem;
        }
    }

    h2 {
        color: $singlegreen;
        font-size: rem-calc(24px);
        margin-bottom: rem-calc(24px);
    }

    a[data-toggle="product-description"] {
        border: 1px solid $blue;
        border-radius: 5px;
        color: $blue;
        display: inline-block !important;

        font: {
            weight: 700;
        }

        margin-bottom: $global-margin;
        padding: rem-calc(10px 18px);
        text-transform: uppercase;
    }

    .product-description {
        @include sans-med;

        color: $greengrey;
        max-height: calc(24px * 5); // line-height * line to display
        overflow: hidden;
        text-overflow: ellipsis;
        transition: 0.5s all ease-in-out;

        font-size: rem-calc(18px);
        line-height: rem-calc(24px);

        @include breakpoint(small only) {
            font-size: 1rem;
        }

        &.expanded {
            height: auto;
            max-height: 100%;
        }

        @include breakpoint(small only) {
            max-height: calc(24px * 4); // line-height * line to display
        }

        h1 {
            display: none;
        }

        // no idea where the H1 comes from

        a,
        li,
        p {
            font-size: inherit;
            line-height: inherit;
            margin-bottom: rem-calc(24px);
        }
    }

    .product-single {
        margin: $global-margin 0;

        .ruler--break {
            position: relative;
            margin: $global-margin 0;

            img {
                margin: 0 auto;
                display: block;
            }

            &:after,
            &:before {
                content: "";
                position: absolute;
                height: 1px;
                background: #c0f3e7;
                width: 40%;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }

            &:after {
                left: auto;
                right: 0;
            }
        }

        .button--darkgreen {
            color: #fff;
            text-transform: uppercase;
            background: $darkgreen;
            border-radius: 3px;

            @include sans-bold;

            &:hover {
                background: darken($darkgreen, 10%);
            }
        }

        .breadcrumb {
            margin-bottom: $global-margin;
        }

        .owl-nav {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;

            >div {
                background: $primary-color;
                color: white;
                padding: $global-padding calc(#{$global-padding} / 2);
                transition: all 0.2s ease-in-out;

                &:hover {
                    background: darken($primary-color, 10%);
                }
            }

            .owl-prev {
                position: absolute;
                left: 0;
            }

            .owl-next {
                position: absolute;
                right: 0;
            }
        }

        .calc__text {
            color: $grey;

            @include sans-med;
        }

        @include breakpoint(large) {
            margin: 0;

            .desktop--addcart {
                margin-bottom: $global-margin;
            }

            .breadcrumb {
                margin-bottom: calc(#{$global-margin} * 2);
            }

            .owl-carousel {
                .item img {
                    border: 1px solid #d7d7d7;
                }

                &.js-carousel-1 {
                    .active .item img {
                        border: 1px solid $red;
                    }
                }

                .current {
                    .item img {
                        border: 1px solid $red;
                    }
                }
            }

            .js-carousel-2 {
                margin: $global-margin 0 calc(#{$global-margin} * 3);
            }
        }
    }

    //
    // Ready to Grow
    //

    section.ready-to-grow {
        margin-top: 4rem;

        .faq__single {
            border: 3px solid $singlegreen;
            padding: calc(#{$global-padding} * 3) calc(#{$global-padding} * 2);
            margin-bottom: calc(#{$global-margin} * 8);
            position: relative;

            @include breakpoint(large) {
                padding: 80px 160px 80px 80px;
                margin-bottom: calc(#{$global-margin} * 12);
            }

            img {
                width: 200px;
                position: absolute;
                bottom: -50%;
                transform: translateY(-25%);
                right: -15px;

                @include breakpoint(large) {
                    width: auto;
                    top: 50px;
                    transform: translateY(0);
                    right: -90%;
                    bottom: auto;
                }
            }

            h4 {
                color: $singlegreen;

                @include breakpoint(large) {
                    font-size: rem-calc(32);
                }
            }

            a {
                color: #a9a9a9;
                text-decoration: underline;

                @include sans-bold;

                span {
                    display: inline-block;
                    text-decoration: none;
                }
            }

            p {
                @include sans-med;

                @include breakpoint(large) {
                    font-size: calc(1rem + 4px);
                }
            }
        }
    }

    //Hide default BIS trigger, it is replaced by .bulk-out-stock
    //TODO: delete after deploying to master and widget set to OFF https://app.backinstock.org/widget/edit
    .bis-reset {
        .BIS_trigger {
            visibility: hidden;
            opacity: 0;
        }
    }
}

section.buy__cta {
    background-color: #f9f9f9;
    padding: 6rem 0;
}

#feefo-product-review-widgetId {

    @include breakpoint(large) {
        height: 645px;
        overflow-y: scroll;
    }

    .feefowidget-carousel-summary {
        @include breakpoint(large) {
            padding-left: 0;
        }
    }

    .feefowidget-background-white {
        background-color: transparent;
    }
}
