.template-search {
	.ais-hits {
		@include flex-grid-row($behavior: collapse);

		.ais-hits--item {
			@include flex-grid-column(12);
			padding: 0 !important;
			@include breakpoint(medium) {
				@include flex-grid-column(6);
			}
			@include breakpoint(large) {
				@include flex-grid-column(3);
			}
		}
	}
}
