.abouthome {
  h3 {
    @include sans-med;

    margin-bottom: $global-margin;
  }

  &__content {
    width: calc(100% - 40px);
    height: 200px;
    padding: 20px;
    overflow-y: scroll;
    box-sizing: content-box;
    border: 0;
    margin-bottom: 4rem;
    border-width: 1px 0 1px 1px;
    font-size: 1.125rem;
    color: #8a8a8a;
    background-color: #fefefe !important;
    box-shadow: 0 5px 80px 0 rgba(0, 0, 0, 0.2);
    cursor: initial !important;

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
  }
}
