.menu__content--menu {
	margin: 3rem auto;

	h3 {
		text-align: center;
		margin-bottom: 25px;
		font-style: italic;
		@include serif;
		font-weight: bold;
	}
}

.accordion {
	margin-bottom: 0;

	&.popular {
		margin-bottom: 3rem;
	}

	.accordion-item.is-active a:before {
		transform: rotate(180deg);
	}

	a {
		color: $body-font-color;
		@include sans-bold;
		font-size: 18px;

		&.accordion-title {
			&:before {
				content: "\e607";
				font-family: "icons";
			}
		}
	}

	.no-dropdown .accordion-title {
		&:before {
			display: none;
		}
	}
}
