.afterpay{
    background-color: $lighter-grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: rem-calc(24px);

    @include breakpoint(small only){
        margin-top: 1rem;
    }

    &-info{
        color: $text-light;
        font-size: rem-calc(13px);
        text-decoration: underline;
    }

    p{
        color: $singlegreen;
        line-height: 1.2;
        margin-bottom: 0;
    }
}