.breadcrumb {
  text-align: center;
  margin-bottom: 2rem;

  @include breakpoint(medium) {
    margin-bottom: 0;
    text-align: left;
    margin-bottom: 0;
  }


  a,
  span {
    font-size: 18px;
  }

  a {
    color: $red;
    text-decoration: underline;
  }

  span {
    color: #A9A9A9;
  }
}
