.coach{
    &-title{
        h2{
            font: {
                size: rem-calc(40px) !important;
            };
            text-align: center;

            &:after{
                @include title-border;
                background: $light-grey;
            }
        }
    }

    &-description{
        color: $text-light;
        margin-bottom: 2rem;

        @include breakpoint(large){
            max-width: rem-calc(380px);
        }

        p{
            font-size: rem-calc(20px);
        }
    }

    &-mobile{
        background: $light-grey;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        border: rem-calc(24px) solid white;
        border-bottom: none;
        color: $eucalyptus;
        font-family: Arial, Helvetica, sans-serif;
        max-width: rem-calc(400px);
        max-height: rem-calc(540px);
        overflow: hidden;
        padding: 0 1rem;

        &-description{
            font: {
                size: rem-calc(18px);
                weight: 700;
            };
            line-height: normal;
            margin-bottom: 2rem;
            text-align: center;
        }

        &-inner{
            background: white;
            padding: 2rem;

            h4{
                font: {
                    family: inherit;
                    size: rem-calc(20px);
                };
                margin-bottom: 1rem;
            }

            p{
                font: {
                    family: inherit;
                    size: 1rem;
                }
            }
        }

        &-intro{
            max-width: rem-calc(250px);
            margin: auto;
            text-align: center;
        }

        &-logo{
            text-align: center;

            img{
                max-width: rem-calc(80px);
            }
        }

        &-title{
            font: {
                family: inherit;
                size: rem-calc(20px);
            };
            margin: rem-calc(26px 0);

            &:after{
                @include title-border;
                background: white;
                width: 80%;
            }
        }
    }
}