.feature {
	overflow: hidden;
	position: relative;
	background-size: cover !important;

	.feature-background {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 2;
		background-color: rgba(83, 105, 96, 0.1);

		&:after,
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 2;
		}

		&:before {
			background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 69%, rgba(0, 0, 0, 0.5) 91%);
		}

		&:after {
			background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(53, 67, 61, 0.56) 20%);
		}
	}

	.feature__item {
		padding: 2rem 0 3rem;
		z-index: 3;
		position: relative;

		@include breakpoint(medium) {
			padding: 6rem 0 10rem;
		}

		.feature__inner {
			h1,
			h3 {
				color: #ffffff;
				font-weight: bold;
				font-style: italic;
				font-size: rem-calc(26px);

				@include serif;

				@include breakpoint(medium) {
					font-size: rem-calc(48px);
				}
			}

			h1 {
				text-align: center;

				@include breakpoint(large) {
					text-align: left;
					font-size: rem-calc(54px);
				}
			}

			p {
				color: #ffffff;
				font-weight: 500;
				font-size: 24px;
				line-height: 1.3;
				margin-top: 1.5rem;
				margin-bottom: 2rem;
			}

			a.button {
				color: #ffffff;
				font-weight: 500;
				display: block;
				font-size: 1.25rem;
				margin-top: $global-margin;

				img {
					display: inline-block;
					width: 20px;
				}

				@include breakpoint(medium) {
					border-bottom-width: 0;
				}

				@include breakpoint(large) {
					display: inline-block;
				}
			}
		}

		img {
			width: 100%;
		}
	}

	.feefo-gold {
		max-width: 120px;
		margin: 1rem auto 0;
		display: block;

		@include breakpoint(medium) {
			max-width: 300px;
			margin-top: 0;
		}
	}

	.feature__cost {
		float: right;
		border: 1px solid #ffffff;
		background-color: rgba(0, 0, 0, 0.45);

		.feature__tab {
			.ui-tabs-nav {
				display: inline-block;
				margin: 0;
				list-style: none;
				vertical-align: top;
				border-bottom: 1px solid white;

				li {
					float: left;
					border-right: 1px solid #ffffff;

					&:last-of-type {
						border-right: 0;
					}

					a {
						display: block;
						margin: 0;
						padding: 16px 25px;
						color: #ffffff;
						text-transform: uppercase;
						font-size: 14px;
					}

					&.ui-state-active {
						a {
							background: #ffffff;
							color: $red;
						}
					}
				}
			}

			.feature__tab__content {
				padding: 60px 0;
				text-align: center;

				h3 {
					margin-bottom: 0;
					font-weight: bold;
					font-style: italic;
					font-size: 3.125rem;

					@include serif;

					span {
						display: block;
						color: #ffffff;
						text-transform: uppercase;
						font-style: normal;
						font-size: .875rem;
						opacity: .5;
						line-height: 1.375rem;

						@include sans;
					}
				}

				p {
					color: #ffffff;
					text-align: center;
					font-weight: bold;
					font-size: 1.125rem;
					margin-bottom: 0;
					display: inline-block;
					border-bottom: 1px solid #fff;
				}
			}
		}

		.feature__cost--button {
			a {
				display: block;
				padding: 1em;
				background: #ffffff;
				color: $red;
				text-align: center;
				text-transform: uppercase;
				font-size: 1.125rem;
				transition: all .2s ease-in-out;

				@include sans-bold;

				&:hover {
					background: darken(#ffffff, 10%);
				}

				img {
					display: inline-block;
					width: 22px;
					vertical-align: baseline;
				}
			}
		}
	}
}
