.title__home {
	text-align: center;
	margin-top: $global-margin;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

@media only screen and (max-width: 639px) {
	.template-index .first--main-content {
		display: none;
	}

	.featured-collections {
		padding-right: 10px;

		.column,
		.columns {
			padding-right: 0;
		}

		.collection-wrap .collection a h2 {
			font-size: 1.375rem;
		}
	}
}

// FEATURED COLLECTIONS HOMEPAGE
@media screen and (min-width: 640px) {
	.featured-collections {
		background: url("bg-trans.png") 50% bottom no-repeat;
		background-size: cover;
	}
}

.collection-wrap {
	&.collection-wrap-1 .collection {
		a {
			background-color: rgba(67, 67, 67, 0.5);
		}
	}

	&.collection-wrap-2 .collection {
		a {
			background-color: rgba(85, 58, 62, 0.5);
		}
	}

	&.collection-wrap-3 .collection {
		a {
			background-color: rgba(73, 85, 70, 0.5);
		}
	}

	&.collection-wrap-4 .collection {
		a {
			background-color: rgba(69, 72, 52, 0.5);
		}
	}

	&.collection-wrap-5 .collection {
		a {
			background-color: rgba(58, 69, 90, 0.5);
		}
	}

	.collection {
		background-size: cover;
		width: 100%;
		height: 530px;
		position: relative;
		margin-bottom: 28px;
		border-radius: 8px;

		a {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: hsla(0, 26%, 77%, .6);
			border-radius: 8px;
			transition: all .2s ease-in-out;

			h2 {
				@include serif;
				position: absolute;
				top: 50%;
				right: 0;
				left: 0;
				transform: translateY(-50%);
				text-align: center;
				display: block;
				z-index: 200;
				color: #fff;
				font-size: 2rem;
				font-weight: normal;
				background: none;
				white-space: normal;
				word-break: break-all;
			}

			.browse {
				display: none;
			}

			&:hover {
				background-color: rgba(67, 67, 67, 0.5);

				.browse {
					display: block;
				}

				.label {
					display: none;
				}
			}
		}
	}
}

@media screen and (max-width: 639px) {
	.featured-collections {
		.main-content {
			margin-top: 0;
			padding-bottom: 0;
		}
	}

	.collection-wrap {
		.collection {
			height: 200px;
			margin-bottom: 10px;
			border-radius: 0;

			a {
				border-radius: 0;
			}
		}
	}
}
