.filters-container{
	display: flex;
	flex-wrap: wrap;
	font:{
		size: rem-calc(18);
		weight: 500;
	};
	min-height: 60px;
	padding: rem-calc(10) 1rem;

	@include breakpoint(medium){
		align-items: center;
		justify-content: space-between;
		border: solid 1px $border-grey;
	}

	@include breakpoint(small only){
		background: $lighter-grey; 
		flex-wrap: wrap;
		padding: 0;
	}

	&-small{
		display: flex;

		@include breakpoint(medium){
			justify-content: space-between;
    		flex-grow: 1;
		}
    	
    	@include breakpoint(small only){
    		flex-direction: column;
    		width: 100%;
    	}

    	&.filters{
    		@include breakpoint(medium up){
    			display: flex !important;
    		}

    		@include breakpoint(small only){
	    		order: 3;
	    		border: solid 1px $border-grey;
	    		border-top: 0;
	    		display: none;
	    	}
    	}

    	&.sorting{

    		@include breakpoint(small only){
	    		order: 1;
	    		background: white;

	    		.filter-wrap{
	    			width: 100%;
	    		}
			}
    	}
	}

	.border{
		background: $border-grey;
		height: 40px;
		width: 1px;

		@include breakpoint(small only){
			height: 1px;
			width: 100%;
		}

		&.hide-for-large-down{
			@include breakpoint(large down){
				display: none;
			}
		}
	}

	.js-toggle-filters-container-small{
		order: 2;
		background: white;
		border: solid 1px $border-grey;
		color: $singlegreen;
		cursor: pointer;
		display: flex;
    	justify-content: space-between;
    	padding: rem-calc(20) rem-calc(10);
		width: 100%;

		&.is-open{
			img{
				transform: rotate(180deg);
	    	}
		}

	    img{
	    	transition: transform .4s linear;
	    }
	}
}

.filter{

	&-breadcrumbs{
		display: flex;
   		align-items: center;

		a, span{
			color: $grey;

			&.collection-title{
				color: $singlegreen;
			}
		}
	}

	&-dropdown{
		display: flex;
		align-items: center;
		min-width: 130px; // based on the width of 'Ground Cover option'
		position: relative;

		@include breakpoint(small only){
			width: 100%;
		}

		&.no-label{
			label{
				color: transparent;
				padding: 0 rem-calc(24);
			}

			select{
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
			}
		}

		select{
			background-color: transparent;
			border: none;
			box-shadow: none;
			color: $singlegreen;
			font: inherit;
			line-height: 1;

			@include breakpoint(small only){
				padding-right: rem-calc(26);
				width: 100%;
			}
		}
	}

	&-toggle{
		display: flex;
		align-items: center;

		@include breakpoint(small only){
			justify-content: space-between;
			width: 100%;
		}

		&-label{
			color: $singlegreen;
			font: inherit;
			min-width: 110px;
			
			@include breakpoint(medium){
				margin-left: 1rem;
			}
		}

		.switch{
			margin-left: rem-calc(8);
		}
	}

	&-wrap{
		display: flex;
		flex-grow: 1;
		justify-content: center;
		min-height: 40px;
		padding: 0 1rem;

		@include breakpoint(small only){
			justify-content: flex-start;
			flex-basis: 100%;
			margin: auto;
			padding: rem-calc(20) 0;
			width: calc(100% - 20px);
		}

		&.has-breadcrumbs{
			max-width: 350px;

			@include breakpoint( large down){
				display: none;
			}
		}

		label{
			color: $grey;
			font: inherit;
			min-width: 60px;
		}
	}
}