.header__shipping {
  opacity: 0.98;
  background-color: $red;
  text-align: center;
  padding: 26px 10px 10px;

  h3 {
    font-size: 1rem;
    margin-bottom: 22px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;

    @include sans-bold;
  }

  a {
    padding: 1em;
    background: #BC3530;
    color: #fff;
    width: 100%;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.25s ease-out,color 0.25s ease-out;

    &:hover {
      background: darken(#BC3530, 10%);
    }
  }

  span.vertical-align {
    vertical-align: middle;
    margin-left: 0.2rem;
  }
}
