form.header-search {
  input {
    background-color: white;
    background-position: left 50%;
    background-repeat: no-repeat;
    border-radius: 1000px;
    width: 100%;
    margin-bottom: 0;
    transition: 0.5s;
    border-width: 0px;
    height: 38px;
    padding: 1rem 1rem 1rem 3rem;
    outline: 0;

    &::-webkit-input-placeholder {
      color: #496159;
    }
  }
}
