.mobile__message {
  text-align: center;
  background: url("mobile-header.png") right bottom no-repeat;

  h3 {
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 30px 0;
    color: $red;
    font-size: 0.9375rem;

    @include sans-bold;
  }
}
