.pagination {
  font-size: 1rem;
  margin-top: 3rem;

  a { 
    border-radius: 0;
    padding: 8px; 

    &:hover {
      background: transparent !important;
      color: $red;
      text-decoration: underline;
    }
  }
}

//search page
#pagination {
    @include flex-grid-row($behavior: collapse);

    div[data-reactroot] {
      @include flex-grid-column();

      ul {
        text-align: center;
        margin-top: 3rem;

        li{
          &.ais-pagination--item__active{

            a{
              background: $red;
              color: white;
              cursor: initial;
              text-decoration: none;
            }
          }
        }

        a{
          color: $text-dark;
          font:{
            size: 1rem;
          };
          line-height: 1;
          padding: 8px;

          &:hover{
            color: $red;
            text-decoration: underline;
          }
        }
      }
    }
  }
