.plant-care {
  padding-top: 100px;
  text-align: center;
  margin-bottom: 3rem;

  img {
    margin: 1rem 0;
  }

  h3 {
    position: relative;
    margin-bottom: 43px;
    padding-bottom: 25px;
    color: #4a4a4a;
    @include sans-bold;

    &:after {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -31px;
      width: 63px;
      height: 5px;
      background: #4a4a4a;
      content: "";
    }
  }

  h5 {
    @include serif;
    font-weight: normal;
    color: #444;
  }

  p {
    color: #444;
    font-size: 1.125rem;
  }
}
@media only screen and (max-width: 768px) {
  .plant-care {
    padding-top: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .plant-care {
    img {
      margin-bottom: 0.5rem;
    }
  }
}
