/* POPUP */
/* Notes: it was originally designed for #homePopup.
style has been slightly reviewed and reused also for the freshness popup */
.popup {
	color: white;
	padding: 0;

	&--close {
		position: absolute;
		top: 20px;
		left: 20px;
		right: auto !important; //override default Foundation style that causes issue on mobile
		z-index: 2;

		img{
			width: 40px;

			@include breakpoint(small only){
				width: 30px;
			}
		}

		@include breakpoint(small only){
			left: 4px;
		}
	}

	&--off {
		display: none;
	}

	// Middle Content
	&-content {
		margin-bottom: 30px;

		h4 {
			font-size: 1.5rem;
		}

		p {
			margin-bottom: 0;
			opacity: .7;
			font-size: 18px;
		}
	}

	&-container{
		// Container
		max-height: 100%;
		position: relative;
		overflow: auto;
		width: 100%;

		&-inner{
			padding: 5rem 0;
            overflow-x: hidden;

            @include breakpoint(small only){
                padding: 5rem rem-calc(40px) 8rem;
            }
		}
	}

	&-footer {
		text-align: center;

		.button {
			display: inline-block;
			padding: 16px 40px;
			border-radius: 2px;
			background-color:white;
			color: $text-dark;
			vertical-align: top;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1.125rem;

			&.red{
				background-color: $red;
				color: white;
			}

			img {
				margin-left: 0.5rem;
				vertical-align: bottom;
			}

			&:hover {
				background: darken(#ffffff, 10%);
			}
		}
	}

	&-title {
		margin-bottom: $global-margin;
		padding-top: $global-padding;
		text-align: center;

		h2 {
			font-size: 2.625rem !important;
			color: white !important;

			&:after{
				@include title-border;
				background: white;
			}
		}

		p {
			margin-bottom: $global-margin;
			opacity: .6;
			font-size: 1.375rem;
		}
	}

	&.reveal{
		//extra style needed if using .full, as it is buggy and doesn't close the reveal
		&[aria-hidden="false"]{
			display: flex !important;
			top: 0 !important;
			left: 0 !important;
			align-items: center;
			overflow: auto;
		}

		&[aria-hidden="true"]{
			display: none !important;
		}
	}

	&.is--fixed {
		position: fixed;
		display: block;
	}

	&.is-full-screen{
		width: 100vw;
		max-width: 100vw;
		height: 100vh;
	}

	.say-hello {
		position: absolute;
		right: 20px;
		top: 20px;
		text-align: center;

		@include breakpoint(large down){
			display: none;
		}

		@include breakpoint(xlarge){
			right: 100px;
		}

		&.green{
			z-index: 2;
			a,
			p,
			p strong {
				color: $singlegreen;
			}
		}

		p {
			display: inline-block;
			margin-bottom: 0;
			color: #ffffff;
			letter-spacing: 3px;
			font-weight: 500;
			font-size: 1rem;
			text-transform: uppercase;

			a {
				color: white;
			}

			&:last-of-type {
				display: block;
			}

			strong {
				color: #ffffff;
				font-weight: bold;
				font-size: 1.125rem;
			}

			img {
				width: 10px;
			}
		}

		img {
			display: inline-block;
			margin-right: 8px;
			width: 22px;
		}
	}
}

//extra style for HomePopup
.popup{
	&.is-home-popup{
		z-index: 100001;
		padding: 5rem $global-padding;
		background-color: $dark-grey; 
		background-image: linear-gradient(-135deg, rgba(104,97,108,0.98) 0%, #504954 100%);
		background-repeat: no-repeat;
		background-size: cover;

		@media only screen and (min-width: 1921px) {
			background-size: cover;
		}

		@include breakpoint(medium down) {
			padding-bottom: 0;
		}

		.popup-content{
			.cell {
				padding: 2rem 2rem 2rem calc(2rem + 30px);

				@include breakpoint(large) {
					&:nth-child(-n+3) {
						border-bottom: 1px solid rgba(255, 255, 255, 0.2);
					}
		
					&:nth-child(-n+2),
					&:nth-child(n+4):nth-child(-n+5) {
						border-right: 1px solid rgba(255, 255, 255, 0.2);
					}
				}
			}
		}
	
		h4 {
			position: relative;
	
			&:before {
				content: url("modal-leaf.svg");
				position: absolute;
				left: -30px;
			}
		}

		// Title
		.popup-title {

			&:before {
				position: absolute;
				top: 0;
				left: 50%;
				width: 3rem;
				height: 5px;
				background: white;
				content: "";
				transform: translateX(-50%);
			}
		}
	}
}

//extra style for freshnessCoachPopup
.popup{
	&.is-fresh-coach-popup{

		.popup-container{
			max-height: 100vh;
			height: 100%;
			width: 100%;

			&-inner{
				display: flex;
				flex-wrap: wrap;
				min-height: 100%;
				padding: 0;
			}
		}

		.popup-content{
			padding: 2rem 0; 

			.grid-x{
				justify-content: center;
			}

			.cell {
				padding: 0 0 2rem;

				@include breakpoint(small only){
					padding: 2rem 0;
				}

				@include breakpoint(large){

					&:nth-child(even){
						padding-left: rem-calc(40px);
					}

					&:nth-child(odd){
						padding-right: rem-calc(40px);
					}
				}

				h4{
					@include breakpoint(large){
						max-width: rem-calc(180px);
					}
				}

				p{
					@include breakpoint(large){
						max-width: rem-calc(290px);
					}
				}
			}
		}
	}

	&-section{

		margin-bottom: 0;

		&.coach-side{
			background-color: $grey-nurse;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			padding: 5rem rem-calc(40px) 0;
			position: relative;

			@supports(background-blend-mode: multiply){
				background: {
					image: url("//cdn.shopify.com/s/files/1/0248/6983/t/12/assets/flower-bg1-720-rotated-cropped.jpg?14076333914611807902");
					position: right bottom;
					repeat: no-repeat;
					size: 350px auto;
				};
				background-blend-mode: multiply;
			}

			@include breakpoint(large){
				padding: rem-calc(150px 110px 0);
				width: 40%;
			}

			@include breakpoint(large down){
				width: 100%;
			}

			@include breakpoint(small only){
				background-image: none;
			}

			&.selected{
				@include breakpoint(large down){
					display: flex;
				}
			}
		}

		&.freshness-side{
			background-color: $dark-grey; 
			padding: 5rem rem-calc(40px);

			@include breakpoint(small only){
				padding: 5rem rem-calc(40px) 9rem;
			}

			@supports(background-blend-mode: multiply){
				background: {
					image: url("./../assets/piab-flower-2.jpg");
					position: left top;
					repeat: no-repeat;
					size: 160px auto;
				};
				background-blend-mode: multiply;
			}

			@include breakpoint(large){
				padding: 5rem rem-calc(110px);
				width: 60%;
			}

			@include breakpoint(large down){
				width: 100%;
			}

			&.selected{
				@include breakpoint(large down){
					display: block;
				}
			}
		}

		// on mobile the two sections are stacked. Need to display one or the other
		// depending on what link the user clicks on
		&.coach-side,
		&.freshness-side{
			@include breakpoint(large down){
				display: none;
			}
		}
	}
}