#productvue {
  text-align: center;

  .button--darkgreen {
    color: #fff;
    text-transform: uppercase;
    background: $darkgreen;
    border-radius: 3px;

    &:hover {
      background: $darkgreen, 10%;
    }
  }

  .product__details {
    margin-left: 0;

    > li {
      display: inline-block;
      margin: 0 1.3rem;
    }

    img {
      margin: 0 auto calc(#{$global-margin} / 2) auto;
      width: 24px;
      height: 24px;
      border: 0;
    }

    p {
      font-size: calc(1rem - 2px);
      line-height: 1rem;
      text-align: center;
      opacity: 0.7;
    }
  }
}

@include breakpoint(large) {
  #productvue {
    .content__border {
      border-top: 1px solid lighten($flurogreen, 20%);
      border-bottom: 1px solid lighten($flurogreen, 20%);
      margin: $global-margin 0 calc(#{$global-margin} * 2.5);
      padding: calc(#{$global-padding} * 2) 0;

      img {
        margin-right: calc(#{$global-margin} * 2);
        float: left;
      }

      p {
        margin-bottom: 0;
        font-size: calc(1rem + 2px);
      }
    }
  }
}
