// Hack for borders

.main__product--column {
    margin-top: -1px;
}

.main__product {
    border: 1px solid $border-grey;
    margin: 0 -1px;
    position: relative;
    height: 100%;
    background: #fff;
    transition: all .2s ease-in-out;

    // Gallery
    .owl-stage-outer {
        overflow: hidden;
    }

    .owl-carousel {
        z-index: 0;
        position: relative;

        .owl-item {
            a {
                display: block;

                img {
                    width: 100%;
                }
            }
        }

        // Sold Out Message
        &.sold-out {
            .owl-stage-outer {
                opacity: .3;
                transition: 150ms all;
            }

            &:before {
                content: 'GROWING';
                top: 50%;
                width: 100%;
                font-size: 20px;
                text-align: center;
                position: absolute;
                color: $red;
                opacity: 1;
                transform: translateY(-50%);
                transition: 150ms all;
            }
        }

        &:hover {
            .owl-stage-outer {
                opacity: 1;
            }

            &:before {
                opacity: 0;
            }
        }
    }

    .owl-nav {
        position: absolute;
        bottom: -15px;
        right: 10px;
        display: none;
    }

    // Title
    .product__link {
        display: block;
        padding: 1.5rem;
        text-align: center;

        .product__title {
            font-size: 18px;
            color: #4A4A4A;
            margin-top: 0;
            margin-bottom: 0;
            line-height: 1em;

            @include sans-med;
        }

        .product__cost {
            font-size: 1rem;
            color: #A9A9A9;
            margin-bottom: 0;
            margin-top: 0.5rem;

            @include sans-med;
        }
    }
}

@include breakpoint(large) {
    .main__product {
        &:hover {
            overflow: hidden;
            border-color: $red !important;
            background: #fff;
            box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.16);
            z-index: 500;

            .owl-nav {
                display: inline-block;
            }

            .owl-prev {
                border-right: 1px solid #c92f27;
            }

            .owl-next,
            .owl-prev {
                display: inline-block;
                background-color: $red;
                padding: .3rem .6rem;
                color: #fff;

                img {
                    margin: 0;
                    display: inline-block;
                }

                &.disabled {
                    cursor: inherit;
                    background: transparent;
                    color: transparent;
                    border-right: 0;
                    padding: 0;

                    img {
                        display: none;
                    }
                }
            }
        }
    }
}


//quick workaround to toggle availability
#product-grid {
    &.only-available {
        .is-sold-out {
            display: none;
        }
    }
}
