.promos {
	padding: 8px 8px 0;
	margin: 2rem .5rem 0;

	@include breakpoint(medium) {
		padding: 0 2.5px;
	}

	.column {
		position: relative;
		padding: 5px 2.5px !important;
	}

	a.promos__item {
		padding: 4rem 2rem;
		background-size: cover !important;
		background-position: center center;
		background-repeat: no-repeat;
		transition: 100ms all ease-in-out;
		height: 100%;
		display: block;
		overflow: hidden;
		top: 0;
		bottom: 0;
		z-index: 1;
		position: relative;

		span.promos__content {
			position: relative;
			z-index: 3;
			display: block;
			width: 100%;
			text-align: center;
			max-width: 300px;
			margin: 0 auto;

			h3 {
				color: #536960;
				font-weight: 500;
				font-size: rem-calc(28px);
			}

			p {
				color: #536960;
				font-weight: 500;
				font-size: 18px;
				margin-bottom: 0;
				line-height: 1.3;
			}

			.button {
				font-weight: bold;
				margin: 2rem auto 0;
				font-size: 18px !important;
			}
		}

		.color-wash {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(227, 235, 231, 0.70);
		}

		&--02 {
			span.promos__content {
				h3,
				p {
					color: #ffffff;
				}
			}

			.color-wash {
				background: rgba(78, 91, 97, 0.70);
			}
		}
	}
}
