.section-header {
	margin-top: $global-margin;

	.hide--image {
		img {
			display: none;
		}
	}

	select {
		margin-bottom: 0;
		@include sans-bold;
	}

	.collection-content {
		padding: 0;

		p,
		ul > li {
			color: $singlegreen;
			font-size: 1.25rem;
		}

		.collection__desc {
			text-overflow: ellipsis;
			max-height: 100px;
			overflow: hidden;

			&.expanded {
				max-height: 100% !important;
			}
		}
	}
}

.collection-description {
	border: 1px solid #eee;
	padding: 3rem;
	margin-top: 6rem;
	position: relative;
	background-color: #f7f7f7;
	font-size: 18px;

	.description-title {
		background-color: $red;
		color: white;
		padding: .5rem 1.5rem;
		font-size: 16px;
		border-radius: 4px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	p {
		font-size: 18px;

		&:first-of-type {
			margin-top: $global-margin;
		}
	}
}
