.similar__products {
  padding: calc(#{$global-padding} * 2.5) 0;

  h2 {
    color: $singlegreen;
    font-style: italic;

    @include serif;
  }

  p {
    color: $grey;

    @include sans-med;
  }

  .main__product {
    margin:0;
  }
}

@include breakpoint(large) {
  .similar__products {
    padding: calc(#{$global-padding} * 5) 0;

    p {
      font-size: calc(1em + 4px);
      margin-bottom: calc(#{$global-margin} * 3);
    }

    .owl-carousel .owl-item:first-of-type .main__product {
      margin-left:0;
    }

    .owl-carousel .owl-item:last-of-type .main__product {
      margin-right:0;
    }
  }
}
