.site-header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 999;
  padding-top: 0;

  &__logo {
    img {
      width: 103px;
    }
  }

  .mobile--padding-top {
    padding-top: 15.5px;
  }
}

@include breakpoint(medium) {
  .site-header {
    &__logo {
      img {
        width: 153px;
      }
    }
  }
}


@media only screen and (min-width: 1024px) {
  .site-header {
    &__logo {
      img {
        width: auto;
      }
    }

    .mobile--padding-top {
      padding-top: 0;
    }
  }
}
