.social-feed {
	padding: rem-calc(60px) 0 0;

	.grid {
		width: 290px;
		margin: auto;
	}

	.grid .column-sizer {
		width: 145px;
	}

	.grid .grid-item {
		width: 145px;
		height: 145px;
		padding: 5px;
		box-sizing: border-box;
		float: left;
	}

	.grid .grid-item img {
		width: 100%;
		max-width: 100%;
	}

	.grid .grid-item--width2 {
		width: 290px;
	}

	.grid .grid-item--height2 {
		height: 290px;
	}

	.social-feed-title {
		box-sizing: border-box;
		width: 50%;
		height: 100%;
		float: left;
	}

	.social-feed-title-left {
		color: #ed403c;
		text-align: center;
		font-size: 3.5625rem;

		-webkit-transform: rotate(-6deg);
		transform: rotate(-6deg);
		line-height: 2.5625rem;
	}

	.social-feed-title-right .title-top {
		width: 100%;
		text-align: center;

		font-size: 1.875rem;
		-webkit-transform: rotate(-6deg);
		transform: rotate(-6deg);
	}

	.social-feed-title-right .title-bottom {
		width: 100%;
	}

	.social-feed-title-right .title-follow-box {
		display: block;
		width: 50%;
		float: left;
	}

	.social-feed-title-right .title-follow-box a {
		display: block;
		color: #666;
		font-size: .75rem;
		text-align: center;
	}

	.social-feed-title-right .title-follow-box .title-follow-img-wrap {
		display: block;
		width: 32px;
		margin: auto;
	}
}

@media (min-width: 720px) {
	.social-feed {
		.grid {
			width: 660px;
		}

		.grid .column-sizer {
			width: 220px;
		}

		.grid .grid-item {
			width: 220px;
			height: 220px;
		}

		.grid .grid-item--width2 {
			width: 440px;
		}

		.grid .grid-item--height2 {
			height: 440px;
		}
	}
}

@media (min-width: 768px) {
	.social-feed {
		.grid {
			width: 660px;
		}

		.grid .column-sizer {
			width: 110px;
		}

		.grid .grid-item {
			width: 110px;
			height: 110px;
		}

		.grid .grid-item--width2 {
			width: 220px;
		}

		.grid .grid-item--height2 {
			height: 220px;
		}

		.social-feed-title-left {
			font-size: 2.5rem;
		}
	}
}

@media (min-width: 960px) {
	.social-feed {
		.grid {
			width: 778px;
		}

		.grid .column-sizer {
			width: 129px;
		}

		.grid .grid-item {
			width: 129px;
			height: 129px;
		}

		.grid .grid-item--width2 {
			width: 258px;
		}

		.grid .grid-item--height2 {
			height: 258px;
		}

		.social-feed-title-left {
			font-size: 3.5625rem;
		}
	}
}

@media (min-width: 1100px) {
	.social-feed {
		.grid {
			width: 960px;
		}

		.grid .column-sizer {
			width: 160px;
		}

		.grid .grid-item {
			width: 160px;
			height: 160px;
		}

		.grid .grid-item--width2 {
			width: 320px;
		}

		.grid .grid-item--height2 {
			height: 320px;
		}
	}
}
