.homepage-testimonials {
	padding-top: rem-calc(30px);

	@include breakpoint(large) {
		padding-top: calc(#{$global-padding} * 2);
	}

	.pencil-border {
		background-image: url("//cdn.shopify.com/s/files/1/0248/6983/t/12/assets/pencil-border.png?14076333914611807902");
		background-size: 100% 100%;
		background-position: 0 0;
		background-repeat: no-repeat;
		padding: 15px 25px;
	}
}

.testimonial {
	text-align: center;
}

.testimonial .testimonial-header {
	margin-bottom: 1rem;
}

.testimonial .testimonial-header .testimonial-name {
	font-size: 1rem;

	@include sans-bold;
}

.testimonial .testimonial-text {
	padding-bottom: 30px;
	font-size: 1rem;

	@include sans-med;
}

.testimonial .testimonial-image {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0 auto 1.2rem;
	overflow: hidden;
	display: block;
	border-radius: 50%;
	background-position: 50% 50%;
	background-size: 110%;
	background-repeat: no-repeat;
}

.testimonial-signup {
	text-align: center;

	p {
		font-size: 1rem;
	}

	.pencil-border-red {
		padding: 26px 29px;
		color: #ed403c;
		font-size: 1.8rem;
		font-weight: bold;
		margin-bottom: 1rem;
	}

	.signup-wrap input[type=email] {
		width: 100%;
		padding: 10px 15px;
		border: 1px solid #babebd;
		font-style: italic;
	}

	.signup-wrap input[type=submit] {
		background-color: #52685f;
		color: #fff;
		padding: 10px 20px;
		border-radius: 8px;
		font-size: 1rem;

		@include sans-bold;
	}
}
