body.js-drawer-open-right {
    .zEWidget-launcher {
        z-index: 0 !important;
    }

    .suggestions-modal {
        section.cart-suggestions {
            z-index: 101;
            opacity: 1;
            background-color: white;

            .suggestions-inner {
                transform: translateY(-50%) translateZ(0);
            }
        }
    }
}

.suggestions-modal {
    display: none;

    @include breakpoint(860px) {
        display: block;
    }

    section.cart-suggestions {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 350px;
        z-index: -1;
        opacity: 0;
        background-color: rgba(255, 255, 255, 1);
        pointer-events: none;
        padding: 1.5rem;
        transition: 300ms ease-in all;

        @include breakpoint(large) {
            padding: 4rem;
        }

        .suggestions-inner {
            pointer-events: all;
            position: relative;
            top: 50%;
            transition: 300ms ease-in all;
            transform: translateY(-40%);
        }
    }
}

section.cart-suggestions {
    .suggestions-inner {
        h3 {
            margin-bottom: 2rem;

            @include serif;
            font-style: italic;

            @include breakpoint(medium) {
                margin-bottom: 3rem;
            }
        }

        .grid-x {
            .product {
                border: 1px solid #eee;
                text-align: center;

                a {
                    display: block;
                }

                img {
                    width: 100%;
                }

                .body {
                    padding: 1.5rem 1rem;

                    p {
                        margin-bottom: 0;
                        color: #333333;

                        &.cost {
                            opacity: 0.5;
                        }
                    }
                }

                @include breakpoint(medium down) {
                    &:nth-of-type(1n + 3) {
                        display: none;
                    }
                }

                @include breakpoint(large) {
                    &:nth-of-type(1n + 4) {
                        display: none;
                    }
                }
            }
        }

        .gift-wrapping {
            margin-top: 2rem;
            width: 100%;
            padding: 1.5rem;
            border: 1px solid #eee;
            background-color: rgba(255, 255, 255, 0.9);

            @include breakpoint(large) {
                padding: 0 1.5rem 0 0;
            }

            img {
                height: 96px;
            }

            p {
                @include serif;
                font-style: italic;
                margin-bottom: 0;
            }

            .button {
                color: white;
                margin-bottom: 0;
            }
        }
    }
}
