@mixin align-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin placeholder {
    ::-webkit-input-placeholder {
        @content;
    }

    :-moz-placeholder {
        @content;
    }

    ::-moz-placeholder {
        @content;
    }

    :-ms-input-placeholder {
        @content;
    }
    ::placeholder {
        @content;
    }
}

@mixin title-border {
    content: "";
    display: block;
    margin: 10px auto 0;
    position: relative;
    height: 8px;
    width: rem-calc(225px);
}
