@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i");
@import url("https://use.typekit.net/jet7vou.css");

//replaced by typekit
// @font-face {
// 	font-family: "futura-pt";
// 	src: url("Function-Bold.eot");
// 	src: url("Function-Bold.eot?#iefix") format("embedded-opentype"), url("Function-Bold.woff") format("woff"), url("Function-Bold.ttf") format("truetype");
// 	font-weight: bold;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: "futura-pt";
// 	src: url("Function-Regular.eot");
// 	src: url("Function-Regular.eot?#iefix") format("embedded-opentype"), url("Function-Regular.woff") format("woff"), url("Function-Regular.ttf") format("truetype");
// 	font-weight: normal;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: "futura-pt";
// 	src: url("854df541dd97d99ebd841dc30b34d684.eot");
// 	src: url("854df541dd97d99ebd841dc30b34d684.eot?#iefix") format("embedded-opentype"), url("854df541dd97d99ebd841dc30b34d684.woff") format("woff"), url("854df541dd97d99ebd841dc30b34d684.ttf") format("truetype");
// 	font-weight: 300;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: "futura-pt";
// 	src: url("30f51a1c1c00f1a58bca7661c205e334.eot");
// 	src: url("30f51a1c1c00f1a58bca7661c205e334.eot?#iefix") format("embedded-opentype"), url("30f51a1c1c00f1a58bca7661c205e334.woff") format("woff"), url("30f51a1c1c00f1a58bca7661c205e334.ttf") format("truetype");
// 	font-weight: 500;
// 	font-style: normal;
// }

@mixin sans {
	font-weight: 400;
	font-family: "futura-pt", sans-serif;
}

@mixin sans-med {
	font-weight: 500;
	font-family: "futura-pt", sans-serif;
}

@mixin sans-bold {
	font-weight: bold;
	font-family: "futura-pt", sans-serif;
}

@mixin serif {
	font-family: "PT Serif", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1em;

	@include sans-bold;
}

p {
	font-size: 18px;
	line-height: 1.4;
	@include sans-med;
}
