$flurogreen: #50e3c2;
$darkgreen: #3ba990;
$singlegreen: #496159;
$grey: #A9ADAC;
$red: #de3f3a;
$greengrey: #4A4A4A;
$blue: #789CBA;

$text-dark: #484848;
$text-light: #536960;

$lighter-red: #f9d3d1;

$border-grey: #D9D9D9;
$light-grey : #f4f4f4;
$lighter-grey: #f7f7f7;
$dark-grey: $text-dark;
$grey-nurse: #e3ebe7;

$eucalyptus: #217063;

