// Foundation
@import "vendor/foundation/foundation";

//Owl Carousel
@import "vendor/owl-carousel/owl-carousel";

// Variables
@import "_variables";

// Mixins
@import "_mixins";
@import "typography";

// Globals
@import "globals/background";
@import "globals/footer";
@import "globals/mobile-nav";
@import "globals/navigation";

// Components
@import 'components/accordion';
@import 'components/bulk-card';
@import 'components/bulk-dropdown';
@import 'components/bulk-option';
@import 'components/bulk-list';
@import "components/drawer";
@import "components/buttons";
@import 'components/loading-dot';
@import "components/switch";
@import 'components/fields';
@import 'components/reveal';
@import 'components/upload';
@import 'components/service-details';
@import 'components/user-links';
@import 'components/custom-quote';

// Blocks
@import "blocks/abouthome";
@import "blocks/afterpay";
@import "blocks/accordion";
@import "blocks/breadcrumb";
@import "blocks/coach";
@import "blocks/feature-collections";
@import "blocks/feature";
@import "blocks/header-search";
@import "blocks/header-shipping";
@import "blocks/pagination";
@import "blocks/plantcare";
@import "blocks/popup";
@import "blocks/product-grid-item";
@import "blocks/productvue";
@import "blocks/promos";
@import "blocks/section-header";
@import "blocks/similar__products";
@import "blocks/testimonials";
@import "blocks/filters";

@import "cart-suggestions";

// Pages
@import "pages/blog";
@import "pages/contact";
@import "pages/garden-assistant";
@import "pages/product";
@import "pages/search";
@import "pages/cart";


//
//
//

html {
  padding: 0 !important;
}

#preview-bar-iframe {
  display: none !important;

  &:hover {
    display: block !important;
    opacity: 1;
  }
}

#qab_background {
  z-index: 99 !important;
}

// TODO: Add to index page later

.promo-mobile {
  margin-bottom: 2rem;

  a {
    margin: 0 .25rem;
    position: relative;
    color: inherit;
    display: block;

    span.image {
      display: block;
      height: 200px;
      border-radius: 4px;
      background-size: cover !important;
      background-position: center center;
    }

    span.text {
      display: block;
      margin-top: 1.5rem;

      h3 {
        font-size: 22px;
        color: #333;
      }

      p {
        color: #ccc;
        font-size: 18px;
      }
    }
  }
}
