<!doctype html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if IE 9 ]>
<html class="ie9 no-js"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js">
    <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        {% if settings.favicon_enable %}
        <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
        {% endif %}

        <title>
            {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash;{{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash;{{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %}
            &ndash;{{ shop.name }}{% endunless %}
        </title>

        {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
        {% endif %}

        {% include 'social-meta-tags' %}

        {% if template contains 'collection' and current_tags %}
        <meta name="robots" content="NOINDEX,NOFOLLOW" />
        <link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />
        {% else %}
        <meta name="robots" content="INDEX,FOLLOW" />
        <link rel="canonical" href="{{ canonical_url }}" />
        {% endif %}

        <link rel="canonical" href="{{ canonical_url }}">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="theme-color" content="{{ settings.color_primary }}">

        {{ 'timber.scss.css' | asset_url | stylesheet_tag }}

        {{ 'core.css' | asset_url | stylesheet_tag }}

        {{ content_for_header }}
        {% include 'oldIE-js' %}

        {{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' | script_tag }}

        {% if template == 'product' %}
        {{ 'vue.min.js' | asset_url | script_tag }}
        {% endif %}

        {{ 'owl.carousel.min.js' | asset_url | script_tag }}
        {{ 'modernizr.min.js' | asset_url | script_tag }}
        {{ 'jquery-ui.js' | asset_url | script_tag }}
        {{ 'jquery.matchHeight-min.js' | asset_url | script_tag }}
        {{ 'magnific.js' | asset_url | script_tag }}
        {{ 'jquery.expander.min.js' | asset_url | script_tag }}
        {{ 'functions.js' | asset_url | script_tag }}

        <!-- Algolia head -->
        <script type="text/template" id="template_algolia_money_format">{% include 'algolia_money_format' %}</script>
        <script type="text/template" id="template_algolia_autocomplete">{% include 'algolia_autocomplete.hogan' %}</script>
        <script type="text/template" id="template_algolia_autocomplete.css">{% include 'algolia_autocomplete.css.hogan' %}</script>
        <script type="text/template" id="template_algolia_autocomplete_collection">{% include 'algolia_autocomplete_collection.hogan' %}</script>
        <script type="text/template" id="template_algolia_autocomplete_collections_empty">{% include 'algolia_autocomplete_collections_empty.hogan' %}</script>
        <script type="text/template" id="template_algolia_autocomplete_article">{% include 'algolia_autocomplete_article.hogan' %}</script>
        <script type="text/template" id="template_algolia_autocomplete_articles_empty">{% include 'algolia_autocomplete_articles_empty.hogan' %}</script>
        <script type="text/template" id="template_algolia_autocomplete_product">{% include 'algolia_autocomplete_product.hogan' %}</script>
        <script type="text/template" id="template_algolia_autocomplete_products_empty">{% include 'algolia_autocomplete_products_empty.hogan' %}</script>
        <script type="text/template" id="template_algolia_autocomplete_footer">{% include 'algolia_autocomplete_footer.hogan' %}</script>
        <script type="text/template" id="template_algolia_instant_search">{% include 'algolia_instant_search.hogan' %}</script>
        <script type="text/template" id="template_algolia_instant_search.css">{% include 'algolia_instant_search.css.hogan' %}</script>
        <script type="text/template" id="template_algolia_instant_search_stats">{% include 'algolia_instant_search_stats.hogan' %}</script>
        <script type="text/template" id="template_algolia_instant_search_facet_item">{% include 'algolia_instant_search_facet_item.hogan' %}</script>
        <script type="text/template" id="template_algolia_instant_search_current_refined_values_item">{% include 'algolia_instant_search_current_refined_values_item.hogan' %}</script>
        <script type="text/template" id="template_algolia_instant_search_product">{% include 'algolia_instant_search_product.hogan' %}</script>
        <script type="text/template" id="template_algolia_instant_search_no_result">{% include 'algolia_instant_search_no_result.hogan' %}</script>
        {{ '//cdn.jsdelivr.net/fontawesome/4.4.0/css/font-awesome.min.css' | stylesheet_tag }}
        {{ '//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css' | stylesheet_tag }}
        {{ '//cdn.polyfill.io/v2/polyfill.min.js' | script_tag }}
        {{ '//cdn.jsdelivr.net/lodash/3.7.0/lodash.min.js' | script_tag }}
        {{ '//cdn.jsdelivr.net/jquery/2/jquery.min.js' | script_tag }}
        {{ '//cdn.jsdelivr.net/hogan.js/3/hogan.min.js' | script_tag }}
        {{ '//cdn.jsdelivr.net/autocomplete.js/0.24.2/autocomplete.jquery.min.js' | script_tag }}
        {{ '//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js' | script_tag }}
        {{ '//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js' | script_tag }}
        {{ 'algolia_config.js' | asset_url | script_tag }}
        {{ 'algolia_init.js' | asset_url | script_tag }}
        {{ 'algolia_helpers.js' | asset_url | script_tag }}
        {{ 'algolia_autocomplete.js' | asset_url | script_tag }}
        {{ 'algolia_facets.js' | asset_url | script_tag }}
        {{ 'algolia_sort_orders.js' | asset_url | script_tag }}
        {{ 'algolia_instant_search.js' | asset_url | script_tag }}
        <!-- /Algolia head -->

        <!-- Hotjar Tracking Code for http://plantsinabox.com.au/ -->
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:157758,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
        <!-- /Hotjar Tracking Code for http://plantsinabox.com.au/ -->

    </head>

    <body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in{% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">

        <div class="suggestions-modal">
            {% include 'cart-suggestions' %}
        </div>

        <div id="NavDrawer" class="drawer drawer--left">
            <div class="drawer__header">
                <div class="drawer__title h3">{{ 'layout.drawers.browse' | t }}</div>
                <div class="drawer__close js-drawer-close">
                    <button type="button" class="icon-fallback-text">
                        <span class="icon icon-x" aria-hidden="true"></span>
                        <span class="fallback-text">{{ 'layout.drawers.close_menu' | t }}</span>
                    </button>
                </div>
            </div>

            {% include 'navigation-mobile' %}

        </div>

        {% if settings.ajax_cart_method == "drawer" %}
        <div id="CartDrawer" class="drawer drawer--right is-transitioning">
            <div class="drawer__header">
                <div class="drawer__title h3">{{ 'cart.general.title' | t }}</div>
                <div class="drawer__close js-drawer-close">
                    <button type="button" class="icon-fallback-text">
                        <span class="icon icon-x" aria-hidden="true"></span>
                        <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
                    </button>
                </div>
            </div>
            <div id="CartContainer"></div>
        </div>
        {% endif %}

        {% if template == "product" %}
        <!-- cart js error -->
        <div class="callout out-stock-alert" data-closable>
            <h5> Sorry, that was our last one!</h5>
            <p> We may be growing more shortly, if you'd like to know more please <a href="/pages/contact">contact us</a>.</p>
            <button class="button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true"> Close</span>
            </button>
        </div>
        {% endif %}

        <div id="PageContainer" class="is-moved-by-drawer">

            {% if template == 'index' %}
            {% include "feature" %}
            {% include "promo" %}

            <div class="promo-mobile owl-carousel owl-theme hide-for-medium">
                <a class="item" href="/collections/{{settings.promo__link--01}}">
                    <span class="image" style="background-image: url({{settings.promo__image--01 | img_url: 'large'}});"></span>
                    <span class="text">
                        <h3>{{settings.promo__title--01}}</h3>
                        <p>{{settings.promo__content--01}}</p>
                    </span>
                </a>

                {% comment %} data-open="homePopup" {% endcomment %}
                <a href="/pages/{{settings.promo__link--02 | within: pages}}" class="item">
                    <span class="image" style="background-image: url({{settings.promo__image--02 | img_url: 'large'}});"></span>
                    <span class="text">
                        <h3>{{settings.promo__title--02}}</h3>
                        <p>{{settings.promo__content--02}}</p>
                    </span>
                </a>

                <a class="item" href="/products/{{settings.promo__link--03 | within: products}}">
                    <span class="image" style="background-image: url({{settings.promo__image--03 | img_url: 'large'}});"></span>
                    <span class="text">
                        <h3> {{settings.promo__title--03}}</h3>
                        <p>{{settings.promo__content--03}}</p>
                    </span>
                </a>
            </div>

            <script>
                $('.promo-mobile').owlCarousel({
                    center: true,
                    autoHeight: true,
                    items: 2,
                    loop: true,
                    margin: 10,
                    nav: false
                })

            </script>

            {% include "featured_collections" %}
            {% endif %}

            {% if template != 'index' %}
            {% include "banner" %}
            {% endif %}

            <main class="main-content first--main-content" role="main">
                {{ content_for_layout }}
                <style>
                    .testimonial-left{ background-image: url({{ 'testimonial-1-img.jpg' | asset_url }}); }
					.testimonial-right{ background-image: url({{ 'testimonial-2-img.jpg' | asset_url }}); }
			</style>
            </main>

            {% comment %} NOTE: If need to put it back on the promo, also review the second promo tile {% endcomment %}
            {% comment %} This is also used on the product page {% endcomment %}
            {% include 'home-popup' %}
            {% include 'footer' %}

            {% comment %} <div class="show-for-large">
                <div id="feefo-service-review-floating-widgetId"></div>
            </div> {% endcomment %}
        </div>

        {{ 'fastclick.min.js' | asset_url | script_tag }}
        {{ 'timber.js' | asset_url | script_tag }}

        {% comment %} <script>
            { %
                if resetPassword %
            }
            $(function () {
                timber.resetPasswordSuccess();
            }); { % endif %
            }

        </script> {% endcomment %}

        {% if settings.ajax_cart_method == "drawer" %}
        {{ 'handlebars.min.js' | asset_url | script_tag }}
        {% include 'ajax-cart-template' %}
        {{ 'ajax-cart.js' | asset_url | script_tag }}

        <script>
            jQuery(function ($) {
                ajaxCart.init({
                    formSelector: '#AddToCartForm',
                    cartContainer: '#CartContainer',
                    addToCartSelector: '#AddToCart',
                    cartCountSelector: '#CartCount',
                    cartCostSelector: '#CartCost',
                    moneyFormat: {{ shop.money_format | json }}
                });
            });

            jQuery(document.body).on('afterCartLoad.ajaxCart', function (evt, cart) {
                // Bind to 'afterCartLoad.ajaxCart' to run any javascript after the cart has loaded in the DOM
                timber.RightDrawer.open();
            });

        </script>

        {% endif %}
        <script type="text/javascript" src="https://api.feefo.com/api/javascript/plants-in-a-box"></script>

        <script>
            /* Product Tag Filters - Good for any number of filters on any type of collection pages */
            var collFilters = jQuery('.coll-filter');

            collFilters.change(function () {
                var newTags = [];
                collFilters.each(function () {
                    if (jQuery(this).val()) {
                        newTags.push(jQuery(this).val());
                    }
                });

                if (newTags.length) {
                    var query = newTags.join('+');
                    window.location.href = jQuery('{{ 'tag ' | link_to_tag: 'tag ' }}').attr('href').replace('/' + 'tag', '/' + query);
                } else {
                    {% if collection.handle %}
                        window.location.href = '/collections/{{ collection.handle }}';
                    {% elsif collection.products.first.type == collection.title %}
                        window.location.href = '{{ collection.title | url_for_type }}';
                    {% elsif collection.products.first.vendor == collection.title %}
                        window.location.href = '{{ collection.title | url_for_vendor }}';
                    {% endif %}
                }
            });

            //quick workaround to toggle availability, given the current codebase
            var toggleAvailableClass = function (isOnlyAvailable) {
                var $products = $('#product-grid');

                // hide/remove items
                if (isOnlyAvailable)
                    $products.addClass('only-available');
                else
                    $products.removeClass('only-available');
            };

            if (localStorage.getItem("onlyAvailable") === 'true') {
                toggleAvailableClass(true);
                $('#availability').prop('checked', true);
            } else {
                toggleAvailableClass(false);
            }

            $('#availability').on('change', function () {

                if ($(this).is(':checked'))
                    isOnlyAvailable = true;
                else
                    isOnlyAvailable = false;

                localStorage.setItem("onlyAvailable", isOnlyAvailable);
                toggleAvailableClass(isOnlyAvailable);
            });

            $('.js-toggle-filters-container-small').on('click', function () {

                $('.filters-container-small.filters').slideToggle("400");

                $(this).toggleClass('is-open')
            });

            //NOTES: this was fixed, but it should be improved
            $(function () {

                var $filters = $('.coll-filter'),
                    str = '{{current_tags}}';

                str = str.toLowerCase();

                $filters.each(function (index) {

                    $filters.eq(index).find('option').each(function () {

                        if (str.includes($(this).text().toLowerCase())) {

                            $filters
                                .eq(index)
                                .val($(this).val())
                                .prop('selected', true);
                        }
                    });
                });
            });

        </script>
    </body>

</html>
