@-webkit-keyframes blink{0%{opacity:.2}20%{opacity:1}100%{opacity:.2}}@keyframes blink{0%{opacity:.2}20%{opacity:1}100%{opacity:.2}}span.loading-dot{-webkit-animation-name:blink;animation-name:blink;-webkit-animation-duration:1.4s;animation-duration:1.4s;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-fill-mode:both;animation-fill-mode:both}span.loading-dot:nth-child(2){-webkit-animation-delay:.2s;animation-delay:.2s}span.loading-dot::nth-child(3){-webkit-animation-delay:.4s;animation-delay:.4s}
