<section>
    <div class="grid-x align-center">
        <div class="cell small-12 medium-6 text-center">
            <h1>{{ 'general.404.title' | t }}</h1>
            <p>{{ 'general.404.subtext_html' | t }}</p>
        </div>
    </div>
</section>
