<section class="single-article">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell large-9">
                <div class="title">
                    <a class="button round hollow small" href="/blogs/news/">&larr; Back to Blog</a>
                    <h1>{{ article.title }}</h1>

                    <ul class="share-buttons">
                        <li>
                            <label>{{ article.published_at | date: "%b %d, %Y" }}</label>
                        </li>
                        <li class="twitter">
                            <div class="share-wrap">
                                <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-text="{{ shop.name }} | {{ article.title }}:" data-via="{{ settings.twitter-username }}">Tweet</a>
                                <script>
                                    ! function (d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0],
                                            p = /^http:/.test(d.location) ? 'http' : 'https';
                                        if (!d.getElementById(id)) {
                                            js = d.createElement(s);
                                            js.id = id;
                                            js.src = p + '://platform.twitter.com/widgets.js';
                                            fjs.parentNode.insertBefore(js, fjs);
                                        }
                                    }(document, 'script', 'twitter-wjs');

                                </script>
                            </div>
                        </li>
                        <li class="google">
                            <div class="share-wrap">
                                <div class="g-plusone" data-size="medium" data-annotation="none"></div>

                                <script type="text/javascript">
                                    (function () {
                                        var po = document.createElement('script');
                                        po.type = 'text/javascript';
                                        po.async = true;
                                        po.src = 'https://apis.google.com/js/plusone.js';
                                        var s = document.getElementsByTagName('script')[0];
                                        s.parentNode.insertBefore(po, s);
                                    })();

                                </script>
                            </div>
                        </li>
                        <li class="facebook">
                            <div class="share-wrap">
                                <div class="fb-like" data-href="{{ shop.url }}{{ article.url }}" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
                            </div>
                        </li>
                    </ul>

                    <img class="featured-image" src="{{ article | img_url: 'grande' }}" alt="{{article.title}}" />

                </div>

                <div class="rte">
                    {{ article.content }}
                </div>

                <!-- Begin MailChimp Signup Form -->
                <div class="mailchimp">
                    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
                    <style type="text/css">
                        #mc_embed_signup {
                            background: #fff;
                            clear: left;
                            font: 14px Helvetica, Arial, sans-serif;
                            width: 100%;
                        }

                        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
              We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */

                    </style>
                    <div id="mc_embed_signup">
                        <form action="//plantsinabox.us7.list-manage.com/subscribe/post?u=4904bb71f21a2b2f39a25350a&amp;id=321b9dd36f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <label for="mce-EMAIL">Grow on, sign up to our newsletter!</label>
                                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4904bb71f21a2b2f39a25350a_321b9dd36f" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                            </div>
                        </form>
                    </div>
                    <!--End mc_embed_signup-->
                </div>

            </div>
        </div>
    </div>
</section>
