<div class="grid-container">

    {% paginate blog.articles by settings.articles-per-page %}
    <section class="articles">

        <!-- Heading -->
        <div class="grid-x">
            <div class="large-12 columns">
                <div class="blog-header">
                    <img src="{{ 'watering-can.png' | asset_url }}" alt="" />
                    <div class="content">
                        <h1>The Garden Steps</h1>
                        <p>Tips, tricks and green insights to feed your gardening bug</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- The Loop -->
        <div class="grid-x grid-margin-x align-stretch small-up-1 medium-up-2 large-up-3">

            {% for article in blog.articles %}
            <div class="cell">
                <article class="article">
                    <a href="{{article.url}}">
                        <!-- img -->
                        <div class="image" style="background: url('{{ article | img_url: 'large' }}') center center no-repeat white"></div>
                        <!-- content -->
                        <div class="content">
                            <p class="title">{{article.title}}</p>
                            <p class="snippet">{{ article.content | strip_html | truncatewords: 32 }}</p>
                            <p class="read-more">Read more &rarr;</p>
                        </div>
                    </a>
                </article>
            </div>
            {% endfor %}

        </div>

        <!-- Pagination -->
        {% include "pagination" %}

    </section>
    {% endpaginate %}

</div>
