{% capture cart_collections %}
{% for item in cart.items %}
{% for collection in item.product.collections %}
{{ collection.title | downcase }},
{% endfor %}
{% endfor %}
{% endcapture %}

{% if cart.item_count > 0 %}
<section class="cart-container">
    <div class="grid-container">
        <div class="grid-x align-center">
            <div class="cell">

                {% comment %} Title {% endcomment %}
                <div class="grid-x align-justify align-middle title">
                    <div class="cell shrink">
                        <h1>{{ 'cart.general.title' | t }}</h1>
                    </div>
                    <div class="cell shrink">
                        <a href="">Continue Shopping &rarr;</a>
                        {% comment %} <p>{{ 'cart.general.continue_browsing_html' | t }}</p> {% endcomment %}
                    </div>
                </div>

                <form action="/cart" method="post" novalidate>
                    <div class="grid-x grid-margin-x">

                        {% comment %} Items Left {% endcomment %}
                        <div class="cell large-8">
                            {% for item in cart.items %}

                            <div class="cart-item">
                                <div class="grid-x align-justify align-middle">

                                    {% comment %} Left {% endcomment %}
                                    <div class="cell small-12 medium-shrink left">
                                        <div class="grid-x grid-margin-x align-middle">
                                            {% comment %} Image {% endcomment %}
                                            <div class="cell small-3 medium-shrink">
                                                <a href="{{ item.url | within: collections.all }}">
                                                    <img src="{{ item | img_url: '72x72', crop: 'center' }}" alt="{{ item.title | escape }}">
                                                </a>
                                            </div>

                                            {% comment %} Title {% endcomment %}
                                            <div class="cell small-8 medium-shrink">
                                                <a href="{{ item.url }}" class="item-title">
                                                    {{ item.product.title }}
                                                </a>

                                                {% unless item.variant.title contains 'Default' %}
                                                <div class="item-variant">
                                                    {{ item.variant.title }}
                                                </div>
                                                {% endunless %}
                                            </div>
                                        </div>
                                    </div>

                                    {% comment %} Right {% endcomment %}
                                    <div class="cell small-12 medium-shrink right">
                                        <div class="align-justify grid-x grid-margin-x align-middle">

                                            {% comment %} Quantity {% endcomment %}
                                            <div class="cell shrink">
                                                <input class="js-qty__num item-quantity" type="number" name="updates[]" id="updates_{{ item.key }}" data-id="{{ item.key }}" value="{{ item.quantity }}" min="0">
                                            </div>

                                            <div class="cell shrink">
                                                <div class="item-total">
                                                    {{ item.line_price | money }}
                                                </div>
                                            </div>

                                            {% comment %} Remove from cart {% endcomment %}
                                            <div class="cell shrink">
                                                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="item-remove">
                                                    <img src="{{ 'delete.svg' | asset_url }}" alt="X">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                        {% comment %} Totals Right {% endcomment %}
                        <div class="cell large-4">
                            <div class="checkout">
                                {% comment %} Subtotal {% endcomment %}
                                <div class="grid-x align-justify row">
                                    <div class="cell shrink">{{ 'cart.general.subtotal' | t }}</div>
                                    <div class="cell shrink">{{ cart.total_price | money }}</div>
                                </div>

                                {% comment %} Savings {% endcomment %}
                                {% if cart.total_discounts > 0 %}
                                <div class="grid-x align-justify row">
                                    <div class="cell shrink">{% assign savings = cart.total_discounts | money %}</div>
                                    <div class="cell shrink">{{ 'cart.general.savings_html' | t: price: savings }}</div>
                                </div>
                                {% endif %}

                                {% comment %} Shipping {% endcomment %}
                                <div class="grid-x align-justify row shipping">
                                    <div class="cell shrink">Australian Shipping</div>
                                    <div class="cell shrink">Free</div>
                                </div>

                                {% comment %} Gift Wrapping {% endcomment %}
                                {% unless cart_collections contains 'gift wrapping' %}
                                <div class="grid-x align-justify row gift-wrapping">
                                    <div class="cell shrink">Gift Wrapping</div>
                                    <div class="cell shrink">
                                        <a href="/collections/gift-wrapping/products/gift-wrapping">+ Add</a>
                                    </div>
                                </div>
                                {% endunless %}

                                {% comment %} {{ 'cart.general.shipping_at_checkout' | t }} {% endcomment %}

                                {% comment %} Notes {% endcomment %}
                                {% if settings.cart_notes_enable %}
                                <label for="CartSpecialInstructions">
                                    {{ 'cart.general.note' | t }}
                                </label>
                                <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
                                {% endif %}

                                {% comment %} Update Cart {% endcomment %}
                                <div class="grid-y button-group">
                                    <div class="cell">
                                        <button type="submit" name="update" class="button secondary button-block">
                                            {{ 'cart.general.update' | t }}
                                        </button>
                                    </div>

                                    <div class="cell">
                                        <button type="submit" name="checkout" class="button primary button-block">
                                            {{ 'cart.general.checkout' | t }}
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
<section class="suggestion-page">
    {% include 'cart-suggestions' %}
</section>


{% else %}

<div class="grid-container">
    <div class="grid-x align-center">
        <div class="cell">

            <h2>{{ 'cart.general.title' | t }}</h2>
            <p>{{ 'cart.general.empty' | t }}</p>
            <p>{{ 'cart.general.continue_browsing_html' | t }}</p>

            {% comment %} {% include 'cart-suggestions' %} {% endcomment %}

            {% endif %}
        </div>
    </div>
</div>

{% comment %} {% for discount in item.discounts %}
{{ discount.title }}
{% endfor %} {% endcomment %}

{% comment %} <div class="cell shrink">
    <div class="item-price">
        {{ item.price | money }}
    </div>
</div> {% endcomment %}
