{% paginate collection.products by 24 %}
<div class="grid-container">
    <div class="grid-x">
        <div class="cell large-12">
            <header class="section-header">

                <div class="collection-content">
                    <div class="grid-x">
                        <div class="cell">
                            <h1>{{collection.title}}</h1>
                        </div>
                    </div>
                </div>

                <div class="border"></div>

                <div class="filters-container">
                    <div class="filter-wrap has-breadcrumbs">
                        {% include 'breadcrumb_filters' %}
                    </div>
                    <!--end: filter - breadcrumb -->
                    <div class="border hide-for-large-down"></div>

                    <div class="js-toggle-filters-container-small show-for-small-only">
                        Filter Results
                        <img src="{{ 'arrow-down.svg' | asset_url }}">
                    </div>
                    <div class="filters-container-small filters">
                        <div class="filter-wrap">
                            <div class="filter-toggle">
                                <label for="FilterBy" class="hide-for-small-only">Filter by</label>
                                <div class="filter-toggle-label">
                                    Available Now
                                </div>
                                <div class="switch tiny">
                                    <input class="switch-input" id="availability" type="checkbox" name="exampleSwitch">
                                    <label class="switch-paddle" for="availability">
                                        <span class="show-for-sr">Is availabile now</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="border"></div>
                        <!--end: filter - availability -->

                        <div class="filter-wrap">
                            <div class="filter-dropdown no-label">
                                <label for="sizes">Grows to</label>
                                <select id="sizes" class="coll-filter">
                                    <option value="">Grows to</option>
                                    <!-- prepare option values related to colllection-->
                                    {% assign sizes = 'up-to-1m,up-to-2m,up-to-3m,3m-upwards,ground-cover' | split: ',' %}
                                    {% for size in sizes %}
                                    {% for tag in collection.all_tags %}
                                    {% assign tag_handle = tag | handle %}
                                    {% if size == tag_handle %}
                                    <option value="{{tag_handle}}" {% if current_tags contains tag %} selected="selected" {% endif %}>{{ tag | capitalize }}</option>
                                    {% break %}
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="border"></div>
                        <!--end: filter - Grows to -->

                        <div class="filter-wrap">
                            <div class="filter-dropdown no-label">
                                <label for="conditions">Plant Conditions</label>
                                <select id="conditions" class="coll-filter">
                                    <option value="">Plant Conditions</option>
                                    <!-- prepare option values related to colllection-->
                                    {% assign conditions = 'full-sun,part-shade,full-shade,frost-tolerant,hardy,drought-tolerant' | split: ',' %}
                                    {% for condition in conditions %}
                                    {% for tag in collection.all_tags %}
                                    {% assign tag_handle = tag | handle %}
                                    {% if tag_handle == condition %}
                                    <option value="{{tag_handle}}" {% if current_tags contains tag %} selected="selected" {% endif %}>{{ tag | capitalize }}</option>
                                    {% break %}
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="border hide-for-small-only"></div>
                        <!--end: filter - plants conditions -->
                    </div>

                    <div class="filters-container-small sorting">
                        <div class="filter-wrap">
                            {% include 'collection-sorting' %}
                        </div>
                        <!--end: filter - sorting -->
                    </div>
                </div>
                <!--end: filter-container -->

            </header>

            <!-- Product Grid -->
            <div class="grid-x small-up-1 medium-up-2 large-up-4 collapse" id="product-grid">

                {% for product in collection.products %}
                {% include 'product-grid-item' %}
                {% else %}
                {% if collection.handle == 'all' and current_tags == '' %}
                {% unless emptyState %}
                {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
                {% assign emptyState = true %}
                {% endunless %}
                {% include 'onboarding-empty-collection' %}
                {% else %}
                <!-- No Matches -->
                <div class="grid-x small-12 align-center">
                    <p>{{ 'collections.general.no_matches' | t }}</p>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <!-- Pagination -->
            {% include "pagination" %}

            {% if collection.description != blank %}
            <div class="collection-description">
                <div class="description-title">
                    About
                    {{collection.title}}
                </div>

                {{ collection.description }}
            </div>
            {% endif %}

        </div>
    </div>
</div>

{% endpaginate %}
