<!-- /templates/list-collections.liquid -->
{% comment %}

This page represents the /collections and /products pages.
It is an optional, but highly recommended, template for your theme.

More info:
- http://docs.shopify.com/manual/configuration/store-customization/taking-control-of-collections-listing

{% endcomment %}

{% comment %}
Loop through each collection, except 'frontpage'
{% endcomment %}
{% for collection in collections %}

{% unless collection.handle == 'frontpage' %}

{% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

<header class="section-header">
    <div class="grid-x align-middle">
        <div class="cell small-12 medium-7 large-6"><span class="section-header__title section-header__left">{% include 'breadcrumb' %}</span></div>
    </div>
</header>

<div class="grid-x small-up-1 medium-up-2 large-up-6 collapse">
    {% for product in collection.products limit:6 %}
    {% include 'product-grid-item' %}
    {% endfor %}
</div>

{% unless forloop.last %}
<hr>{% endunless %}

{% endunless %}

{% endfor %}
