<!-- /templates/page.liquid -->
<div class="grid">

    <div class="grid__item large--two-thirds push--large--one-sixth">

        <h1>{{ page.title }}</h1>

        {% comment %}
        Regular page content goes here.
        {% endcomment %}

        <div class="rte">
            {{ page.content }}
        </div>

    </div>

</div>
