<!-- <section class="zendesk">
  <div class="grid-x">
    <div class="cell">
      <embed src="https://plantsinabox.zendesk.com/hc/en-us"></embed>
      <iframe src="https://plantsinabox.zendesk.com/hc/en-us"></iframe>
    </div>
  </div>
</section> -->

<div class="contact-page-container">
    <div class="content-container">
        <div class="grid-x align-center contact-page first-section">
            <div class="cell large-6 medium-8 small-12">
                <h1 class="text-center">{{ page.title }}</h1>
                <div class="rte">
                    {{ page.content }}
                </div>
            </div>
        </div>
    </div>

    <div class="categoires-container contact-page">
        <div class="grid-x">
            <div class="search-container">
                <i class="fa fa-search"></i>
                <input id="search-articles" placeholder="Search articles" />
            </div>
        </div>
        <div class="grid-x align-center">
            <div class="cell medium-10">
                <div id="categories" class="categories grid-x small-up-1 medium-up-3">
                </div>
            </div>

            <div class="articles-diag hidden">
                <div id="article-content" class="article-content hidden">
                </div>
                <div id="articles" class="articles">
                </div>
            </div>
        </div>
    </div>

    <div class="form-container">
        <div class="grid-x align-center contact-page">
            <div class="form-vertical column large-6 medium-6 small-8">
                <div class="form">
                    {% form 'contact' %}
                    <h2 class="text-center"><i>Still Stuck? We can Help.</i></h2>
                    {% comment %} Successful message {% endcomment %}
                    {% if form.posted_successfully? %}
                    <p class="note form-success">
                        {{ 'contact.form.post_success' | t }}
                    </p>
                    {% endif %}

                    {{ form.errors | default_errors }}

                    <div class="contact-form-fields">
                        <div class="grid-x grid-margin-x">
                            <div class="cell large-6 medium-6 small-12">
                                {% assign name_attr = 'contact.form.name' | t | handle %}
                                <label for="ContactFormName" class="hidden-label">{{ 'contact.form.name' | t }}</label>
                                <input type="text" id="ContactFormName" class="input-full" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">
                            </div>

                            <div class="cell large-6 medium-6 small-12">
                                <label for="ContactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>
                                <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
                            </div>
                        </div>

                        <div class="grid-x">
                            <div class="cell large-12 medium-12 small-12">
                                {% assign name_attr = 'contact.form.subject' | t | handle %}
                                <label for="ContactFormPhone" class="hidden-label">{{ 'contact.form.subject' | t }}</label>
                                <input type="tel" id="ContactFormSubject" class="input-full" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.subject' | t }}">
                            </div>

                            <div class="cell large-12 medium-12 small-12">
                                <label for="ContactFormMessage" class="hidden-label">{{ 'contact.form.message' | t }}</label>
                                <textarea rows="10" id="ContactFormMessage" class="input-full" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="grid-x align-center form-footer">
                        <button class="button alert contact-form-btn">{{ 'contact.form.send' | t }}<i class='fa fa-arrow-right' aria-hidden='true'></i></button>
                    </div>
                    <div class="grid-x align-center form-status">
                        <p></p>
                    </div>
                    {% endform %}
                </div>
            </div>
        </div>
    </div>
</div>
