<!-- /templates/page.garden-assistant.liquid -->
<div class="garden-assistant">
    <div class="garden-assistant-hero">
        <div class="garden-assistant-hero-background"></div>
        <!-- end: Hero image -->
        <div class="garden-assistant-hero-foreground">
            <div class="grid">
                <div class="garden-assistant-hero-content grid__item large--two-thirds push--large--one-sixth">

                    <h1>{{ page.title }}</h1>

                    {% comment %}
                    Regular page content goes here.
                    {% endcomment %}

                    <div class="rte">
                        {{ page.content }}
                    </div>

                </div>
            </div>
        </div>
        <!-- end: Hero content -->
    </div>
    <!-- end: Hero-->

    <div class="garden-assistant-form grid">

        <div class="grid__item large--two-thirds push--large--one-sixth">
            <form id="assistant-form" class="form" action="https://liveformhq.com/form/72dea2dd-8e8d-4cee-80c5-07a4da88fb27" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
                <div class="garden-assistant-step">
                    <div class="garden-assistant-step-header">
                        <h2 class="h4 white"> Step 1. Upload your garden </h2>
                        <p> Take a shot of your garden and boot it up to the cloud!</p>
                    </div>

                    {% assign snippet_variable = 'ideal-garden' %}
                    {% include 'upload-file', snippet_variable:"user-garden" %}
                </div>
                <!-- end: step 1 -->

                <div class="garden-assistant-step">
                    <div class="garden-assistant-step-header">
                        <h2 class="h4 red"> Step 2. Dream big (and green)</h2>
                        <p> Have you seen a garden you like, saved an instagram post to your camera roll or ripped a page outta of a mag? We can help you get the look. </p>
                    </div>
                    {% assign snippet_variable = 'ideal-garden' %}
                    {% include 'upload-file', snippet_variable:"ideal-garden" %}


                    <div class="user-links">
                        <p> Found the garden online? Maybe you are a Pinterest pro at organising. Add your links below. </p>

                        <div class="grid-x grid-margin-x">
                            <div class="cell small-12 user-link-wrap">
                                <input name="link" class="user-link" type="text" placeholder="Link">
                                <button class="user-link-toggle js-add-remove-link" type="button"> + </button>
                            </div>
                        </div>
                    </div>
                    <!--end: user links -->
                </div>
                <!-- end: step 2 -->

                <div class="garden-assistant-step">
                    <h2 class="h4 red"> Step 3. Choose a garden style that best describes your tastes</h2>

                    <div class="radio-group">
                        <div class="radio-btn">
                            <input id="style-1" name="style" type="radio" value="Coastal">
                            <label for="style-1"> Coastal </label>
                            <img class="radio-btn-media" src="{{ 'coastal.jpg' | asset_url }}" alt="">
                        </div>
                        <!-- end: style 1 -->
                        <div class="radio-btn">
                            <input id="style-2" name="style" type="radio" value="Tropical">
                            <label for="style-2"> Tropical </label>
                            <img class="radio-btn-media" src="{{ 'tropical.jpg' | asset_url }}" alt="">
                        </div>
                        <!-- end: style 2 -->
                        <div class="radio-btn">
                            <input id="style-3" name="style" type="radio" value="Formal">
                            <label for="style-3"> Formal </label>
                            <img class="radio-btn-media" src="{{ 'formal.jpg' | asset_url }}" alt="">
                        </div>
                        <!-- end: style 3 -->
                        <div class="radio-btn">
                            <input id="style-4" name="style" type="radio" value="Contemporary">
                            <label for="style-4"> Contemporary </label>
                            <img class="radio-btn-media" src="{{ 'contemporary.jpg' | asset_url }}" alt="">
                        </div>
                        <!-- end: style 4 -->
                    </div>

                </div>
                <!-- end: step 3 -->

                <div class="garden-assistant-step">
                    <h2 class="h4 red"> Step 4. How should we chat?</h2>

                    <div class="grid-x grid-margin-x">

                        <div class="cell large-6 medium-6 small-12">
                            <label for="fullName" class="hidden-label"> Full Name</label>
                            <input type="text" id="fullName" name="fullName" placeholder="Full Name*" autocapitalize="words">
                        </div>
                        <!-- end: full name -->
                        <div class="cell large-6 medium-6 small-12">
                            <label for="email" class="hidden-label"> Email Address</label>
                            <input type="email" id="email" name="email" placeholder="Email Address*" autocapitalize="words">
                        </div>
                        <!-- end: email-->

                        <div class="cell large-6 medium-6 small-12">
                            <label for="postcode" class="hidden-label"> Postcode</label>
                            <input type="text" id="postcode" name="postcode" placeholder="Postcode*" autocapitalize="words">
                        </div>
                        <!-- end: postcode -->
                        <div class="cell large-6 medium-6 small-12">
                            <label for="soilType" class="hidden-label"> Soil Type </label>
                            <select id="soilType" name="soilType">
                                <option value="">Soil Type</option>
                                <option value="Chalky"> Chalky</option>
                                <option value="Clay"> Clay </option>
                                <option value="Loamy"> Loamy</option>
                                <option value="Peaty"> Peaty</option>
                                <option value="Sandy"> Sandy</option>
                                <option value="Silty"> Silty</option>
                                <option value="I don't know"> I don't know</option>
                            </select>
                        </div>
                        <!-- end: soil type -->

                        <div class="cell large-6 medium-6 small-12">
                            <label for="gardenLength" class="hidden-label"> Garden Length </label>
                            <input type="text" id="gardenLength" name="gardenLength" placeholder="Garden Length" autocapitalize="words">
                        </div>
                        <!-- end: garden length -->
                        <div class="cell large-6 medium-6 small-12">
                            <label for="gardenWidth" class="hidden-label"> Garden Width </label>
                            <input type="text" id="gardenWidth" name="gardenWidth" placeholder="Garden Width" autocapitalize="words">
                        </div>
                        <!-- end: garden width -->

                        <div class="cell small-12">
                            <label for="lightConditions" class="hidden-label"> Light Conditions </label>
                            <select id="lightConditions" name="lightConditions">
                                <option value="">Light Conditions</option>
                                <option value="Full Sun">Full Sun</option>
                                <option value="Part Shade">Part Shade</option>
                                <option value="Full Shade">Full Shade</option>
                                <option value="Frost Tolerant">Frost Tolerant</option>
                                <option value="Hardy">Hardy</option>
                                <option value="Drought Tolerant">Drought Tolerant</option>
                                <option value="I don't know"> I don't know</option>
                            </select>
                        </div>
                        <!-- end: light conditions -->

                        <div class="cell small-12">
                            <textarea name="messages" id="messages" placeholder="Messages & notes"></textarea>
                        </div>
                        <!-- end: Messages -->
                    </div>
                </div>
                <!-- end: step 4 -->

                <div class="grid-x align-center form-footer">
                    <button class="button alert" type="submit">
                        <span class="pristine"> That's it, build my garden<i class='fa fa-arrow-right' aria-hidden='true'></i> </span>
                        <span class="loading-text"> Saving </span>
                        {% include 'loading-dots' %}
                    </button>
                </div>
                <div class="grid-x align-center form-status">
                    <p></p>
                </div>
                <!-- end: form footer -->
            </form>
        </div>
        <!-- end: steps -->
    </div>
    <!-- end: Form -->
</div>

<script>
    jQuery(function ($) {

        var counter = 1; // one link is always available

        $('body').on('click', '.js-add-remove-link', function (e) {
            e.preventDefault();

            var $this = $(this),
                $parent = $this.parent();

            //remove link
            if ($this.is('.is-removable')) {
                $parent.remove();

                counter--;
                return false;
            }

            if (counter === 10) {
                return false;
            }

            //add link
            var $linkWrap = $parent.clone(true);

            $this.addClass('is-removable');

            $linkWrap
                .find('input')
                .val('')

            counter++;

            $linkWrap
                .insertAfter($parent)
                .find('input')
                .focus();
        });
    });

</script>
