<!-- /templates/product.liquid -->

<div itemscope itemtype="http://schema.org/Product">

    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

    {% assign current_variant = product.selected_or_first_available_variant %}

    <section class="product-single">
        <div class="grid-container">

            <!-- Breadcrumb -->
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 show-for-large">
                    {% include 'breadcrumb' %}
                </div>
            </div>

            <div class="grid-x grid-padding-x align-justify align-top">

                <!-- Gallery -->
                <div class="cell small-12 large-6 text-center">
                    {% if product.images.size > 1 %}
                    <div class="js-carousel-1 owl-carousel">
                        {% for image in product.images %}
                        <div class="item">
                            <img src="{{ image.src | img_url: '618x464', crop: 'center' }}" alt="{{ image.alt | escape }}">
                        </div>
                        {% endfor %}
                    </div>

                    {% else %}

                    {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
                    <img src="{{ featured_image | img_url: '618x464', crop: 'center' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
                    {% endif %}

                    <!-- Gallery Navigation -->
                    {% if product.images.size > 1 %}
                    <div class="owl-carousel js-carousel-2 show-for-large">
                        {% for image in product.images %}
                        <div class="item">
                            <img src="{{ image.src | img_url: '158x120' }}" alt="{{ image.alt | escape }}">
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <!-- Feefo Reviews -->
                    <h1>{{product.sku}}</h1>
                    <h1>{{sku}}</h1>
                    <div id="feefo-product-review-widgetId" class="feefo-review-widget-product" data-parent-product-sku="{{ product.id }}"></div>

                </div>

                <!-- Description -->
                <div class="cell small-12 large-6">

                    <!-- Title -->
                    <h1 itemprop="name">{{ product.title }}</h1>
                    <p class="sub-heading">Mature tubestock, premium and ready to plant!</p>

                    <!-- Bulk details -->
                    {% include "product-bulk-details" %}

                    <!-- Content -->
                    <h2> Description </h2>
                    <div class="product-description rte" itemprop="description" id="product-description" data-toggler=".expanded">
                        {{ product.description }}

                        {% if product.type == 'Plants' %}
                        <p>Please take care when choosing your plants. Some plants are poisonous and individuals may be more sensitive or react differently</p>
                        {% endif %}
                    </div>

                    <a data-toggle="product-description">Read More</a>

                    <!-- Ruler (mobile) -->
                    <div class="ruler--break hide-for-large">
                        <img src="{{ 'ruler.svg' | asset_url }}" alt="">
                    </div>

                    <!-- Icons -->
                    <div id="productvue">
                        <div v-for="item in items" v-if="item.title.$t == {{product.id}}">
                            <div class="content__border" v-if="item.gsx$heightfullygrown.$t != ''">
                                <div class="grid-x align-center">
                                    <div class="cell small-12 large-10">
                                        <div class="grid-x large-collapse align-middle">
                                            <div class="cell large-text-left">
                                                <img src="{{ 'ruler.svg' | asset_url }}" alt="" class="show-for-large">
                                                <p><span v-if="item.gsx$heightfullygrown.$t != '' || item.gsx$widthfullygrown.$t != ''">Plant grows to a height of </span><span v-if="item.gsx$heightfullygrown.$t != ''"> {{" {{item.gsx$heightfullygrown.$t "}}}}</span><span v-if="item.gsx$heightfullygrown.$t != '' && item.gsx$widthfullygrown.$t != ''"> and width of </span><span v-if="item.gsx$widthfullygrown.$t != ''">{{" {{item.gsx$widthfullygrown.$t "}}}}</span>. <span v-if="item.gsx$plantspacingincm.$t != ''">Plant {{" {{item.gsx$plantspacingincm.$t "}}}} apart.</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center product__details owl-carousel">
                                <div class="fullsun item" v-if="item.gsx$fullsun.$t == 'True'"><img src="{{ 'loves-full-sun.svg' | asset_url }}" alt="">
                                    <p>Loves<br /> Full Sun</p>
                                </div>
                                <div class="partshade item" v-if="item.gsx$partshade.$t == 'True'"><img src="{{ 'part-shade.svg' | asset_url }}" alt="">
                                    <p>Part<br /> Shade</p>
                                </div>
                                <div class="fullshade item" v-if="item.gsx$fullshade.$t == 'True'"><img src="{{ 'full-shade.svg' | asset_url }}" alt="">
                                    <p>Full<br /> Shade</p>
                                </div>
                                <div class="drought item" v-if="item.gsx$droughttolerantonceestablished.$t == 'True'"><img src="{{ 'drought.svg' | asset_url }}" alt="">
                                    <p>Drought<br /> Tolerant</p>
                                </div>
                                <div class="frost item" v-if="item.gsx$frosttolerantonceestablished.$t == 'True'"><img src="{{ 'frost-resistant.svg' | asset_url }}" alt="">
                                    <p>Frost<br /> Tolerant</p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <!-- Ready To Grow -->

    <section class="ready-to-grow">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell small-12 large-6">
                    <div class="faq__single">
                        <h4>Ready to grow</h4>
                        <p>Our growing philosophy isn't rocket science. We simply hold our plants back longer, which means the root systems can establish. That means a better plant for you that's ground ready, achieving faster grow times. </p>
                        <a data-open="homePopup"><span class="show-for-large">+ still a little green?</span> 6 reasons to shop with us.</a>
                        <img src="{{ 'ready-to-grow.jpg' | asset_url }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Buy Button -->
    <section class="buy__cta">
        <div class="grid-container">
            <div class="grid-x grid-margin-x align-center">
                <div class="cell small-12 large-6">
                    <h2 class="text-center h1">Ready to Roll?</h2>
                    <!-- Bulk details -->
                    {% include "product-bulk-details" %}
                </div>
            </div>
        </div>
    </section>

    <!-- reveals -->
    <!-- Custom Quote -->
    {% assign revealClass = 'custom-quote-reveal' %}
    {% assign revealId = 'custom-quote' %}
    {% assign revealBtnIcon = 'green' %}
    {% assign revealContent = 'custom-quote-popup-inner' %}
    {% include 'popup' %}

    <!-- Freshness/ Coach -->
    {% assign revealClass = 'is-full-screen is-fresh-coach-popup' %}
    {% assign revealId = 'freshnessCoachPopup' %}
    {% assign revealBtnIcon = 'white' %}
    {% assign revealContent = 'freshness-coach-popup-inner' %}
    {% include 'popup' %}

    <!-- Mobile bulk list reveal -->
    {% if product.type == 'Plants' %}
    {% assign revealClass = 'bulk-list-reveal' %}
    {% assign revealId = 'bulk-list-mobile' %}
    {% assign revealBtnIcon = 'white' %}
    {% assign revealContent = 'mobile-bulk-list-popup-inner' %}
    {% include 'popup' %}
    {% endif %}

    <!-- Simular Product -->
    {% if product.type == 'Plants' %}
    <div class="similar__products">
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell small-12 text-center">
                    <h2>Don't leaf just yet!</h2>
                    <p>Check out these green beauties!</p>
                </div>
                <div class="cell small-12">
                    {% include "related-products" %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {{ 'option_selection.js' | shopify_asset_url | script_tag }}
</div>

<script>
    var selectCallback = function (variant, selector) {
        timber.productPage({
            money_format: "{{ shop.money_format }}",
            variant: variant,
            selector: selector
        });
        console.log(this);
    };

</script>
<script>
    var apiURL = 'https://spreadsheets.google.com/feeds/list/1A6A3Go4wKbRD3ThuLnICcdHgeJXYta-T1skxrASslco/1/public/values?alt=json';
    new Vue({
        el: '#productvue',
        data: {
            items: null
        },
        filters: {
            ifInArray: function (value) {
                return this.items.indexOf(value) > -1 ? 'Yes' : 'No';
            }
        },
        created: function () {
            this.fetchData();
        },
        methods: {
            fetchData: function () {
                var self = this;
                $.get(apiURL, function (data) {
                    self.items = data.feed.entry;
                });
            }
        }

    });

</script>
