.template-index {
	@include breakpoint(medium) {
		background-image: url(//cdn.shopify.com/s/files/1/0248/6983/t/12/assets/flower-bg2-720-cropped.jpg?14076333914611807902), url(//cdn.shopify.com/s/files/1/0248/6983/t/12/assets/flower-bg1-720-rotated-cropped.jpg?14076333914611807902), url(//cdn.shopify.com/s/files/1/0248/6983/t/12/assets/flower-bg3.jpg?14076333914611807902), url("//cdn.shopify.com/s/files/1/0248/6983/t/12/assets/flower-bg1-720-rotated-cropped.jpg?14076333914611807902");
	}
}

.template-index {
	background-position: left 300px,right 840px,left 3340px,100% 100%;
	background-size: 200px auto,210px auto,200px auto,200px auto;
	background-repeat: no-repeat;
}

.template-product {
	background-image: url(//cdn.shopify.com/s/files/1/0248/6983/t/12/assets/flower-bg1-720-rotated-cropped.jpg?14076333914611807902), url("collection-bg.png");
}

.template-product {
	background-position: right 620px,right 1785px;
	background-size: 130px auto,100px auto;
	background-repeat: no-repeat;
}

@media (min-width: 720px) {
	.template-index {
		background-position: left 160px,right 520px,left 1470px,100% 100%;
		background-size: 200px auto,210px auto,290px auto,200px auto;
	}
}

@media (min-width: 1001px) {
	.template-index {
		background-position: left 130px,right 520px,left 1370px,100% 100%;
	}
}

@media (min-width: 1200px) {
	.template-index {
		background-position: left 90px,right 1414px,left 1735px,100% 100%;
		background-size: 250px auto,300px auto,290px auto,260px auto;
	}
}

@media (min-width: 1024px) {
	.template-collection {
		background-image: url("collection-bg.png");
		background-repeat: no-repeat;
		background-position: bottom 50% right 0;
	}

	.template-product {
		background-image: url(collection-bg-rev.png), url(//cdn.shopify.com/s/files/1/0248/6983/t/12/assets/flower-bg1-720-rotated-cropped.jpg?14076333914611807902), url("collection-bg.png");
	}

	.template-product {
		background-position: left 575px,right 1414px,right 800px;
		background-size: 175px auto,300px auto,175px auto;
	}
}
