footer {
	padding: 3rem 0;
	border-top: 1px solid #eeeeee;
	text-align: center;

	.footer-section {
		margin-top: 10px;
	}

	.plants-in-a-box-promo img {
		display: inline-block;
		vertical-align: top;
	}

	p {
		display: inline-block;
		margin-bottom: 0;
		font-style: italic;
		font-size: .875rem;
		text-align: left;

		@include serif;
	}

	.footer-menu .footer-nav-links a,
	.ply {
		display: block;
		color: #666666;
		font-size: .75rem;

		@include sans-bold;
	}

	.footer-contact-menu .contact-menu-left,
	.footer-contact-menu .contact-menu-right,
	.footer-social-buttons .footer-social-links {
		display: inline-block;
	}

	.footer-menu .footer-nav-links a:hover {
		color: #ed403c;

		@include sans-bold;
	}

	.footer-social-buttons .footer-social-title {
		display: inline-block;
		margin-top: 5px;
		margin-right: 5px;
		vertical-align: inherit;
		font-style: italic;
		font-size: .75rem;
	}

	.footer-contact-menu {
		img.main-footer__ngiq {
			height: 48px;
		}
	}

	.footer-contact-menu svg {
		margin-right: .5rem;
		vertical-align: middle;
	}

	.footer-contact-menu .contact-menu-left {
		margin-right: 10px;
		font-style: italic;
		font-size: .75rem;
	}

	.footer-contact-menu .contact-menu-right a {
		display: block;
		color: #666666;
		font-size: .75rem;
	}

	.footer-contact-menu .contact-menu-right a:hover {
		color: #ed403c;

		@include sans-bold;
	}
}
