.site-nav--mobile {
    margin: 0;

    .icon {
        font-size: 1.5rem;
    }
}

.mobile-nav {
    padding: 0 1.5rem;
    .mobile-nav__item {
        background-color: white !important;
    }

    a {
        font-size: 18px;
    }

    .input-group {
        display: inline-table;
    }
}
