.banner {
	header.top-header {
		background: url("banner.jpg") 50% top no-repeat;
		background-size: cover !important;

		&.is-transparent {
			background: transparent;
		}
	}
}

header.top-header {
	position: relative;
	z-index: 2;
	z-index: 10;
	background-color: transparent;
	margin-bottom: $global-margin;

	.logo {
		position: relative;
		transform: translateY(-.5rem);
		transition: 150ms all ease-in-out;
		width: 7rem;
		display: block;
		margin-bottom: -3rem;

		@include breakpoint(medium) {
			margin-bottom: 0;
			width: 8rem;
			margin-right: 1rem;
		}

		@include breakpoint(large) {
			width: 9rem;
			margin-right: 1rem;
		}

		@include breakpoint(xlarge) {
			width: auto;
		}

		&:hover {
			transform: translateY(0);
		}
	}

	li.dropdown-category {
		.category-icon {
			margin-right: .9rem;
			vertical-align: none;
			vertical-align: sub;
			display: none;

			@include breakpoint(1250) {
				display: block;
			}
		}

		.category-title {
			text-transform: capitalize;
			line-height: 1em;
		}
	}

	ul.dropdown-categories {
		.category-title {
			white-space: nowrap;
		}

		.dropdown-container {
			background-color: white;
			padding: calc(#{$global-padding} * 3);
			box-shadow: 0 3rem 3.5rem 0 rgba(0, 0, 0, .2);
			left: 0;
			width: 100%;
			position: absolute;
			z-index: 1;
			color: $text-dark;
			display: none;
			transition: 100ms all;
			opacity: 0;
			transition-delay: 500ms;
			bottom: 1px;
			transform: translateY(100%);

			.dropdown-intro {
				padding-right: 1.5rem;
				margin-right: 1.5rem;
				border-right: 1px solid #DDDDDD;
				height: 100%;

				h3 {
					@include serif;
					font-weight: normal;
					text-transform: capitalize;
				}

				p {
					margin-top: 1rem;
					font-size: 20px;
					color: $text-light;
					line-height: 1.2;
				}

				a {
					color: inherit;
					font-size: 20px;
					font-weight: bold;
					text-decoration: underline;
					padding: 0;
				}
			}

			.single-category {
				a {
					color: white;
					display: block;
					font-weight: bold;
					padding: 1rem 1.5rem;
					font-weight: bold;
					background-color: $red;
					font-size: 20px;
					border-radius: 4px;
				}
			}

			ul.menu {
				li {
					width: 50%;

					a {
						font-size: 18px;
						padding: .8rem;
						font-weight: bold;
						color: $text-dark;

						&:hover {
							background-color: #eee;
						}
					}
				}
			}
		}

		.dropdown-category {
			color: white;
			font-weight: bold;

			&:hover {
				background-color: white;
				color: $text-dark;

				.category-title {
					opacity: 1;
				}

				.dropdown-container {
					display: block;
					opacity: 1;
				}
			}
		}

	}

	// Top Menu
	.menu-top {
		position: relative;
		z-index: 3;
		margin: .5rem 0;

		ul.menu {
			position: unset;

			li.dropdown-category {
				font-size: 20px;
				padding: 1.2rem 1rem;

				.category-title {
					text-transform: uppercase;
				}
			}

			.dropdown-container {
				margin-top: -.6rem;
			}
		}

		.menu-contact {
			background-color: $blue;
			display: block;
			padding: .6rem 1rem;
			border-radius: $global-radius;
			color: white;
			line-height: 1;
			text-align: center;
			margin-left: 1rem;
			display: none;

			@include breakpoint(1100) {
				display: block;
			}

			img.phone {
				width: 20px;
				margin-right: 1rem;
				display: none;

				@include breakpoint(1250) {
					display: block;
				}
			}

			img.arrow {
				width: 10px;
				margin-left: .5rem;
			}

			span {
				text-transform: uppercase;
				letter-spacing: 2px;
				opacity: .8;
			}

			.number {
				font-size: 20px;
				font-weight: bold;
			}
		}

		.menu-search {
			margin-left: 1rem;
			display: none;

			@include breakpoint(800) {
				display: block;
			}

			input {
				background: rgba(63, 63, 63, 0.66);
				border: 2px solid #FFFFFF;
				border-radius: $global-radius;
				margin-bottom: 0;
				max-width: 100%;
				font-size: 14px;
				height: 52px;
				width: 100%;
				padding: 1rem 0 1rem 1rem;
				font-weight: bold;
				font-size: 16px;
				color: #FFFFFF;
				transition: 150ms all ease-in-out;
				max-width: 18rem;

				@include breakpoint(large) {
					width: 100%;
				}

				@include placeholder {
					color: white !important;
				}

				&:hover {
					background: rgba(63, 63, 63, 0.8);
				}

				&:focus {
					width: 100%;
					background-color: white;
					color: $text-dark;
					box-shadow: none;

					@include placeholder {
						color: $text-dark;
					}
				}
			}
		}

		.contact-icon {
			position: relative;

			img {
				width: 1.2rem;
				margin-left: 1rem;
				margin-right: 1rem;
				margin-top: 0;
				position: relative;
				z-index: 3;
			}

			&:before {
				content: "";
				position: absolute;
				z-index: 2;
				background-color: $blue;
				height: 3rem;
				width: 3rem;
				top: 52%;
				left: 50%;
				border-radius: 50%;
				transform: translate(-50%, -50%);
			}

			@include breakpoint(1099) {
				display: none;
			}
		}
	}

	// Bottom Menu
	.menu-bottom {
		border-top: 1px solid rgba(255, 255, 255, .3);
		padding-top: .5rem;
		position: relative;
		z-index: 2;

		ul.menu {
			li.dropdown-category {
				font-size: 14px;
				padding: 1rem .5rem;

				.category-title {
					text-align: center;
					opacity: .7;
					position: relative;
				}

				ul.menu {
					li {
						flex: none;
					}
				}

				@include breakpoint(xlarge) {
					padding: 1.2rem .8rem;
					font-size: 16px;
				}
			}
		}
	}

	.menu-cart {
		background-color: $red;
		padding: $global-padding;
		text-align: center;
		color: white;
		border-radius: 0 0 $global-radius $global-radius;
		margin-left: 1.5rem;

		a {
			display: block;
		}

		.cart-title {
			padding: 0 .5rem .5rem;
			color: white;
			font-weight: bold;
			font-size: 16px;

			@include breakpoint(large) {
				font-size: 20px;
			}
		}

		.cart-button {
			padding: $global-padding;
			display: block;
			width: 100%;
			background-color: rgba(0, 0, 0, .05);
			border-radius: $global-radius;

			img {
				margin-right: .5rem;
			}

			span {
				color: white;
				margin-left: .3em;
				display: inline-block;
				position: relative;
				top: 2px;
				font-weight: bold;
				font-size: 16px;
				text-transform: uppercase;
			}
		}

		&:hover {
			.cart-button {
				background-color: rgba(0, 0, 0, .2);
			}
		}
	}

	//
	// mobile
	//

	.phone-number {
		color: white;
		font-weight: bold;
		font-size: 1.1rem;
		text-align: center;
		line-height: 1;
		padding-top: 1.1rem;

		img {
			height: 1.3rem;
			margin-right: .5rem;
		}

		a {
			color: inherit;
		}
	}

	.js-drawer-open-left,
	.js-drawer-open-right,
	.nav-cart {
		padding-top: $global-padding;
		display: block;

		@include breakpoint(medium only) {
			padding-top: 0;
		}
	}

	.relative {
		position: relative;
	}
}

.nav-cart {
	margin-left: 1rem;

	.cart-count {
		position: absolute;
		right: 0rem;
		bottom: 1.25rem;
		transform: translateY(150%);
		color: white;
		background-color: $red;
		padding: .5rem;
		font-size: 16px;
		font-weight: bold;
		border-radius: 4px;
		font-size: 13px;
		width: 100%;
		text-align: center;

		@include breakpoint(medium) {
			bottom: .5rem;
		}

		span.number {
			display: inline;
		}

		span.text {
			margin-left: .3em;
			display: inline;
		}

		&:before {
			content: '';
			position: absolute;
			top: -5px;
			right: .4rem;
			width: 0;
			height: 0;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-bottom: 6px solid $red;
		}
	}
}
