.topnav__second {
  display: none;

  ul {
    margin: 0;
  }

  .say__hello {
    float: right;
    text-align: center;

    p {
      font-size: 0.625rem;
      font-weight: 500;
      letter-spacing: 3px;
      color: #FFFFFF;
      margin-bottom: 0;
      display: inline-block;

      img {
        width: 10px;
      }

      strong {
        color: #FFFFFF;
        letter-spacing: 0px;
        display: block;
        margin-top: -3px;

        @include sans-bold;

        @include breakpoint(large) {
          font-size: rem-calc(20px);
        }
      }
    }

    img {
      width: 22px;
      margin-right: 8px;
      display: inline-block;

      &.headphone {
        vertical-align: baseline;
      }
    }
  }

  @include breakpoint(1150px) {
    display: block;
  }
}

.is--relative {
  position: relative;
}

/* Mobile CONTACT NUMBER */
.contact__mobile {
  text-align: center;
  padding-top: 1rem;

  p, a {
    color: #fff;
    margin-bottom: 0;
    font-size: 18px;

    img {
      width: 1.5rem;
      margin-right: 1rem;
    }

    @include breakpoint(medium) {
      font-size: 22px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1360px) {
  .topnav__second .say__hello img {
    display: none;
  }
}

@media only screen and (max-width: 1290px) {
  .search-button {
    display: none;
  }
}
