//override Foundation style
.accordion{
	a{
		&.accordion-title{
			&:before{
				content: "" !important;
				background:{
					image: url("./../assets/arrow-down.svg") !important;
					repeat: no-repeat;
					size: contain;
				};
				margin-top: 0;
				height: 7px;
				width: 10px;
			}
		}
	}
}