$bulk-gutter: rem-calc(16px);

.bulk-list {
    display: flex;
    flex-wrap: wrap;

    .bulk-option {
        margin-top: $bulk-gutter;
        width: 100%;
        flex-basis: 100%;

        &:last-child {
            @include breakpoint(small only) {
                margin-bottom: 0;
            }
        }

        @include breakpoint(medium only) {
            width: calc(33% - 12px);
            flex-basis: calc(33% - 12px);

            &:nth-child(3n + 2) {
                margin: {
                    right: $bulk-gutter;
                    left: $bulk-gutter;
                }
            }
        }

        @include breakpoint(large) {
            width: calc(50% - 9px);
            flex-basis: calc(50% - 9px);

            &:nth-child(odd) {
                margin-right: $bulk-gutter;
            }
        }

        &.is-toggle-options {
            margin-right: 0;
            margin-left: 0;
        }
    }

    &-reveal {
        background-color: rgba($singlegreen, 0.85);

        .bulk-option {
            border: none;
        }

        h2 {
            color: white !important;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

.button-cart {
    &.is-adding {
        &[disabled] {
            opacity: 1;
        }

        .button-cart-add {
            display: none;
        }

        .button-cart-adding {
            display: block;
            text-transform: lowercase;
            text-transform: capitalize;
        }
    }

    &-adding {
        display: none;
    }
}

//parent callout must be body to allow  fixed position
.out-stock-alert {
    background-color: $blue;
    border-radius: 2px;
    border: none;
    box-shadow: 0 22px 40px 0 rgba(0, 0, 0, 0.15);
    color: white;
    display: none;
    max-width: 400px;
    padding: 1.5rem;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 10;

    a {
        color: inherit;
        text-decoration: underline;
    }

    button {
        background-color: transparent;
        border: 1px solid white;
        padding: 0.625rem 1.125rem;
        text-transform: uppercase;

        &:hover {
            background-color: white;
            color: $blue;
        }
    }
}
