@mixin bulk-box-style {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem-calc(15px 24px);
}

.bulk-option {
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border: 1px solid #d7d7d7;

    &.hidden {
        display: none;

        @include breakpoint(small only) {
            //fading will make the bulk-option a block element, here extra style to make sure layout is not broken
            padding-bottom: rem-calc(70px);
            .button-cart {
                position: absolute;
            }
        }
    }

    &.is-hover {
        border: 1px solid $red;
        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.17);

        &:not(.is-toggle-options) {
            .bulk-option-wrap {
                opacity: 0;
            }

            .bulk-option-hover {
                transform: scaleY(1);
                top: 0;
            }
        }
    }

    &.is-toggle-options {
        cursor: pointer;

        &:hover {
            border-color: $red;

            .bulk-option-wrap {
                background-color: $red;

                span {
                    color: $lighter-red;
                }
            }

            .bulk-option-media {
                background-color: inherit;
            }
        }
    }

    &.has-select-qty {
        @include breakpoint(medium up) {
            display: none;
        }

        .bulk-option-wrap {
            border-bottom: 1px solid $border-grey;
            margin-bottom: rem-calc(20px);
        }

        .form {
            z-index: 1;
        }
    }

    &-cta-mobile {
        display: none;
        text-transform: uppercase;
        z-index: 1;

        @include breakpoint(small only) {
            display: block;
            font-size: 1rem;
            margin: rem-calc(0 24px 20px);
            width: calc(100% - 48px);
        }

        &.is-select-quantity {
            background-color: $blue;
            margin-bottom: rem-calc(8px);
        }
    }

    &-details {
        display: flex;
        flex-wrap: wrap;

        span {
            color: $lighter-red;
            font: {
                size: 1rem;
                weight: 700;
            }
            line-height: 1.2;
            width: 100%;

            &.green {
                color: $singlegreen;
                font-size: rem-calc(18px);
            }

            &.blue {
                color: $blue;
                font-size: rem-calc(17px);
            }

            &.uppercase {
                text-transform: uppercase;
            }
        }
    }

    &-field {
        display: none !important;
    }

    &-hover {
        @include bulk-box-style;

        @include breakpoint(small only) {
            display: none;
        }

        background: $red;
        padding-right: rem-calc(12px);
        position: absolute;
        left: 0;
        top: -100%;
        height: 100%;
        width: 100%;
        // transition-delay: .1s;
        transition: transform 0.25s ease-in-out, top 0.35s ease-out;
        transform: scaleY(0);
        z-index: 2;

        button {
            background-color: rgba(0, 0, 0, 0.05); //same as cart-button
            border-radius: 6px;
            font-size: rem-calc(20px);
            margin-bottom: 0;
            padding: 1rem;
            width: 100%;
            max-width: rem-calc(160px);
        }
    }

    &-media {
        background-color: $blue;
        margin: 0;
        padding: rem-calc(12px) !important;
    }

    &-total {
        color: $text-dark;
        font: {
            size: rem-calc(24px);
            weight: 700;
        }
    }

    &-wrap {
        @include bulk-box-style;

        background: white;
        height: 100%;
        opacity: 1;
        position: relative;
        transition: all 0.2s ease-in;
        z-index: 1;
    }
}
