.bulk-card{
    display: flex;
    justify-content: center;
    padding: 3rem 1rem 4rem;

    @include breakpoint(small only){
        background: white;
        border-radius: 6px;
        padding: 2rem 1rem;
    }

    &.bulk-out-stock{
        border: 1px solid $flurogreen;
        border-radius: 6px;
        padding: 2rem;

        @include breakpoint(small only){
            a{
                display: block;
                margin-top: 1rem;
            }
        }
    }

    &-toggle{
        font: {
            size: rem-calc(24px);
            weight: 500;
        }

        a{
            color: $blue;
            border-bottom: 1px dashed $blue;
            line-height: rem-calc(22px); //font-size + padding-bottom
            padding-bottom: 4px;

            @include breakpoint(small only){
                padding-bottom: 0;
            }
        }

        h4{
            color: $singlegreen;
        }
    } 
}