.bulk-dropdown{
    border: 1px solid $flurogreen;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    @include breakpoint(small only){
        flex-direction: column;
    }

    button{
        margin-bottom: 0;
        padding: 1rem;
    }

    select {
		background-color: #FFFFFF;
		background-position: right center;
		border: 1px solid $flurogreen;
        color: $singlegreen;
        flex-grow: 1;
        margin-bottom: 0;
		min-height: 60px;
        padding: 0 rem-calc(13px);
        width: auto;

        @include breakpoint(medium up){
            margin-right: 1rem; 
        }

        @include breakpoint(small only){
            margin-bottom: 1rem; 
        }
    }
    
    button, 
    select{
        font: {
            size: rem-calc(18px);
            weight: 700;
        };
        text-transform: uppercase;

        @include breakpoint(small only){
            width: 100%;
        }
    }
}