.custom-quote {
    &-reveal {
        background: $light-grey;
        margin: auto;
        max-width: 1165px;
        width: 90%;

        @include breakpoint(small only) {
            width: 100%;
            top: 0 !important;
        }

        .form-container {
            background: transparent;
            padding: 0 rem-calc(80px);

            @include breakpoint(small only) {
                padding: 0;
            }
        }

        button {
            margin-bottom: 0;
        }

        h2,
        h3 {
            color: $singlegreen;
        }

        h2 {
            margin-bottom: rem-calc(24px);
        }

        h3 {
            margin: {
                bottom: 1rem;
                top: rem-calc(24px);
            }
        }

        p {
            color: $text-dark;
        }
    }
}

.hide-quote-link-mobile {
    @include breakpoint(small only) {
        display: none;
    }
}
