#PageContainer.is-transitioning {
    opacity: 0.5;
}

.drawer__header {
    margin-bottom: 0;
    padding: 0 1.5rem;

    .drawer__title {
        font-size: 20px !important;
        margin-bottom: 0 !important;
        color: #496159 !important;

        @include sans-bold;
    }
}

.cart-empty {
    padding: 1.5rem;
}

.drawer {
    background-color: white;
    box-shadow: 0 0 25vw 0 rgba(0, 0, 0, 0.15);
    padding: 0 0;
    z-index: 100;
    max-height: 100vh;

    .ajaxcart__row {
        border-bottom-width: 0;
        margin-bottom: 0;
    }

    .ajaxcart__itemtotal {
        margin-top: 1rem;
        border-top: 1px solid #eee;
        padding-top: 1rem;
    }

    .ajaxcart__product-name {
        font-size: 16px;
        font-style: italic;
        line-height: 1;
        @include serif;
    }

    .ajaxcart__inner {
        margin-bottom: 0;
        // overflow-y: scroll;
        // height: calc(100vh - 450px);
        // height: calc(100vh - 480px);
        // background: #eaeaea;

        @include breakpoint(medium) {
            overflow-y: scroll;
            height: calc(100vh - 370px);
        }

        &::-webkit-scrollbar {
            width: 5px;
            height: 8px;
            background-color: #eee;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $red;
            margin-right: 2px;
            margin-top: 2px;
        }
    }

    .ajaxcart__product {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        border-radius: 2px;
        padding: 1rem;
    }

    .ajaxcart__product-meta {
        color: #496159;
        font-weight: bold;
    }

    .ajaxcart-item__price {
        font-size: 20px;

        @include sans-bold;
    }

    // Instructions
    .ajaxcart__instructions {
        border-bottom: 1px solid #e2f2ee;
        border-top: 1px solid #e2f2ee;

        textarea {
            padding: 1rem 1.5rem;
            min-height: 4rem;
            max-height: 10rem;
            background: #ffffff;
            border: none;
            margin-bottom: 0;
            box-shadow: inset 0 1px 2px rgba(72, 72, 72, 0);

            &::-webkit-input-placeholder {
                color: $text-dark !important;
            }

            &:-moz-placeholder {
                color: $text-dark !important;
            }

            &::-moz-placeholder {
                color: $text-dark !important;
            }

            &:-ms-input-placeholder {
                color: $text-dark !important;
            }
            &::placeholder {
                color: $text-dark !important;
            }

            @include placeholder {
                color: $text-dark !important;
            }
        }
    }

    #CartSpecialInstructions {
        ::-webkit-input-placeholder {
            color: $text-dark !important;
        }

        :-moz-placeholder {
            color: $text-dark !important;
        }

        ::-moz-placeholder {
            color: $text-dark !important;
        }

        :-ms-input-placeholder {
            color: $text-dark !important;
        }

        @include placeholder {
            color: $text-dark !important;
        }
    }

    // Footer
    .ajaxcart__footer {
        padding: 0 1.5rem;
        border-bottom: 1px solid #e2f2ee;
        padding-bottom: 1rem;

        .grid-x {
            padding: 1rem 0;
            border-bottom: 1px solid #e2f2ee;
        }

        p {
            font-size: 20px;
            margin-bottom: 0;
            color: #496159;

            @include sans-bold;
        }

        button {
            font-size: 20px;
            margin-top: 1rem;
            padding: 1rem;
            background-color: $red;

            @include sans-bold;
        }
    }
}
