//override Foundation style
select{
	background: {
		image: url("./../assets/arrow-down.svg") !important;
		size: 10px 7px !important;
	};
}

.form {
	.form-status{
		display: none;
		text-align: center;
		margin-top: 1rem;

		&.success,
		&.has-error{
			display: block;
		}

		&.has-error{
			p{
				color: $red;
			}
		}
	}

	input {

		&[type="text"],
		&[type="email"],
		&[type="tel"]{
			min-height: 60px;
			background-color: #FFFFFF;
			box-shadow: 0 22px 40px 0 rgba(0,0,0,0.05);
			margin-bottom: 16px;
			padding: 20px;
			color: $text-dark;
		}
	}

	select {
		background-color: #FFFFFF;
		background-position: right center;
		border: none;
		box-shadow: 0 22px 40px 0 rgba(0,0,0,0.05);
		color: $grey;
		margin-bottom: 16px;
		min-height: 60px;
		padding: 0 20px;

		&.selected{
			color: $text-dark;
		}
	}

	textarea {
		height: 210px;
		width: 100%;
		background-color: #FFFFFF;
		box-shadow: 0 22px 40px 0 rgba(0,0,0,0.05);
		padding: 20px;
		color:$text-dark;
	}

	input,
	textarea {
		border: none;

		&:active,
		&:focus {
			outline: none;
			border: none;
		}

		&.has-error{
			border: 1px solid $red;
		}
	}

	&-footer {
		margin-top: 30px;
	}

	button {
		text-transform: uppercase;
		font-weight: bold;
		border-radius: 2px;
		font-family: Futura;
		font-size: 18px;
		line-height: 25px;

		i {
			position: relative;
			right: -20px;
		}
	}
}


