.reveal{
    -webkit-overflow-scrolling: touch; // Safari enhancement: use native-style scrolling in an overflow:scroll element.

    &.full{
        top: 0 !important;
    }
}

.template-product{
    .reveal-overlay{
        background-color: rgba($singlegreen, 0.85);
    }

    &.is-reveal-open {
        .reveal-overlay {
            &[style="display: block;"] {
                // needed to target overlay currently open
                display: flex !important;
                align-items: center;
            }
        }
    }

}