.service{
    margin-bottom: 1rem;
    position: relative;
    width: 50%;
    flex-basis: 50%;

    @include breakpoint(small only){
        width: 100%;
        flex-basis: 100%;
    }

    a{
        color: inherit;
        border-bottom: 1px dashed $blue;
        padding-bottom: 3px;

        &:hover{
            color: $blue;
        }
    }

    h4{
        color: $singlegreen;
        font-size: rem-calc(18px);
        padding-left: rem-calc(40px);
    }

    img{
        max-height: 20px;
        position: absolute;
    }

    &-list{
        border: {
            color: $border-grey;
            style: solid;
            width: 1px;
            left: 0;
            right: 0;
        };
        display: flex;
        flex-wrap: wrap;
        padding: 2rem 1rem 1rem;
        margin-bottom: 2rem;

        @include breakpoint(small only){
            padding-left: 0;
        }
    }
}
