//override Foundation style
.switch{

	&.tiny{
		margin-bottom: 0;

		@include breakpoint(medium up){
			height: rem-calc(16);
		}

		input{
			&:checked{
				~ .switch-paddle{
					&:after{
						left: rem-calc(40);

						@include breakpoint(medium up){
							left: rem-calc(14);
						}
					}
				}
			}
		}

		.switch-paddle{
			@include breakpoint(medium up){
				height: rem-calc(16);
				min-width: rem-calc(28);
				width: rem-calc(28);

				&:after{
					height: rem-calc(12);
					width: rem-calc(12);
					top: rem-calc(2);
					left: rem-calc(2);
				}
			}
		}
	}

}