.upload{
	position: relative;
	transition: all 0.33s ease-in-out;

	&:hover{
		box-shadow: 0 22px 40px 0 rgba(0,0,0,0.15);
		transform: scale(1.01);
	}

	&-area{
		background: white;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 290px;
		padding-top: 1rem;
		position: relative;
		width: 100%;
		z-index: 2;

		&-label{
			color: $red !important;
			margin-top: rem-calc(30);

			&:hover{
				text-decoration: underline;
			}
		}

		&-loading{
			display: none;
			background: rgba($singlegreen, 0.9);
			color: white;
			font-size: rem-calc(24);
			position: absolute;
			height: 100%;
			width: 100%;
			z-index: 10;

			@include breakpoint(small only){
				font-size: rem-calc(20);
			}

			&.is-uploading{
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: rem-calc(28);
				
				.loading-message{
					display: block;
				}
			}

			&.has-error{
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				padding: 1rem;

				.upload-errors{
					display: flex;
					flex-direction: column;
					justify-content: center;
				}
			}

			.loading-message, 
			.upload-errors{
				display: none;
			}
		}

		&-media{
			height: 45px;
			width: 60px;
		}
	}

	&-fields-wrap{
		position: absolute;
		top: 0;
		z-index: 1;
	}

	&-field{
		height: 1px;
	}

	&-preview{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		// justify-content: center;
		height: 100%;
		width: 100%;

		&-name{
			white-space: nowrap;
  			overflow: hidden;
  			text-overflow: ellipsis;
		}

		&-wrap{
			position:relative;

			&.show{
				.upload-preview-overlay{
					opacity: 1;
					z-index: 4;
				}
			}
		}

		&-overlay{
			background: rgba($singlegreen, 0.6);
			border-radius: 10px !important;
			color: white;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			opacity: 0;
			padding: rem-calc(8);
			position: absolute;
			left: 1rem;
			top: 1rem;
			transition: opacity 0.33s ease-in-out;
			height: calc(100% - 2rem) !important;
			width: calc(100% - 2rem);

			button{
				cursor: pointer;
				margin-bottom: 0;
				padding: rem-calc(5 10);
				width: 100%;

				@include breakpoint(small only){
					font-size: rem-calc(12) !important;
				}
			}

			span{
				font-weight: 500;
				width: 100%;
			}

		}

		img{
			background: white;
			border-radius: 10px;
			cursor: pointer;
			object-fit: cover;
			position: relative;
			z-index: 1;

			opacity: 0;
			visibility: hidden;
			height: 0;
			width: 0;
			transition: all 0.33s ease-in-out;

			&.uploaded{
				margin: 1rem;
				z-index: 3;

				opacity: 1;
				visibility: visible;
				height: 150px;
				width: 150px;

				@include breakpoint(small only){
					height: 120px;
					width: 120px;
				}
			}
		}
	}
}

