.user{
	&-links{
		margin-top: 2rem;
	}

	&-link{
		background: {
			image: url("./../assets/blue-link.svg");
			repeat: no-repeat;
			position: rem-calc(24) center;
		};
		padding: {
			left: 60px !important;
			right: 60px !important;
		};

		&-toggle{
			color: $grey;
			cursor: pointer;
			height: 60px;
			width: 60px;
			outline: none;
			position: absolute;
			top: 0;
			right: 0;

			&.is-removable{
				transform: rotate(45deg);
			}
		}

		&-wrap{
			position: relative;
		}
	}
}